[2019-02-07 15:36] limonte commented on #1407
What stops you from upgrading to `7.33.1`?

It works like expected, the `close()` method will **dismiss** the current popup, and therefore the next one will not be shown.

Yup, `clickConfirm()` is the right way if you want to get to the next step programmatically.

[2019-02-07 15:36] #1407 closed

[2019-02-07 15:44] snsarma commented on #1404
@gverni

Thanks for the inputs and pointing it out , I tried things similar to the example there but didn't work for me, The way I am trying to do it by emulating the example it doesn't seem to resolve my issue. I am here with attaching my code :
I want to check if the ID field has a value or not and if not then it should throw an error to the UI , if not extract the value and send it to the API t

[2019-02-07 16:02] limonte commented on #1404
https://stackoverflow.com/questions/ask

[2019-02-09 22:02] aliogaili opened #1408 "Backdrop not rendering correctly in Chrome"
The backdrop is not being rendered correctly in chrome and sometimes it shows some flicker. That has recently been noticed in the latest version of chrome. The issue can be observed on the Sweetalert2 website, please see attached image.

Chrome version: Version 73.0.3683.27 (Official Build) beta (64-bit)

<img width="1440" alt="screen shot 2019-02-10 at 1 58 27 am" src="https://user-images.githubu

[2019-02-09 22:27] limonte commented on #1408
Can't reproduce (Windows 10)

Version 73.0.3683.27 (Official Build) beta (64-bit)

[2019-02-09 23:37] aliogaili commented on #1408
I reinstalled chrome and it's back to normal! sorry for the false alarm.

[2019-02-09 23:37] #1408 closed

[2019-02-11 14:43] Vlummy commented on #831
You can write your  html tags as String lines in the html attribute.  Doesnt  matter what you put there.
![image](https://user-images.githubusercontent.com/32965426/52570462-be17d500-2e13-11e9-85c8-3cbd1ddda96b.png)

I have not tried with select tag, but i guess hat works too

[2019-02-11 17:06] MoussaOudihat commented on #451
How can i set the html input required in sweetalert2

[2019-02-11 20:16] gverni commented on #451
@MoussaOudihat have a look to [this](https://stackoverflow.com/questions/54577739/sweetalert2-validation-required-for-one-of-the-fields/54582551#54582551). If it doesn't answer your question, please raise a new question on stackoverflow.

[2019-02-12 07:14] anish-techpro commented on #1168
https://jsfiddle.net/5jrf7cLy/27/

in this fiddle,
1. launch the modal
2. click "Save Changes" button
3. click 'ok' in the swal

repeat steps 2 & 3 for more than once or twice and you will see that the padding in the body getting increased, but on clicking 'ok' in the swal the padding is not removed.

please check.

[2019-02-12 10:30] gverni opened #1409 "Bug: missing measure in setting paddingRight in undoScrollbar()"
## Current behavior

When setting `paddingRight` in `undoScrollbar()`, the measure for the padding is missing. This line:

https://github.com/sweetalert2/sweetalert2/blob/9d71cdc3c78740049dd85034d2ff1273d56655c2/src/utils/scrollbarFix.js#L18

Should be changed adding `'px'`.

This causes the setting for the padding to be ignored. See #1168.

To reproduce:

* Go to: [https://issue-1409.glitch.me/](

[2019-02-12 10:50] gverni commented on #1168
Thanks @anish-techpro for the reproduction steps. I raised #1409 to track this. You can subscribe to that issue to get update on the fix.

[2019-02-12 22:04] #1409 closed

[2019-02-12 22:09] limonte commented on #1409
:tada: This issue has been resolved in version 8.0.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-13 05:26] cdsmith commented on #46
It is extremely confusing that there are now two incompatible libraries called "sweetalert v2.0" and "sweetalert2".  At the very least, it would be nice to make it clear in the documentation for this project what the relationship is.

[2019-02-13 09:16] limonte commented on #1075
This is fixed starting from [v8.0.0](https://github.com/sweetalert2/sweetalert2/releases/v8.0.0)

[2019-02-13 09:16] #1075 closed

[2019-02-13 19:17] tomholub opened #1412 "modal adding unwanted padding-right on body"
Thanks for otherwise awesome work!

## Current behavior

Modal is adding a `padding-right: 15px` style on `body` tag. I understand this is to compensate for possible scrollbars, but in our case it messes with our design. Our body elements are meant to stretch all the way to the right edge, and the body padding makes it look broken.

Happens here:
[code]

## Expected behavior

Don't change padding

[2019-02-14 10:53] limonte commented on #1412
Thank you for the perfectly made feature request, @tomholub!

We will add the config option for disabling this feature. Do you maybe have a good name for that config on your mind?

[2019-02-14 11:05] tomholub commented on #1412
`bodyScrollbarPadding` (default true)

It's a horrible name but at least I can find it in the docs when I search for `body`, `padding` and `scrollbar`.

`fixBodyScrollbarPadding`
`compensateBodyScrollbar`
`scrollbarPadding`

They all sound about equally bad.

Thanks!

[2019-02-14 11:08] tomholub commented on #1412
Or more general,

`adjustBodyStyle` with default true. Later other possible style updates could be lumped under that flag. If I set it to false, I know my `<body>` tag would stay the same.

[2019-02-14 11:37] gverni commented on #1412
How about a _negative_ such as `disableBodyStyleAdjustment`, with the default value set to `false`?

[2019-02-14 12:57] tomholub commented on #1412
Either is good

[2019-02-14 18:00] limonte commented on #1412
I'm more in favor of positive with default `true` for two reasons:

- the name is 7 chars shorter (no need in `disable` prefix)
- double negatives are more difficult to understand for human beings

`scrollbarPadding` (default `true`) is the best option so far IMO, it's short and search-friendly.

[2019-02-15 02:33] chrischi0922s opened #1413 "Sweet alert version number"
note the version number of sweetalert in SweetAlert.js PLEASE.

[2019-02-15 06:01] #1413 closed

[2019-02-15 09:15] limonte commented on #1386
I actually disagree with this statement. The fact that users can do all-kind-of-things, e.g. `$('.swal2-progresssteps')` doesn't mean that the `swal2-progresssteps` classname is a part of public API. It's not. It might be changed at any point.

`Swal.getProgressSteps()` is the public API, it's documented in https://sweetalert2.github.io/#methods

[2019-02-15 17:08] zenflow commented on #1386
Not sure the point of the question, but a part of the API might be undocumented because (1) it was neglected, (2) it is just not feasible to document every little detail of the API, (3) it's experimental and might be removed in the next major release.

Yes it does. It's the subset of the public API that is undocumented.

[2019-02-15 17:34] zenflow commented on #1386
I am reminded that there is a fine line between "implementation detail" and "public API".

I would not look at the classnames as just implementation details (better to look at as public API), because people will often depend on them (and the whole HTML structure) to do their own css, even though it isn't documented, or in any way indicated to be anything other than an implementation detail. This s

[2019-02-16 19:23] limonte commented on #1386
Public API is the fundamental term, I'd like to avoid any "fine lines" about it. Imagine traffic rules with "fine lines" about the green light. That would lead to deaths, injuries, and disputes about whose understanding of a fine line is correct.

To avoid misunderstandings it should be **clearly defined** what is Public API and what it not. 1 or 0. "I would (not) look" and other subjective opinio

[2019-02-17 15:33] #1405 closed

[2019-02-17 15:38] limonte commented on #1405
:tada: This issue has been resolved in version 8.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-17 17:15] #1412 closed

[2019-02-17 17:21] limonte commented on #1412
:tada: This issue has been resolved in version 8.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-17 17:59] tomholub commented on #1412
Thank you!

Would you take donations in cryptocurrency? Was trying to donate $150 over PayPal but it's giving us trouble. BTC or ETH would be a lot easier.

[2019-02-17 23:02] limonte commented on #1412
Thank you @tomholub for your appreciation of our work! I guess it's time for me to step into the bright future with cryptocurrencies. I'm planning to spend your generous donation on https://gitcoin.co whenever we will need additional attention to some feature(s) or issue(s) from the community.

Here are available wallets:

- Bitcoin: `12BxefvPMtHePgfPRDL1SaZYSG4GwQmWoP`
- Ether: `0x36e2b10666e2c0d

[2019-02-18 12:09] SchoppAx commented on #679
Hi guys,

I still have the issue if I'm using any bottom positioning.

Testet with the last release (8.2.0) on different browsers (like FF, Chrome, Safari):
https://jsfiddle.net/1sLmb7j2/

[2019-02-18 12:21] limonte opened #1416 "Unable to scroll to the top of the modal when using a long text + position: 'bottom-end'"
Hi guys,

I still have the issue if I'm using any bottom positioning.

Tested with the last release (8.2.0) on different browsers (like FF, Chrome, Safari):
https://jsfiddle.net/1sLmb7j2/

_Originally posted by @SchoppAx in https://github.com/sweetalert2/sweetalert2/issues/679#issuecomment-464709016_

[2019-02-18 12:22] lukasmedia commented on #831
@Vlummy select doenst work, all other types do work. Suggestions?

[2019-02-18 12:46] SchoppAx commented on #1416
A fix could be:

``.swal2-container.swal2-bottom-end, .swal2-container.swal2-bottom-right {
    align-items: flex-start;
    justify-content: flex-end;
}

.swal2-container.swal2-bottom-end > :first-child {
    margin-top: auto;
}``

[2019-02-18 12:50] limonte commented on #1416
Thank you for the suggested solution @SchoppAx! Would you mind to create a PR with it?

[2019-02-18 12:52] SchoppAx commented on #1416
Of course. Ii will create it later :-)

[2019-02-18 12:53] limonte commented on #1416
Thank you, here's the contributing guide: https://github.com/sweetalert2/sweetalert2#contributing

[2019-02-18 15:27] #1416 closed

[2019-02-18 15:33] limonte commented on #1416
:tada: This issue has been resolved in version 8.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-18 19:05] rosaiph commented on #451
olá

[2019-02-18 19:05] rosaiph commented on #451
usei desta forma mas os meus inputs não aparecem, pode me ajudar ?

[2019-02-18 19:14] gverni commented on #451
Hi @rosaiph, can you translate your comment in english please?

[2019-02-18 19:16] gverni commented on #831
Hi @lukasmedia, could you provide a code sample with the issue you are having with `select`?

[2019-02-18 19:18] taxpayer commented on #451
@rosaiph O idioma padrão para dúvidas e outras perguntas neste repositório é o inglês. Mande suas dúvidas em inglês ou então procure ajuda no Stackoverflow em português por tag: https://pt.stackoverflow.com/questions/tagged/sweetalert

@gverni "The standard language for doubts and other questions in the repo is English. Send your doubts in English ou look for help in Stackoverflow in Portuguese us

[2019-02-18 19:37] nilomario commented on #812
Hi, I have an error (or nothing shows) on put a Text with quotes when I refer to inches ( " or ´´)

swal({
  text: ' Product X 10" '
})

or

swal({
  text: ' Product X 10' '
})

Any help?..Thanks!!!

[2019-02-18 19:40] zenflow commented on #812
@nilomario please open a bug report (with reproduction) for this

[2019-02-18 19:55] nilomario opened #1418 "'text' bug"
Hi, I have an error (or nothing shows) on put a Text with quotes when I refer to inches ( " or ´´)

swal({
  text: ' Product X 10" '
})

or

swal({
  text: ' Product X 10' '
})

Any help?..Thanks!!!

[2019-02-18 20:19] limonte commented on #1418
https://stackoverflow.com/questions/ask

[2019-02-18 20:19] #1418 closed

[2019-02-19 01:37] zenflow commented on #1386
@limonte It would be nice if everything was so simple, and could be classified objectively as 1 or 0, black or white, but unfortunately reality is not like that. "public API === documented API" is simple, but not very objective since doesn't adhere to the consensus idea of what an API is.

Besides, even if we could use that definition of public API, there are still problems with it.
- There are lo

[2019-02-19 08:05] Franki1986 commented on #664
Hello,

Is there any way to position a popup based on an element?
Something like :

[code]

So that the popup will display at the top-right of my div element?

[2019-02-19 08:12] gverni commented on #664
Hi @Franki1986, yes there is. You can use the property `target` to specify which element to put the swal into. Have a look to issue #1244 as well for some more information.

[2019-02-19 08:32] Franki1986 commented on #664
Hi, thanks for your reply! I have done a quick test, but this seems not to create the expected result.
I thought that the popup would display at the top of my div.

[example](https://jsfiddle.net/franki1986/nxw5Lpac/6/)

[2019-02-19 08:50] gverni commented on #664
glad it worked now @Franki1986. I agree we should add an example, but it's not easy with the design of the current documentation page. Let us think about it.

[2019-02-19 11:25] tomholub commented on #1412
Noted, will do!

[2019-02-19 12:15] ChristianCruiz opened #1419 "Cannot add swal2 css class in the html parameter"
## Current behavior
I tried to fire a swal using the html paramter because i needed more than 2 buttons in the floating window.

I wanted the window to look exactly like a 2 buttons swal without html,
so in the html parameters i put three buttons and then placed the class of one of the buttons to be "swal2-cancel" and "swal2-confirm" for the two other buttons
and unfortunately whenever i try to fi

[2019-02-19 12:23] limonte commented on #1419
Welcome to GitHub, @ChristianCruiz

Would you mind sharing the code you're trying to use? Or even better, provide a glitch, here's how: https://github.com/sweetalert2/sweetalert2/wiki/How-to-provide-live-example-for-issue

[2019-02-19 15:22] ChristianCruiz commented on #1419
ok i added
here is the project and the output link:
output : https://boiling-output.glitch.me
code : https://glitch.com/edit/#!/boiling-output

pay attention that the glitch appears only when the classes "swal2-cancel" and "swal2-confirm" are added to the buttons

[2019-02-19 15:43] limonte commented on #1419
Thanks @ChristianCruiz

Looks like a bug

[code]

[2019-02-20 11:58] #1419 closed

[2019-02-20 12:03] limonte commented on #1419
:tada: This issue has been resolved in version 8.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-20 12:28] limonte opened #1421 "Swal.isVisible() incorrectly returns true"
One thing I noticed while designing that test is that the `Swal.isVisible()` is quite a misleading name. In fact it's just checking if the swal has been _built_ but not if it's actually visible on screen:

https://github.com/sweetalert2/sweetalert2/blob/3a8d0046cc52c70be5fb9df1b4e4888250f08dd9/src/staticMethods/dom.js#L23-L25

If you execute that method on the example provided for this issue, it r

[2019-02-20 19:38] Vlummy commented on #831
![image](https://user-images.githubusercontent.com/32965426/53119212-3aff2900-354f-11e9-910d-71c500b33ca5.png)

![image](https://user-images.githubusercontent.com/32965426/53119237-48b4ae80-354f-11e9-9dbd-93250ceb52d9.png)

I can't say what the problem might be without your code, but as far as my attempt goes, it should work fine. I use SweetAlert2

[2019-02-20 19:43] limonte commented on #831
@Vlummy you might want to RTFM better https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select

[2019-02-21 09:18] ChristianCruiz commented on #1419
Thank you very much !
Helped me alot

[2019-02-21 18:58] #1421 closed

[2019-02-21 19:03] limonte commented on #1421
:tada: This issue has been resolved in version 8.2.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.2.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-22 15:40] jamrsim commented on #892
It would be extremely helpful to link this comment to [https://github.com/sweetalert2/sweetalert2#browser-compatibility](url)

[2019-02-24 18:22] zenflow opened #1426 "Support use of Swal in Jest testing environment"
## New feature motivation

A few days ago I was working on https://github.com/sweetalert2/sweetalert2-react-content/pull/72, and when I left it, the last commit (https://github.com/sweetalert2/sweetalert2-react-content/pull/72/commits/33fe8d658e48c466325e77dde8b33488519c8cfc) had passing tests.

When I came back to it a couple days later, the same commit had failing tests due to the v8.2.3 patch r

[2019-02-24 18:25] zenflow commented on #1426
Note: This is an issue with Jest v23 *and* Jest v24

[2019-02-25 03:37] simon1tan opened #1427 "close icon not showing correctly"
I'm having the weirdest problem here. Code is simple:

    <!DOCTYPE html>
    <html lang=en>
    <script src="../sweetalert2.all.min.js"></script>
    <body></body>
    </html>
    <script>
	Swal.fire({
		text: 'Save is disabled in Demo Mode',
		position: 'top-end',
		type: 'warning',
		showConfirmButton: false,
		showCloseButton: true,
		timer: 30000
	})
    </script>

This code shows the letter

[2019-02-25 11:42] gverni commented on #1427
Hi @simon1tan i remember seeing that once, but I don't remember what the problem was. To help us debugging can you:

* Check the browser console for any error
* Take a screenshot of the `button` element from dev console (to show it, you can right click on the close button and  select "Inspect element")
* Provide browser (with version) used in your test
* Also, how are you serving your page? Is it

[2019-02-26 00:24] simon1tan commented on #1427
Chrome Version 72.0.3626.109  (it's updating, will update this if problem resolves)
No errors in the log.
Serving via file:// and http://localhost with Apache on Windows. Same issue.
![swal-close2](https://user-images.githubusercontent.com/1250858/53378112-58e6d800-3919-11e9-8194-813d26167ce6.png)

The working version shows:
`    <button type="button" class="swal2-close" aria-label="Close this dia

[2019-02-26 04:23] kishoredr opened #1430 "Sweetalert 2 JS is not working properly in small devices"
Hello, I'm using a SweetAlert2 the alert popups, in the desktop version coming fine but in mobile/ small devices is not working properly

[code]

Desktop version:

![rcqzm](https://user-images.githubusercontent.com/5820212/53387239-f38ff700-39ab-11e9-9ee8-f270928904c0.png)

Mobile Version:
![vttzw](https://user-images.githubusercontent.com/5820212/53387254-099db780-39ac-11e9-9951-07ec6f15be0e.jpg)

[2019-02-26 07:14] gverni commented on #1430
Hi @kishoredr, I already replied to you on the stackoverflow question. If swal works fine with the examples on https://sweetalert2.github.io/, that means that your page is adding something that messes up the swal. Could you provide a live demo of your issue following the instructions [here](
https://github.com/sweetalert2/sweetalert2/wiki/How-to-provide-live-example-for-issue)?

[2019-02-26 08:43] gverni commented on #1427
Thanks @simon1tan. The `x` is set in this line:

https://github.com/sweetalert2/sweetalert2/blob/5be77b65ecee1bebe78df01e7a2de01d8bb612f0/src/utils/dom/init.js#L32

As I said, I remember seeing this one in one of my test, but i cannot recall what was the problem. Can you confirm that you are not importing any other script/framework?

[2019-02-26 10:39] gverni commented on #1427
Hi @simon1tan i found the problem. The `x` in the is encoded in UTF-8. If you convert the UTF-8 ` x` into ANSI, it becomes ....  `Ã—`. You need to make sure that when you serve the sweetalert script, the content type is set to `charset=utf-8`.

[2019-02-26 10:48] gverni commented on #1427
Alternatively, you can set the encoding using the script tag:

[code]

[2019-02-26 10:51] limonte commented on #1427
Hm, this is interesting. I would not assume that some users will use something else from UTF-8, but since it's the case sometimes, should we replace `×` with `&times;`? @gverni wdyt?

[2019-02-26 10:57] gverni commented on #1427
Yes, I think so. It's definitely adding robustness and improve accessibility...

[2019-02-26 10:58] limonte commented on #1427
Agree, I'll take care of creating a PR 👍

[2019-02-26 12:45] #1427 closed

[2019-02-26 12:52] limonte commented on #1427
:tada: This issue has been resolved in version 8.2.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.2.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-26 18:31] limonte commented on #1405
@lnneth please note #1428 where we changed some SASS variables

[2019-02-26 21:23] limonte commented on #1426
This issue is weird, thank you for making the repo @zenflow!

While on the `upgrade-sweetalert2-to-v8.2.3` branch in `node_modules/sweetalert2.all.js` make this change:

[code]

Tests are passing.

Also, they are passing with

[code]

But they are failing with

[code]

I wonder how something can be incredible if it's failing without any sane reasons for failing and without any helping information

[2019-02-27 03:57] dorklord23 opened #1432 "_sweetalert2.default.showValidationMessage is not a function"
## Current behavior

I want to display a validation message with showValidationMessage() on preConfirm. It's initially successful but a day after, it doesn't work anymore and gives me the error: `_sweetalert2.default.showValidationMessage is not a function`.

![image](https://user-images.githubusercontent.com/17370471/53464800-37533100-3a7e-11e9-8274-b6ef8005971b.png)

## Expected behavior

This s

[2019-02-27 04:52] dorklord23 commented on #1432
Never mind. I still use version 7.xx while the doc already refers to version 8.xx.

If we live in Japanese shogunate, I should do _harakiri_ to redeem my folly lol

[2019-02-27 04:52] #1432 closed

[2019-02-27 16:50] WillGoldstein opened #1433 "Drop down list behind buttons"
Hi,

I'm seeing this css issue:

![image](https://user-images.githubusercontent.com/20759342/53507489-0414a000-3a86-11e9-9400-030c4c63b3a7.png)

Where the buttons are in front of the drop down list which is a select object using selectize.js.

Has anyone seen this before? It's probably a css conflict but I wasn't sure if it's been seen or solved already by someone else?

[2019-02-27 16:56] limonte commented on #1433
You probably need to apply `z-index` to selectize dropdown. For more help please follow the issue template.

[2019-02-27 16:56] #1433 closed

[2019-02-27 21:06] rosaiph commented on #451
good afternoon,

I have this sweetalert and I need to apply a validation to not let pass my inputs empty, but I do not know but what to do already tried jquery validate everything but it does not work can help me follow my Swal

 swal.fire (
                {title: "End Event!",
                animation: true,
                customClass: 'bounceInDown',
                showCancelButton: true,

[2019-02-27 21:08] rosaiph commented on #451
I have a simulator. https://codepen.io/anon/pen/OqVqaN

[2019-02-27 21:23] gverni commented on #451
Hi @rosaiph colu you raise you question as an issue on https://github.com/sweetalert2/sweetalert2-examples? I'm going to help you there

[2019-02-28 08:56] gverni commented on #451
@rosaiph I created an example of custom form validation [here](https://github.com/sweetalert2/sweetalert2-examples/tree/master/forms/login)

[2019-02-28 13:50] rosaiph commented on #451
Hello,

How do I use this to ask for help in this tool that you told me?

[2019-02-28 13:50] rosaiph commented on #451
Hello,

Thank you, I'll see your example!

[2019-02-28 13:55] gverni commented on #451
Thanks @rosaiph. If you have any doubts with the example, then please just raise an issue on [that repository](https://github.com/sweetalert2/sweetalert2-examples) (not this one)

[2019-02-28 18:55] rosaiph commented on #451
Thank you so much, it saved my day.

[2019-02-28 22:00] seanvree commented on #546
Sweetalert2 is bad ass.  I do wish, however, that there was a way to asynchronously load two modals.

Cheers.

[2019-02-28 22:26] gverni commented on #546
Hey @seanvree would you mind explaining the use case for that? A modal (by definition) is a child window that the user must interact with. If you have multiple modals the user still have to interact with them one by one. So you might as well have a sequence of modals instead, for example using queues and mixins.

[2019-03-01 00:40] seanvree commented on #546
@gverni  I wasn't aware that a modal MUST be interacted with by the user. In that case, you're right.

I was just trying to have two "alerts" (non-interactive) in the browser at the same time.

[2019-03-01 12:36] taxpayer commented on #546
@seanvree If you want multiple non-interactive alerts (or messages) at the same time, why don't you go with toasts?

Look for the *toast* option in the configuration.

[2019-03-01 16:01] KSahithyan commented on #578
But it says html is not in the SwalOptions..?
What should I do now?

I am using sweetalert@2.1.2

[2019-03-01 16:10] gverni commented on #578
Hi @KSahithyan I think you are using Sweetalert and not Sweetalert2. The repo for sweetalert is [here](https://github.com/t4t5/sweetalert). You are more than wellcome to move to Sweetalert2 using [this guide](https://github.com/sweetalert2/sweetalert2/wiki/Migration-from-SweetAlert-to-SweetAlert2)

[2019-03-01 16:22] KSahithyan commented on #578
@gverni Sorry I am using Sweetalert2. But HTML is not in that, that was changed as content..
link :- https://sweetalert.js.org/guides/#upgrading-from-1x

[2019-03-01 16:27] gverni commented on #578
@KSahithyan what you are using is Sweetalert version 2.x not Sweetalert2. I know, the names can be confusing, but Sweetalert2 (this repo) is a fork of Sweetalert. If you have problem with Sweetalert you need to use the [other repo](https://github.com/t4t5/sweetalert). Hope this clarify

[2019-03-06 00:10] hajududat opened #1437 "Confirm and Cancel buttons are stacking"
We have a cancel button that displays the alert. When the alert first displays, the Confirm and Cancel buttons appear stacked. When the alert is canceled and the page is refreshed, and then the cancel button is clicked to display the alert, the Confirm and Cancel buttons will now appear inline. It doesn't matter if the reverseButtons is set to true or false, either way it stacks.

Stacked:
<img wi

[2019-03-06 10:48] limonte commented on #1437
There's some custom styling applied to those confirmation dialogs, it's quite impossible to answer your question without any code.

Please follow the issue template and provide the live demo.

[2019-03-06 10:48] #1437 closed

[2019-03-06 11:12] limonte commented on #1426
Just checked the situating with `jest` once again. They finished https://github.com/facebook/jest/issues/7807 and released https://github.com/facebook/jest/releases/tag/v24.2.0-alpha.0

The new `jest` release didn't fix the issue with SweetAlert2 >= 8.2.3

The code coverage dropped to 62%, the Travis CI dashboard is still as red as Chinese parade.

They seem to chase new technologies like TS inste

[2019-03-06 13:10] limonte commented on #1426
Reported the issue to https://github.com/facebook/jest/issues/8062

[2019-03-06 13:51] hajududat commented on #1437
Unfortunately no live demo available as it's not public facing. The only styling is CSS using the ButtonClass feature for color minor padding. So this is an issue that should not be closed.

[2019-03-06 13:54] gverni commented on #1437
@hajududat if the only styling you apply is the `confirmButtonClass` and `cancelButtonClass` then it should be easy for your to re-create a live example (e.g. remixing https://sweetalert2.glitch.me/). The issue was definitely never seen with the default configuration and if you need our help debugging, we need a live example to wok on. Hope you understand.

[2019-03-06 13:56] hajududat commented on #1437
@gverni I edited my answer above. Even without styling it does this.

[2019-03-06 14:01] hajududat commented on #1437
@gverni Since the app is in development, it will only load while logged into the client's VPN. So I don't know how I can create a live example due to security.

[2019-03-06 14:05] gverni commented on #1437
@hajududat can you not just extract the relevant code from the page? We don't need the full page, just the simplest version of your page that shows the issue

[2019-03-06 14:45] hajududat commented on #1437
@gverni First, my apologies for coming off irritable. I've been fighting this and do not understand why it's happening. I'm not sure how to extract the code on an Angular app, or how to get you a demo to recreate. My process for this project was to create all the HTML and CSS files that were then handed off to a dev team building the Angular app. My role now is going in and fixing mostly styling b

[2019-03-06 15:08] limonte commented on #1437
You might want to learn how to use Google Chrome dev tools: https://www.youtube.com/watch?v=x4q86IjJFag

[2019-03-06 22:34] WillGoldstein opened #1438 "Why swal.fire?"
Just wondering, why the addition of a breaking change like .fire which seems completely unnecessary at first glance?

[2019-03-07 09:38] limonte commented on #1438
@zenflow would you mind to handle this question?

[2019-03-07 17:37] zenflow commented on #1438
We migrated the code-base to be object-oriented (i.e. we changed the `swal` function into the `Swal` class). Therefore to instantiate a swal you would need to now use the `new` keyword, e.g. `new Swal({...options})` instead of just `Swal({...options})`.

The problem with this is that you do nothing with the result of the call (the instance) you will be violating the [eslint "no-new" rule](https://

[2019-03-07 18:01] WillGoldstein commented on #1438
Thanks @zenflow , appreciate the thorough explanation.

[2019-03-07 18:01] #1438 closed

[2019-03-07 18:03] zenflow commented on #1438
@WillGoldstein please close this issue if this explains it for you, otherwise if you still have questions let me know

[2019-03-07 18:04] zenflow commented on #1438
@WillGoldstein No problem.. this should also serve other people wondering the same thing

[2019-03-08 12:18] SimenB commented on #1426
While the code coverage certainly should be higher, it's also a bit misleading here. Jest has ~500 separate integration tests which spawns up an instance of Jest on different tests and scenarios and performs asserts on its output. This is not something that's reflected in the code coverage numbers, as those are just from unit tests. So, while I agree ~60% is lower than it could (and should) be, th

[2019-03-08 12:44] limonte commented on #1426
Thank you @SimenB I appreciate your time and the thorough explanation of why I was wrong with my doubts.

The CI status and code coverage are the very first things I'm personally checking before even considering to use any package because there are a lot of abandoned/unmaintained projects. Using an unmaintained project is like pointing a loaded gun to your own knee, it will shoot sooner or later.

[2019-03-08 13:28] Abhilash-k-p commented on #630
x

[2019-03-08 13:55] hajududat commented on #1437
I do. flex-direction: column !important; was getting adding to .swal2-actions on first load. After a page refresh, it was no longer there.

[2019-03-08 13:57] hajududat commented on #1437
flex-direction: column !important; was getting adding to .swal2-actions on first load. After a page refresh, it was no longer there.

[2019-03-08 14:23] gverni commented on #1437
Thanks @hajududat for the follow-up. Interesting finding.

I'm not sure I understand that. If you reload the page the initial configuration should always be the same, unless you are keeping a kind of history.

[2019-03-08 15:32] hajududat commented on #1437
When visiting the page the first time and the button was click to display the alert, the flex-direction CSS would appear in the Elements tab as being applied to .swal2-actions.

But when I would just refresh the page and click the button again, the alert would display but the flex-direction CSS would not appear in the Elements tab as being applied to .swal2-actions.

[2019-03-09 13:03] limonte opened #1440 "Add ability to set custom classes for different parts (container, header, content, footer, etc.)"
## New feature motivation

There's often a need to apply custom styles to these blocks:

- container (`.swal2-container`), there was `customContainerClass` previously, deprecate it
- header (`.swal2-header`)
- title (`.swal2-title`)
- close button (`.swal2-close`)
- content (`.swal2-content`)
- input (`.swal2-input`), there was `inputClass` previously, deprecate it
- actions (`.swal2-actions`)
- f

[2019-03-11 02:09] yangmingfa commented on #781
Hey  @cornelisonc,
I also encountered this problem in the use of the project, refer to your suggestion, found that the use of swal2-show did not take effect, after reading the source code, changed to use swal2-in after the effective, I use the version is 5.3.3, thank you for your help!
`body.swal2-in:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow-y: visible !important;
}`

[2019-03-11 13:34] #1440 closed

[2019-03-11 13:38] #1426 closed

[2019-03-11 13:55] limonte commented on #1440
:tada: This issue has been resolved in version 8.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-11 13:55] limonte commented on #1426
:tada: This issue has been resolved in version 8.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-12 23:53] kwagdy commented on #1246
I'm using version 7.33.1 on chrome, and still able to scroll body behind the swal modal

[2019-03-13 08:07] gverni commented on #1246
Hi @kwagdy, is your problem with Chrome on IOS?

[2019-03-13 16:01] kwagdy commented on #1246
Hello @gverni, yeah, Chrome 72 on MacBook laptop

[2019-03-13 16:44] gverni commented on #1246
Thanks @kwagdy, I tried with the examples on https://sweetalert2.github.io/ on Chrome 72 on a macbook, but I wasn't able to scroll the body (I used the mouse's scroll wheel). Do you have a live example that shows that? Or maybe a screen recording? (you can use extension like [this](https://www.useloom.com/) for that)

[2019-03-13 17:14] pedro-lb opened #1442 "CDNJS version outdated"
Hello,

It seems that the CDNJS version is outdated. The latest version there is 7.33.1, while the actual version here is 8.3.0. This seems to be a problem at CDNJS's side, but I'm  not sure.

Link: https://cdnjs.com/libraries/limonte-sweetalert2.

[2019-03-13 17:15] kwagdy commented on #1246
sure...
![bg_scroll](https://user-images.githubusercontent.com/15840617/54299816-51375c80-45c4-11e9-92e9-9b7caa58a8c2.gif)

[2019-03-13 17:24] limonte commented on #1246
Hello @kwagdy and thank you for proving the screen recording!

I have the offtopic question regarding the screen recording above. As I understand correctly, it's the Arabic language there which is RTL. Should the `question` icon contain `؟` instead of `?` for Arabic language?

[2019-03-13 17:27] gverni commented on #1442
Hi @pedro-lb the official CDN is https://cdn.jsdelivr.net/npm/sweetalert2

[2019-03-13 17:28] #1442 closed

[2019-03-13 17:30] limonte commented on #1442
I would **strongly recommend** using the specific major version by adding `@8`: https://cdn.jsdelivr.net/npm/sweetalert2@8

This will save you from unexpected breaking changes when a new major will be released.

[2019-03-13 18:09] kwagdy commented on #1246
You're right on both your notes, this is an Arabic RTL web app, and yes, I should find a way to flip the question mark!

[2019-03-13 18:20] gverni commented on #1246
@kwagdy can you confirm whether you see the same on any of the example on https://sweetalert2.github.io/? If not, any chance you can share a live example of your page (or an extract of that)?

[2019-03-13 18:31] kwagdy commented on #1246
Is there a way to message you a link to the test page?

[2019-03-13 19:08] gverni commented on #1246
Thanks @kwagdy, let me do some test with the `position` and get back to you

[2019-03-14 07:07] lwf804 commented on #246
You can declare swal in component and add options: `this.swal.allowOutsideClick = false;`

[2019-03-14 08:54] gverni commented on #246
Hi @lwf804 you don't need to do that. Setting the `allowOutsideClick` property when you `fire` the swal (or in the mixin) would be enough:

[code]

[2019-03-14 09:10] gverni commented on #1246
Hi @kwagdy I tried setting the body `position` to `absolute` but I cannot see that. I created this _gltich_:

https://swal2-body-absolute.glitch.me/

Feel free to _remix_ this glitch until it reproduces the issue for you.

[2019-03-14 10:05] limonte commented on #1246
The proper way to flip the question mark is upcoming, see #1443 for the details.

[2019-03-14 10:19] limonte opened #1444 "Toast with input and buttons looks a bit broken in IE11"
Add `toast: true` to `sandbox.html` and open it in IE11:

![image](https://user-images.githubusercontent.com/6059356/54349120-3b24ad00-4653-11e9-90b7-7c96d1b49a2a.png)

[2019-03-14 10:21] limonte commented on #1444
Also, something is wrong with the close button:

Chrome | IE11
-|-
![image](https://user-images.githubusercontent.com/6059356/54349336-b9814f00-4653-11e9-8942-f69a722e8c41.png) | ![image](https://user-images.githubusercontent.com/6059356/54349321-ac646000-4653-11e9-8ebc-05c10e1033b7.png)

[2019-03-14 11:26] francovp opened #1445 "Typescript: Cannot invoke an expression whose type lacks a call signature. Type 'typeof Swal' has no compatible call signatures"
## Current behavior

I'm using sweetalert2 with Angular and have this error when I try to compile something like `swal("Some text")`on Angular 7.2.9:

[code]
before in Angular 6.0.3 it was working right.

I'm importing it like this:

`import swal from "sweetalert2";`

## Expected behavior

It should compile.

[2019-03-14 11:31] limonte commented on #1445
Could you please specify the version of `sweetalert2` you're using on that project?

[2019-03-14 11:32] gverni commented on #1445
Hi @francovp the API to call swal changed recently in version 8.x. You now need to use `swal.fire()`. If you are using latest version, then can you try with that?

[2019-03-14 11:35] francovp commented on #1445
Oh ok, right, sorry. I forgot that I also update sweetalert2 package to `8.3.0`, so Swal.fire() should do the trick :)

[2019-03-14 11:38] limonte commented on #1445
Never upgrade dependencies to new major versions without checking the release notes :)

https://github.com/sweetalert2/sweetalert2/releases/v8.0.0

[2019-03-14 11:41] francovp commented on #1445
Thanks for the advice :)

[2019-03-14 11:41] #1445 closed

[2019-03-14 15:34] thomastruett opened #1446 "View documentation for earlier versions?"
I use sweetalert2 in projects quite regularly. There have been several occasions where version updates cause compatibility issues and I spend hours going through each of my projects to resolve them. I believe that in many cases it makes more sense for me to keep my existing version of sweetalert2 in place. I would do this, but that is challenging due to the fact that there is no longer documentati

[2019-03-14 15:46] limonte commented on #1446
Thank you @thomastruett for this request. We have a separated repo for the docs page, I'll move this issue there and and handle it soon

[2019-03-14 19:39] ciaran036 commented on #1442
I'm a little confused.
Microsoft's latest tooling for managing client-side packages includes only 3 providers for packages, and one of them is from cdnjs.com. The 'jsdelivr' provider mentioned above isn't one of those providers, effectively leaving me stuck with whatever is available on cdnjs. Any idea what the cdnjs provider isn't up to date? Thanks.

[2019-03-14 19:53] pedro-lb commented on #1442
Hey @ciaran036 , you can actually use other providers than cdnjs. I'm currently using ASP.NET Core 2.2 and there are these providers available (on Visual Studio 2017 / 2019, right-click Add > Client Side Library):

![image](https://user-images.githubusercontent.com/22061051/54387188-82be2f80-4679-11e9-9f63-0497dcdafb2a.png)

However, in order to use other providers such as jsdelivr, you have to fi

[2019-03-16 09:16] limonte opened #1449 "Fix "similar-code" issue in src/instanceMethods/enable-disable-elements.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/instanceMethods/enable-disable-elements.js#issue_5c8cbe89314c310001000084

[2019-03-16 09:20] limonte opened #1450 "Fix "similar-code" issue in src/utils/setParameters.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/setParameters.js#issue_5c8cbe89314c31000100008a

[2019-03-16 09:24] limonte opened #1451 "Fix "nested_control_flow" issue in karma.conf.js"
Avoid deeply nested control flow statements.

https://codeclimate.com/github/sweetalert2/sweetalert2/karma.conf.js#issue_5c8cbe85314c310001000061

[2019-03-16 14:59] #1449 closed

[2019-03-16 15:20] limonte opened #1453 "Fix "similar-code" issue in src/instanceMethods/enable-disable-elements.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/instanceMethods/enable-disable-elements.js#issue_5c8d10a42f96330001000084

[2019-03-17 07:46] limonte opened #1456 "Fix "method_lines" issue in src/utils/setParameters.js"
Function `setParameters` has 112 lines of code (exceeds 25 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/setParameters.js#issue_5c8d10a02f96330001000066

[2019-03-17 11:02] #1453 closed

[2019-03-17 15:47] limonte opened #1457 "Fix "method_lines" issue in src/staticMethods/queue.js"
Function `queue` has 26 lines of code (exceeds 25 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/staticMethods/queue.js#issue_5c8e67bb03c30a000100007e

[2019-03-17 16:10] #1457 closed

[2019-03-18 15:05] kwagdy commented on #1246
@limonte Found the problem! See here [](https://beautiful-notebook.glitch.me/) for some reason I added this class
[code]
I am not quite sure what was the reason behind this, but this combined with position absolute in the containing div, made the background page scrollable.

Thank you the flip question mark link 👍

[2019-03-18 15:18] limonte commented on #1246
Hm, the fix looks "dirty" to me. @kwagdy Did you try setting `heightAuto` parameter to `false`?

[2019-03-18 18:28] greenkeeper[bot] opened #1459 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.15.2` to `5.15.3`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Feslint-5.15.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It

[2019-03-18 18:39] limonte commented on #1459
False alarm, the `resumeTimer() method` test is flaky in Firefox 65 on Windows (AppVeoyr), let's wait for FF66, if the instability will remain, then I'll investigate.

[2019-03-18 18:39] #1459 closed

[2019-03-19 22:47] kwagdy commented on #1246
@limonte I'm almost certain I added it to fix an interim issue, just can't remember what :thinking: ! Anyway, I removed it, along with position absolute for the main area. Things seems to be in order now. Thanks a lot for following up on this :smiley:

[2019-03-20 10:44] sdebanik commented on #986
It will solve this Karma redirect error!

var html = '<script type="text/javascript">';
html += 'window.location = "' + urlToRedirect +'"';
html += '</script>';
$( '.wrapper' ).append( html );

[2019-03-20 11:20] zenflow commented on #798
I think we can close this, since the strategy for adoption of new UI frameworks is (I think) pretty clear: implement support in a separate repository under the sweetalert2 org on GitHub.

[2019-03-20 11:20] #798 closed

[2019-03-20 11:25] limonte commented on #547
This issue has the most upvotes, so it's going to pinned issues and should get the top priority.

[2019-03-20 11:32] limonte commented on #831
I would love to have the form builder feature, but I suspect that it will inevitably bring complexity to the codebase and increase the bundle size.

The absence of upvotes on this issue means that the use-case isn't widely needed by devs.

Also, since I'm fighting for simplicity of SweetAlert2's usage and maintenance, I'm closing this issue.

[2019-03-20 11:32] #831 closed

[2019-03-20 11:33] #871 closed

[2019-03-20 11:35] gverni commented on #547
Thanks @limonte. Sorry I didn't get to work on the theme repo yet as we discussed. Are you planning to have this implemented as theme in https://github.com/sweetalert2/sweetalert2-themes or as an option in sweetalert?

[2019-03-20 11:36] limonte commented on #547
In `sweetalert2-themes`.

Will you have time to start playing with the dark theme? I didn't start it yet because I believe my skills in choosing color are terrible :D

[2019-03-20 11:39] gverni commented on #547
Sure, the sweetalert-examples is now in a better state (with html templating). I have a couple of low priority chores there, but it shouldn't take me too long.

Mine are probably even worse :smile: hence I wanted to copy the palette from Visual Studio Code, wich to me is a nice palette. What do you think? Do you have any other dark theme you like that we can use as inspiration?

[2019-03-20 11:58] limonte commented on #547
Agree, it matches my taste as well

[2019-03-21 04:15] deksoke commented on #781
I found this problem too
I fix by this css code
`/* fixbug sweetalert2 scroll to top when fire alert */
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown), html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  height: 100% !important;
  overflow-y: visible !important;
}`

[2019-03-23 11:19] niko001 opened #1461 "Setting backdrop to 'false' results in modal not being responsive"
## Current behavior

Setting the "backdrop" option to "false" results in the modal not resizing properly when the browser window is smaller than the default modal width.

## Expected behavior

Even without a backdrop, the modal should be responsive

## Live demo

https://codepen.io/anon/pen/jJdOjo?&editable=true

[2019-03-24 11:05] limonte commented on #547
A random repo that might maybe be useful here https://github.com/StylishThemes/GitHub-Dark

[2019-03-24 11:24] #1461 closed

[2019-03-24 11:30] limonte commented on #1461
:tada: This issue has been resolved in version 8.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-24 11:30] limonte commented on #1449
:tada: This issue has been resolved in version 8.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-24 11:30] limonte commented on #1453
:tada: This issue has been resolved in version 8.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-24 11:30] limonte commented on #1457
:tada: This issue has been resolved in version 8.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-24 20:37] limonte opened #1465 "customClass as an object should be updatable"
Since we're deprecating `confirmButtonClass`, `cancelButtonClass`, `imageClass`, `customClass` should be updatable, so users will be able to update non-deprecated param.

[2019-03-25 08:51] niko001 commented on #1461
Perfect, thanks for the quick fix, confirmed working :)!

[2019-03-25 19:20] #1450 closed

[2019-03-25 19:20] #1456 closed

[2019-03-26 10:45] limonte commented on #1456
:tada: This issue has been resolved in version 8.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-26 10:46] limonte commented on #1450
:tada: This issue has been resolved in version 8.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-26 10:46] limonte commented on #1465
:tada: This issue has been resolved in version 8.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-26 12:34] limonte opened #1468 "Fix "method_complexity" issue in karma.conf.js"
Function `exports` has a Cognitive Complexity of 20 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/karma.conf.js#issue_5c9a14d241c67e0001000068

[2019-03-26 12:59] #1468 closed

[2019-03-26 13:06] limonte opened #1470 "Fix "method_complexity" issue in karma.conf.js"
Function `getBrowsers` has a Cognitive Complexity of 11 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/karma.conf.js#issue_5c9a2266ba04f60001000068

[2019-03-26 13:14] #1470 closed

[2019-03-26 13:18] limonte opened #1472 "Fix "method_complexity" issue in src/utils/dom/init.js"
Function `init` has a Cognitive Complexity of 10 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/dom/init.js#issue_5c9a260e47fb21000100007f

[2019-03-26 13:22] limonte opened #1474 "Fix "method_complexity" issue in karma.conf.js"
Function `getBrowsers` has a Cognitive Complexity of 7 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/karma.conf.js#issue_5c9a260e47fb210001000068

[2019-03-26 13:27] #1472 closed

[2019-03-26 13:51] #1474 closed

[2019-03-26 13:55] limonte opened #1476 "Fix "method_complexity" issue in src/utils/dom/renderers/renderIcon.js"
Function `renderIcon` has a Cognitive Complexity of 6 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/dom/renderers/renderIcon.js#issue_5c9a2e86cf875d000100007b

[2019-03-26 13:56] limonte opened #1477 "Fix "method_complexity" issue in utils/stream-array.js"
Function `split` has a Cognitive Complexity of 6 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/utils/stream-array.js#issue_5c9a2e87cf875d000100008a

[2019-03-26 13:56] limonte opened #1478 "Fix "method_complexity" issue in src/globalState.js"
Function `restoreActiveElement` has a Cognitive Complexity of 8 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/globalState.js#issue_5c9a2e86cf875d0001000068

[2019-03-26 13:57] limonte opened #1479 "Fix "method_complexity" issue in src/utils/dom/parseHtmlToContainer.js"
Function `parseHtmlToContainer` has a Cognitive Complexity of 9 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/dom/parseHtmlToContainer.js#issue_5c9a2e86cf875d000100007e

[2019-03-26 13:57] limonte commented on #1451
Fixed by #1469

[2019-03-26 13:57] #1451 closed

[2019-03-26 13:58] limonte opened #1480 "Fix "similar-code" issue in src/instanceMethods/progress-steps.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/instanceMethods/progress-steps.js#issue_5c9a2e8ccf875d0001000090

[2019-03-26 13:58] limonte opened #1481 "Fix "method_complexity" issue in src/utils/dom/renderers/renderImage.js"
Function `renderImage` has a Cognitive Complexity of 12 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/dom/renderers/renderImage.js#issue_5c9a2e86cf875d0001000073

[2019-03-26 13:58] limonte opened #1482 "Fix "method_complexity" issue in src/utils/dom/renderers/renderPopup.js"
Function `renderPopup` has a Cognitive Complexity of 6 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/dom/renderers/renderPopup.js#issue_5c9a2e86cf875d0001000076

[2019-03-26 13:59] limonte opened #1483 "Fix "similar-code" issue in src/SweetAlert.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/SweetAlert.js#issue_5c9a2e8ccf875d000100008d

[2019-03-26 14:00] limonte opened #1484 "Fix "method_complexity" issue in src/utils/dom/init.js"
Function `init` has a Cognitive Complexity of 6 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/dom/init.js#issue_5c9a2e86cf875d000100007c

[2019-03-26 14:00] limonte opened #1485 "Fix "method_complexity" issue in src/utils/dom/renderers/renderProgressSteps.js"
Function `renderProgressSteps` has a Cognitive Complexity of 6 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/dom/renderers/renderProgressSteps.js#issue_5c9a2e86cf875d0001000071

[2019-03-26 14:00] limonte opened #1486 "Fix "method_complexity" issue in src/utils/params.js"
Function `showWarningsForParams` has a Cognitive Complexity of 8 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/params.js#issue_5c9a2e86cf875d000100006d

[2019-03-26 14:01] limonte opened #1487 "Fix "method_complexity" issue in src/utils/dom/renderers/renderContainer.js"
Function `renderContainer` has a Cognitive Complexity of 12 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/dom/renderers/renderContainer.js#issue_5c9a2e86cf875d0001000074

[2019-03-26 14:01] limonte opened #1488 "Fix "method_complexity" issue in src/utils/Timer.js"
Function `constructor` has a Cognitive Complexity of 10 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/Timer.js#issue_5c9a2e86cf875d0001000069

[2019-03-26 14:01] limonte opened #1489 "Fix "method_complexity" issue in src/utils/dom/renderers/renderActions.js"
Function `renderActions` has a Cognitive Complexity of 11 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/dom/renderers/renderActions.js#issue_5c9a2e86cf875d000100006f

[2019-03-26 14:02] limonte opened #1490 "Fix "method_complexity" issue in src/utils/setParameters.js"
Function `setParameters` has a Cognitive Complexity of 13 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/setParameters.js#issue_5c9a2e86cf875d000100006b

[2019-03-26 14:02] limonte opened #1491 "Fix "method_complexity" issue in src/utils/openPopup.js"
Function `openPopup` has a Cognitive Complexity of 13 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/openPopup.js#issue_5c9a2e86cf875d000100007f

[2019-03-26 14:02] limonte opened #1492 "Fix "method_complexity" issue in src/instanceMethods/close.js"
Function `close` has a Cognitive Complexity of 17 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/instanceMethods/close.js#issue_5c9a2e86cf875d0001000081

[2019-03-26 14:06] limonte opened #1493 "Reach the maintainability rate A 🚀"
The current maintainability rate is C:

![image](https://user-images.githubusercontent.com/6059356/55003282-c7828880-4fe0-11e9-9193-4e400d5fa8ae.png)

https://codeclimate.com/github/sweetalert2/sweetalert2

I created all issues for refactoring: https://github.com/sweetalert2/sweetalert2/issues?q=is%3Aopen+is%3Aissue+label%3Acodeclimate

The community effort is very welcome! This is a quite nice ex

[2019-03-27 09:25] EmirCanSANCAR opened #1494 "I need "swal.disableCancelButton()/swal.enableCancelButton()" functions"
I need a structure that sends an ajax request when the swal is opened. works for now, but I want to cancel this post when I need a cancel button and the cancel button is coming clickable.

I've solved this problem in the following way and it is better to add these functions in the next update. or a different proposal?

I want the cancel button to be active.

I solved my problem by adding this line

[2019-03-27 09:39] limonte commented on #1494
Good day @EmirCanSANCAR and that you for a good feature request!

Adding `swal.disableCancelButton()/swal.enableCancelButton()` is as easy as copy-pasting the similar fucntionality of `swal.disableConfirmButton()/swal.enableConfirmButton()`

Would you like to submit a PR? It should be quite straightforward, search for `enableConfirmButton` https://github.com/sweetalert2/sweetalert2/search?q=enable

[2019-03-27 09:44] gverni commented on #1494
@EmirCanSANCAR alternatively you can always use:

[code]

@limonte should we hide the cancel button when the swal is loading (i.e. replace both buttons with a spinner)? I understand the rationale behind replacing the confirm button with the spinner, but it looks a bit odd like that.

[2019-03-27 09:49] limonte commented on #1494
That would be a breaking change, but I'm opened for discussion. My reasoning behind leaving it was that users will always be able to close the modal if AJAX request is taking a lot of time.

Please submit an issue if you think that behavior is incorrect, so we can discuss that separately.

[2019-03-27 09:54] gverni opened #1495 "Define status of Swal's elements when the Swal is loading (`Swal.isLoading()` is true)"
That would be a breaking change, but I'm opened for discussion. My reasoning behind leaving it was that users will always be able to close the modal if AJAX request is taking a lot of time.

Please submit an issue if you think that behavior is incorrect, so we can discuss that separately.

_Originally posted by @limonte in https://github.com/sweetalert2/sweetalert2/issues/1494#issuecomment-4770676

[2019-03-27 10:04] limonte commented on #1495
I was expecting some reasoning here :) Why the cancel button should be hidden automatically?

For me personally, it would be unexpected if it would be hidden despite `showCancelButton: true` I specified in `Swal.fire()`.

[2019-03-27 10:05] gverni commented on #1495
The problem is that the `Swal.showLoading()` actually disables the cancel button, so this is not currently possible.

https://github.com/sweetalert2/sweetalert2/blob/57c63035d54ca771e5c7bb66a2431ef0d5c13b2c/src/staticMethods/showLoading.js#L21-L22

A couple of options:

* Change default behavior to have cancel button enabled by default
* Re-enable cancel button after some time

[2019-03-27 10:08] gverni commented on #1495
Sorry... I was still reviewing my comment :smile:

[2019-03-27 10:09] limonte commented on #1495
Good point, I forgot that!

My vote goes for this option, user can always disable cancel button manually if desired:

[code]

[2019-03-27 10:09] EmirCanSANCAR commented on #1494
`Swal.getCancelButton().removeAttribute('disabled')` this code solved my work.

According to my opinion. Optionally, the shutdown button must be switched on when modal loading.
The default should be hidden but optional.

because, for example, I'm listening to a service from this application when the user presses the button and I need to inform the user when the return is successful. but the user m

[2019-03-27 10:09] #1494 closed

[2019-03-27 10:12] limonte commented on #1495
@EmirCanSANCAR also for this option https://github.com/sweetalert2/sweetalert2/issues/1494#issuecomment-477076551

[2019-03-27 10:22] limonte opened #1496 "Should we deprecate enableConfirmButton()/disableConfirmButton()?"
These legacy methods were here before `Swal.getConfirmButton()` was added.

Since devs can enable/disable the Confirm button as simple as:

[code]

I don't think there's a need for additional complexity in API.

@gverni what do you think?

[2019-03-27 10:29] gverni commented on #1496
@limonte I fully agree. When I was looking for a possible workaround for #1494, the use of `Swal.getCancelButton()` came to me quite naturally. Mainly because it allows any kind of changes to the button element (i.e. not only enable/disable)

[2019-03-27 11:09] #1496 closed

[2019-03-28 15:15] kheengz commented on #226
this works for me `$(".confirm").attr('disabled', 'disabled'); `
[code]

[2019-03-28 23:30] abnersouza commented on #1166
Same issue happening for me when i just click on the toast
This is my actual version:
"sweetalert2": "^7.33.1",

core.js:15714 ERROR TypeError: Cannot read property 'removeEventListener' of undefined
    at removePopupAndResetState (sweetalert2.all.js:960)
    at HTMLDivElement.swalCloseEventFinished (sweetalert2.all.js:988)
    at ZoneDelegate.push.../../node_modules/zone.js/dist/zone.js.ZoneDele

[2019-03-29 10:06] Hinrick opened #1498 "Popup without Img first"
##Current behavior

I made an alert with Img(which is .gif)
The alert popup with no image first, the jump to the normal one(alert with image).

## Expected behavior

Popup with images immediately!

## Live demo
https://www.youtube.com/watch?v=EP97CYB5pcg&feature=youtu.be

I'm using React.
After onClick the button, the function called LineLogOut() will be exected.

Then jump into lineLogOut:

lineL

[2019-03-29 10:13] limonte commented on #1498
You need to preload image before using it in modal:

[code]

Read more about preloading content: https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content

[2019-03-29 10:13] #1498 closed

[2019-03-29 13:50] gverni commented on #1166
Hi @abnersouza could you provide more info on your issue and a live example? Form the stack it looks like you are using some sort of framework (Angular?)

I have a `swal` toast using version 7.33.1 [here](https://literate-van.glitch.me/) and I don't see any issue when I click on it.

[2019-03-29 16:52] gRoberts84 opened #1499 "Disable input during preConfirm"
## New feature motivation

Although it doesn't appear to affect the value returned, it is possible for users to modify the input value during a long `preConfirm`.

https://jsfiddle.net/gRoberts/7grLqtzd/10/

In my above example, if you click on the button and enter a value. During the 10 second timeout, the input is still accessible and modifiable. However upon completion, the returned value is ob

[2019-03-29 17:15] gverni commented on #1499
thanks @gRoberts84 for the detailed new feature.

@limonte I can start to see a pattern here (see also #1495). Maybe we should better define what to do with the modal and the controls in it when the modal is in _loading_ state. What do you think?

[2019-03-29 18:53] gverni commented on #1495
@limonte let me follow-up here on this statement from #1499.

There are 5 elements the user can interact with in a swal:
* Confirm button
* Cancel button
* Input
* Close button
* Click-to-dismiss backdrop

Currently the `showLoading()` is only setting status (i.e. `disabled`) for the buttons and adding specific classes to the `popup` and `actions`. What I think we should add is defining default st

[2019-03-29 18:54] gverni commented on #1499
I added a new comment in #1495 to explain what I mean (so I don't pollute this issue)

[2019-03-30 12:26] Hinrick commented on #1498
@limonte
Thanks for your prompt reply.
I tried, but, still not popup with images first.
I became faster, but not immediately.

`<link rel="preload" href="/statics/images/icognito_line.gif" as="image">`

[2019-03-30 15:17] #1484 closed

[2019-03-30 15:35] limonte opened #1501 "Stop disabling the Cancel button when in loading state"
This is the follow-up from https://github.com/sweetalert2/sweetalert2/issues/1494#issuecomment-477076551

Disabling the Cancel button automatically is too opinionated, devs can always do it (if needed) in the `preConfirm` function:

[code]

[2019-03-30 15:49] limonte commented on #1495
As previously, I vote to stop adding opinionated features and start doing absolutely nothing to controls when a popup is in the loading state, e.g. do not disable the Cancel button when in loading state: https://github.com/sweetalert2/sweetalert2/issues/1501

Devs have different requirements and use-cases, we can fit everyone's needs by not being intrusive with our guesses + providing all necessar

[2019-03-30 15:54] limonte commented on #1495
No opinionated features = no opinionated code = easier maintanance = no useless discussions = smaller bundle.

Win-win from all sides :)

[2019-03-30 15:55] limonte commented on #1499
[code]

[2019-03-30 15:55] #1499 closed

[2019-03-30 16:15] limonte opened #1502 "Fix "similar-code" issue in src/SweetAlert.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/SweetAlert.js#issue_5c9a2e8ccf875d000100008d

[2019-03-30 16:15] limonte opened #1503 "Fix "similar-code" issue in src/instanceMethods/progress-steps.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/instanceMethods/progress-steps.js#issue_5c9a2e8ccf875d0001000090

[2019-03-30 16:20] gverni commented on #1495
I love that! As a user of sweetalert I always liked that it never got _in the way_ and forced me to find a workaround. I agree we should embrace that...

[2019-03-30 16:22] #1495 closed

[2019-03-30 16:23] gverni commented on #1495
@limonte I'm closing this in favor of #1501. Feel free to reopen if you would like to discuss more...

[2019-03-30 17:46] #1386 closed

[2019-03-30 17:52] limonte commented on #1472
:tada: This issue has been resolved in version 8.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-30 17:53] limonte commented on #1474
:tada: This issue has been resolved in version 8.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-30 17:53] limonte commented on #1496
:tada: This issue has been resolved in version 8.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-30 17:53] limonte commented on #1484
:tada: This issue has been resolved in version 8.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-30 17:53] limonte commented on #1386
:tada: This issue has been resolved in version 8.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-30 17:53] limonte commented on #1468
:tada: This issue has been resolved in version 8.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-30 17:53] limonte commented on #1470
:tada: This issue has been resolved in version 8.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-30 17:56] limonte opened #1507 "getProgressSteps() should return $('.swal2-progress-steps')"
## New feature motivation

Devs should have getters for every part of a popup. Currently `Swal.getProgressSteps()` returns `[instance].params.progressSteps` which isn't anyhow useful because the same could be achieved with

[code]

The current `Swal.getProgressSteps()` has been deprecated in #1506

[2019-03-30 18:04] limonte commented on #1503
`showProgressSteps()` and `hideProgressSteps()` will be removed in the next major release, no need in fixing this issue.

[2019-03-30 18:04] #1503 closed

[2019-03-30 18:04] #1502 closed

[2019-03-30 21:22] #1476 closed

[2019-03-30 21:24] limonte commented on #1477
@gverni would you take care of this one, you know `utils/stream-array.js` better than me :)

[2019-03-30 21:38] #1479 closed

[2019-03-30 21:55] limonte commented on #1480
duplicate of #1503

[2019-03-30 21:55] #1480 closed

[2019-03-31 10:53] #1481 closed

[2019-03-31 10:56] limonte commented on #1493
![image](https://user-images.githubusercontent.com/6059356/55288203-ae9d1d00-53bc-11e9-81a3-582bce69a422.png)

Maintainability rate B achieved :tada:  Let's reach A :muscle:

[2019-03-31 11:00] limonte commented on #1476
:tada: This issue has been resolved in version 8.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-31 11:00] limonte commented on #1479
:tada: This issue has been resolved in version 8.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-31 11:00] limonte commented on #1481
:tada: This issue has been resolved in version 8.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-31 11:16] sjlongland commented on #665
Just ran into this this evening, and spent a good hour trying to figure out how to shoehorn that CSS into Material-UI…

The work-around I came up with was to temporarily hide my modal whilst I'm asking a question using SWAL2.  This works "well enough", but it's kludgy.

Sadly, adding CSS to the `index.html`'s `<HEAD>` tag wasn't sufficient.  `webpack` et all are too "smart" for those shenanigans.

[2019-03-31 11:34] limonte commented on #665
@sjlongland with the latest version you can do this:

[code]

And in your app styles:

[code]

[2019-04-01 00:37] sjlongland commented on #665
Yeah, that's the problem, my application doesn't have any "app styles"… it's using the ones built into other modules like Material-UI.  I did try the following:

[code]
(2000 was chosen as it was above the Z-Index of Material-UI's `Dialog` class.)

That didn't work, as SweetAlert2 still wound up at 1060.

[2019-04-01 12:11] #1478 closed

[2019-04-01 13:18] #1485 closed

[2019-04-01 13:20] limonte commented on #1493
![image](https://user-images.githubusercontent.com/6059356/55330540-f5147980-5499-11e9-8784-6642874ef774.png)

6 days to go :rocket:

[2019-04-01 17:19] gverni commented on #1493
@limonte is there a way to trigger a _codeclimate build_ on a branch other than master to check if the refactoring improved the issue? I tried looking around on codeclimate but couldn't find anything. I can look further, but I thought to ask in case you found already.

[2019-04-02 09:54] gverni commented on #1493
@limonte should we enable [the code climate PR integration](https://docs.codeclimate.com/docs/github-pull-requests)? It looks quite effective

[2019-04-02 12:16] limonte commented on #1493
Loogs great indeed! Should be installed now :rocket:

[2019-04-02 12:48] limonte commented on #1482
Fixed already, closing

[2019-04-02 12:48] #1482 closed

[2019-04-02 13:15] limonte commented on #1493
Hm, for some reason I can't turn these switches on

![image](https://user-images.githubusercontent.com/6059356/55405305-70d9f900-5562-11e9-85e4-0dc03f133978.png)

When I turn them on, click the "Save" button, everything seems fine. But after a refresh, they are off again. I'll contact their support.

[2019-04-02 13:17] #1486 closed

[2019-04-02 13:51] #1488 closed

[2019-04-02 14:09] limonte opened #1517 "Icon is getting unnecessary re-rendered in Swal.update()"
## Current behavior

The icon is re-rendered by calling `Swal.update({})`

## Expected behavior

The icon should stay the same if `type` is not provided or it has the same value as before

## Live demo

[code]

[2019-04-02 14:10] gverni commented on #1493
I can confirm it works fine on my project (have a look at [this PR](https://github.com/gverni/kairoi/pull/4)). I also enabled codeclimate app in the _checks_ but i'm not sure I like it. At least I'd suggest to enable it only once we reached a better maintainability score.

[2019-04-02 14:18] limonte commented on #1493
Got the response already

The codeclimate integration works nicely now which can be seen here: https://github.com/sweetalert2/sweetalert2/pull/1518

[2019-04-02 14:29] #1492 closed

[2019-04-02 14:32] limonte opened #1519 "Fix "method_complexity" issue in src/instanceMethods/close.js"
Function `close` has a Cognitive Complexity of 10 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/instanceMethods/close.js#issue_5ca371ef232d150001000074

[2019-04-02 14:33] limonte commented on #1519
@gverni if you'd like to continue working on `close.js` please assign yourself here

[2019-04-02 20:06] #1519 closed

[2019-04-02 20:53] limonte commented on #1493
![image](https://user-images.githubusercontent.com/6059356/55435424-85d67c80-55a2-11e9-91f5-6d443059d06c.png)

5 days to go :rocket:

[2019-04-02 20:58] limonte commented on #1488
:tada: This issue has been resolved in version 8.8.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-02 20:59] limonte commented on #1486
:tada: This issue has been resolved in version 8.8.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-02 20:59] limonte commented on #1492
:tada: This issue has been resolved in version 8.8.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-02 20:59] limonte commented on #1519
:tada: This issue has been resolved in version 8.8.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-02 20:59] limonte commented on #1517
:tada: This issue has been resolved in version 8.8.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-02 20:59] limonte commented on #1478
:tada: This issue has been resolved in version 8.8.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-02 20:59] limonte commented on #1485
:tada: This issue has been resolved in version 8.8.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-04 13:08] #1491 closed

[2019-04-04 18:16] #1487 closed

[2019-04-08 22:57] jczerosb opened #1524 "Why not a Header element as existing Footer using a div?"
Existing footer is created with a div and accept text or html.
This way, when necessary I have a freddom to write anything there.
Same, does no apply to Title that is created with h2
So as existing Footer why not a Header made with a div.
At first look maybe redundant, but give us a choice, as Footer

[2019-04-08 23:16] jczerosb opened #1525 "customClass - need to use !important"
customClass looks a nice resource, but due to CSS order of precedence, we have to use "!important" to get my own style or property applied.

So, would be good to have a note in documentation page alerting that due to precedence conflicting properties between classes can be resolver with "!important"

The use of !important is necessary in some properties not all

[2019-04-09 19:01] jczerosb commented on #1524
Got it. Tks

[2019-04-09 21:27] acurrieclark commented on #761
While far from a perfect solution, you can use the `onClose` callback to reenable the original "leave" animation. This at least removes the jarring lack of animation when the alert clears:

[code]

[2019-04-10 06:33] limonte commented on #1487
:tada: This issue has been resolved in version 8.8.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-10 06:33] limonte commented on #1491
:tada: This issue has been resolved in version 8.8.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-10 06:37] limonte commented on #1525
Good day @jczerosb

The new patch release (v8.8.2) has been published, please update the `sweetalert2` dependency to the latest and try your use-case, it should work without `!important` now.

Let me know about the result, thank you.

[2019-04-10 07:02] limonte commented on #1525
The general recommendation is to increase CSS specificity:

[code]

[code]

[2019-04-10 07:02] #1525 closed

[2019-04-10 07:22] greenkeeper[bot] opened #1527 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.9.2` to `1.9.3`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Frollup-1.9.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **m

[2019-04-10 07:27] limonte commented on #1527
False alarm

[2019-04-10 07:27] #1527 closed

[2019-04-10 15:07] jczerosb commented on #1525
@limonte
Tested using same sample sent, looks fine, except for "container".
Just in case customClasse listed in my sample are those I detected in current work.

Nice doc, as far it is logical, in many years is first time I heard about word "Specifity".
Would be nice a note in customClass documentation area, letting anybody to follow "Specificity recomendations"

[2019-04-10 15:31] jczerosb opened #1528 "A more precise description of "target" argument or even a sample in documentation page"
This is not an library issue.
Documentation page just mention "The container element for adding modal into.", this drive me to think that I can use element ID, and it not work this way.
After searching on issues found a sample showing correct syntax:
"target: document.querySelector('#toast-container')"

I´m suggesting just to include the syntax on description when target choosed will not be body

[2019-04-10 16:09] gverni commented on #1528
@jczerosb you can have a look to https://sweetalert2.github.io/sweetalert2-examples/parameters/toast-target/. We are building up a library of advanced examples [here](https://sweetalert2.github.io/sweetalert2-examples/) and we may link them from the main page at some point. Feel free to propose any example or to contribute yourself ;-)

Does this answer your question?

[2019-04-10 16:36] limonte commented on #1528
Strings should work as expected.

- https://github.com/sweetalert2/sweetalert2/blob/master/sweetalert2.d.ts#L428
- https://github.com/sweetalert2/sweetalert2/blob/master/test/qunit/params/target.js#L13

[2019-04-10 16:36] #1528 closed

[2019-04-10 16:37] limonte commented on #1525
could you please attach a code sample you're talking about?

[2019-04-10 16:52] #1489 closed

[2019-04-10 17:13] jczerosb commented on #1525
Use same already posted.

[2019-04-10 17:25] jczerosb commented on #1528
@limonte, you right, but have to string should be preceeded by "#".
My first try was using ID as plain string, then later found an old sample made by you, where I borrow "target: document.querySelector('#toast-container')"

[2019-04-10 17:35] jczerosb commented on #1528
@gverni, Yes.
As a new user, my contribution, is limited to suggest, very small and simple notes on main page, like this simple char "#" or "target: document.querySelector('#<use id of element>')"

[2019-04-10 19:30] limonte opened #1529 "Fix "method_complexity" issue in src/utils/dom/renderers/renderInput.js"
Function `renderInput` has a Cognitive Complexity of 37 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/dom/renderers/renderInput.js#issue_5cae1f5acb82c9000100006a

[2019-04-10 19:30] limonte opened #1530 "Fix "method_complexity" issue in src/utils/openPopup.js"
Function `openPopup` has a Cognitive Complexity of 12 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/openPopup.js#issue_5cae1f5bcb82c9000100006d

[2019-04-10 19:31] limonte opened #1531 "Fix "method_complexity" issue in src/instanceMethods/close.js"
Function `close` has a Cognitive Complexity of 7 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/instanceMethods/close.js#issue_5cae1f5bcb82c9000100006f

[2019-04-10 20:56] biswajit-paul opened #1532 "Custom Font Icon icon support"
## New feature motivation

This plugin only supports 5 types of alerts. It would be better if we can add custom icon fonts like Font Awesome, Icomoon, Material Icons, etc. Also, the icon can be animated, if possible.

Thanks in advanced.

[2019-04-10 22:54] ConSou commented on #1531
Hello, I can take a look at refactoring the code for this issue.

[2019-04-11 15:12] lofcz commented on #1532
Voting for FA5 support, would be superb!

[2019-04-11 18:28] gverni opened #1535 "Remove deprecated gulp-util@3.0.8"
When running `npm install` the following warning message is printed:

[code]

[2019-04-11 20:49] limonte commented on #1535
`gulp-util` is the dependency of `gulp-css2js`.

It's an old package and doesn't seem to be maintained anymore nor used by a lot of people.

We might want to replace `gulp-css2js` or don't do anything here and follow the first rule of system administrators: "If It Works, Don't Touch It".

[2019-04-11 21:00] gverni commented on #1535
I’m a bit worried with unmaintained packages. As we know, they can always go rogue. I want to have a look around to see if there something more updated, more used and more secure. If not, I’m happy to follow the admins rule :wink:

[2019-04-12 02:25] pritesh1209 opened #1536 "How to add .html file in sweetalert"
Hi,
I would like inject .html file in swal or angular component.
for example,
swal({
              title: 'hello',
              buttonsStyling: false,
              confirmButtonClass: 'btn btn-info',
              html: index.html or AddCustomerComponent
}).catch(swal.noop);

????

[2019-04-12 08:05] limonte commented on #1535
I would be happy to replace `gulp-css2js` with something more maintained, popular and battle-tested. If you feel like researching the alternatives, please do so :pray:

[2019-04-12 21:16] zhxscript commented on #477
This did it for me

[2019-04-13 06:08] stayingcool commented on #371
In my case I had to use this to replace all occurenences:
`str.replace(/\n/ig, '');`

Look at the answer by Dmitriy:
[https://stackoverflow.com/questions/35808205/javascript-replace-from-string]

[2019-04-13 08:19] limonte opened #1538 "Input is affected by Swal.update({ html: '...' })"
## Current behavior

The input (e.g. `select`) is getting affected by `Swal.update({ html: '...' })`

## Expected behavior

`Swal.update({ html: '...' })` should not do anything with input.

## Live demo

https://awake-purchase.glitch.me/

[2019-04-13 08:39] limonte opened #1539 "Fix "method_complexity" issue in src/utils/dom/renderers/renderInput.js"
Function `renderInput` has a Cognitive Complexity of 37 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/dom/renderers/renderInput.js#issue_5cb0e243edbed5000100006a

[2019-04-13 08:40] limonte opened #1540 "Fix "method_lines" issue in src/instanceMethods/_main.js"
Function `_main` has 306 lines of code (exceeds 25 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/instanceMethods/_main.js#issue_5cb0e244edbed50001000072

[2019-04-13 11:01] #1539 closed

[2019-04-13 11:02] limonte commented on #1493
![image](https://user-images.githubusercontent.com/6059356/56078796-cd57d680-5df4-11e9-8bcf-4339a9733760.png)

4 days :rocket:

[2019-04-13 11:04] limonte opened #1542 "Fix "method_complexity" issue in src/utils/dom/renderers/renderInput.js"
Function `renderInput` has a Cognitive Complexity of 10 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/utils/dom/renderers/renderInput.js#issue_5cb1c1b12abb2c000100006a

[2019-04-13 11:56] #1538 closed

[2019-04-13 12:02] limonte commented on #1539
:tada: This issue has been resolved in version 8.8.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-13 12:03] limonte commented on #1538
:tada: This issue has been resolved in version 8.8.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-13 12:03] limonte commented on #1489
:tada: This issue has been resolved in version 8.8.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-13 14:29] limonte commented on #1493
![image](https://user-images.githubusercontent.com/6059356/56081046-6dbbf400-5e11-11e9-8fcc-f9754abc1ace.png)

Done :rocket:

There are still some issues, the biggest one is https://github.com/sweetalert2/sweetalert2/issues/1540 I'll take care of it, the rest should be straightforward to fix.

[2019-04-13 14:29] #1493 closed

[2019-04-13 14:34] gverni commented on #1493
Great job, well done @limonte! Should we add the codeclimate badge to the readme?

<a href="https://codeclimate.com/github/sweetalert2/sweetalert2/maintainability"><img src="https://api.codeclimate.com/v1/badges/eba34bb80477933854d4/maintainability" /></a>

[2019-04-13 17:12] gverni commented on #1535
While I keep looking for alternatives, I raised https://github.com/tests-always-included/gulp-css2js/issues/9

[2019-04-13 19:40] #1477 closed

[2019-04-14 19:37] greenkeeper[bot] opened #1548 "An in-range update of gulp-css2js is breaking the build 🚨"
## The devDependency [gulp-css2js](https://github.com/tests-always-included/gulp-css2js) was updated from `1.1.2` to `1.2.0`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Fgulp-css2js-1.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

gulp-css2js is a de

[2019-04-14 19:41] gverni commented on #1548
I tested the new version before making the PR. Need to figure out what is going on

[2019-04-14 19:50] gverni commented on #1548
We actually import `gulp-util` directly in our gulpfile:

https://github.com/sweetalert2/sweetalert2/blob/14c6d22079049bf6fa6af456d5a9c245b67264c8/gulpfile.js#L2

I don't know how I didn't see it... I'm going to fix it.

[2019-04-14 19:55] gverni commented on #1535
I did a PR on `gulp-css2js` to get rid of the dependencies, and ne version is now released. Unfortunately I didn't notice we actually import `gulp-util` directly. I'm closing this issue in favor of #1548

[2019-04-14 19:55] #1535 closed

[2019-04-14 21:39] #1548 closed

[2019-04-16 19:17] mhpm commented on #1012
same here

[2019-04-16 19:43] gverni commented on #1012
@jesusaugusto0x2 @nhpm have a look to [this example](https://sweetalert2.github.io/sweetalert2-examples/forms/login/). Here we are validating that both username and password are not empty. You can replace that with whatever check you want to implement. The code for the example can be found  [here](https://github.com/sweetalert2/sweetalert2-examples/tree/master/src/forms/login)

[2019-04-17 09:56] abhiram5 opened #1552 "How can i use external components like react-h5-audio-player in html"
Here i want to show audio preview in the sweet alert so that user can listen to the audio before taking any actions

[Here my sample code](https://codesandbox.io/embed/10knw7nmwj)

When we click on the button it showing like [object object] in the sweet alert instead of audio preview how can I achieve this using sweet alert

[2019-04-17 10:07] limonte commented on #1552
There's the official SweetAlert2 enhancer adding support for React elements as content: https://github.com/sweetalert2/sweetalert2-react-content

[code]

[2019-04-17 10:07] #1552 closed

[2019-04-17 10:38] abhiram5 commented on #1552
hi @limonte, Thanks for the speedy response.
I just tried your steps, it's working fine when

`Alert.fire({
  html: <AudioPlayer src="http://business.vobo.ai/voice_samples/about_company.mp3" />
})`

But when i tried to use external component with some html still showing like object object
[can you please check this case once](https://codesandbox.io/s/llp6qymrxm)

Let me know if missed anything.

[2019-04-17 16:28] limonte commented on #1552
You're missing some basic knowledge about JS and the framework you're using.

Here's your homerowk:

[code]

Read more: https://reactjs.org/docs/introducing-jsx.html

[2019-04-20 07:35] eliasskogevall opened #1554 "Uncaught TypeError: Failed to resolve module specifier 'sweetalert2'. Relative references must start with either “/”, “./”, or “../”"
## Current behavior

(Using TypeScript in VS Code)
When I import sweetalert2 like this:

[code]

I get the error and my site stops loading

## Expected behavior

The expected behavior is simple; work as any other module does.

## Live demo

![Screenshot (93)](https://user-images.githubusercontent.com/47453366/56454332-3f796f80-634f-11e9-9491-5c10b44257ad.png)

[2019-04-20 07:37] eliasskogevall commented on #1554
TypeScript doesn't seem to work very well with sweetalert/sweetalert2...

[2019-04-21 10:48] AVetvinij opened #1556 "Is SweetAlert2 compatible with Bootstrap 4.0+"

[2019-04-21 11:04] limonte commented on #1556
Yes it is.

[2019-04-21 11:04] #1556 closed

[2019-04-21 14:42] AVetvinij opened #1557 "I used Bootstrap v 4.3 and the dialog look like this..."
![test](https://user-images.githubusercontent.com/32244467/56471495-93827200-647d-11e9-9f49-02450f5c7773.PNG)

[2019-04-21 15:07] #1557 closed

[2019-04-21 21:01] limonte commented on #1548
:tada: This issue has been resolved in version 8.8.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-21 21:01] limonte commented on #1477
:tada: This issue has been resolved in version 8.8.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.8.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-21 21:11] limonte commented on #1554
Good day @eliasskogevall and welcome to GitHub.

You're most probably trying to use SweetAlert2 as ES module in browser. Here's the correct way to use SweetAlert2 as  ES module in a browser:

[code]
Live demo: https://important-hall.glitch.me/

---

Useful reading about ES modules: https://flaviocopes.com/es-modules/

[2019-04-21 21:11] #1554 closed

[2019-04-21 21:16] vitordesousa opened #1558 "Timer showing the text "seconds""
## New feature motivation

In docs, the timer show "I will close in <strong></strong> seconds.", but the time counts in milliseconds.

## New feature description

Please, change text to "milliseconds", or:

[code]
to show correctly the seconds.

[2019-04-21 21:31] limonte commented on #1558
Thanks for reporting @vitordesousa

This will be fixed in https://github.com/sweetalert2/sweetalert2.github.io/pull/76

[2019-04-21 21:31] #1558 closed

[2019-04-21 21:58] limonte commented on #1554
Works perfectly:

![image](https://user-images.githubusercontent.com/6059356/56476034-a3a84a80-6499-11e9-8130-8a45581d1694.png)

[2019-04-23 12:28] fredochieng opened #1561 "SweetAlert2 Integration with Laravel 5.7"
Hello, how can I integrate sweetalert2 with Laravel 5.7? Thank you

[2019-04-23 12:59] gverni commented on #1561
Hi @fredochieng, Sweetalert2 is provided as is to be used in _VanillaJS_ projects. My advice is to use StackOverflow for questions on Laravel integration.

[2019-04-23 12:59] #1561 closed

[2019-04-23 13:03] limonte commented on #1561
https://github.com/realrashid/sweet-alert

[2019-04-24 08:25] zzxjl1 opened #1562 "BUG: Click can trigger twice"
## Current behavior

click the button -》sweetalert2 modal pops up -》there is another button at the same position -》sweetalert2 thinks that button is clicked

## Expected behavior

click the button -》sweetalert2 modal pops up -》nothing happens until user click the button

[2019-04-24 08:39] limonte commented on #1562
Please provide the live demo.

The template: https://sweetalert2.glitch.me/

Check https://github.com/sweetalert2/sweetalert2/wiki/How-to-provide-live-example-for-issue for instructions

[2019-04-24 14:15] zzxjl1 commented on #1562
A phone with it’s unqiue reslution where two buttons are relatively at the same space triggers the bug:
http://103.94.185.36/1.mp4
What it‘s supposed to be like：
http://103.94.185.36/2.mp4

[2019-04-24 14:15] zzxjl1 commented on #1562
A phone with it’s unqiue reslution where two buttons are relatively at the same space triggers the bug:
http://103.94.185.36/1.mp4
What it‘s supposed to be like：
http://103.94.185.36/2.mp4

[2019-04-24 14:21] zzxjl1 commented on #1562
What happens is that when i click the button with white border the red button pops up at the same place, then sweetalerts reacts as if the red button is clicked.I have tested with numerous devices，it seems isn‘t caused by a laggy hardware

[2019-04-24 19:28] gverni commented on #1562
@zzxjl1 thanks for the video, but I still don't understand the issue. I don't see any red button popping up in the video 1.mp4. Could you share the live demo and the screen resolution you are using?

[2019-04-24 19:48] gverni commented on #1562
@zzxjl1 I think i understood now. The button that fires the swal (the button with white border on green background) is in the same position as the blue (confirm) button of the swal. So as soon as swal open, it closes straight away as if the blue confirm button is pressed. Is this the issue? It would really help here if you could provide a link with a live example so we can d bu further.

Also, is

[2019-04-25 03:40] zzxjl1 commented on #1562
On pc i only managed to triggered the bug once.
http://103.94.185.36/3.mp4

Web page extracted from our site:
http://103.94.185.36/1.html#1/1

[2019-04-25 05:33] limonte commented on #1562
I'm not able to reproduce.

[2019-04-25 07:30] zzxjl1 commented on #1562
It might have something to do with the fullpage.js, i'm experimenting to add some delay before the modal pops up, though this still remains to be tested.

[2019-04-25 08:41] gverni commented on #1562
@zzxjl1 I'm not able to reproduce it either (I tried both PC and mobile). Also the link you sent shows the swal of video 2.mp4 (which as far as I understand it does not trigger the issue). Can you confirm you see the issue with the link you sent?

[2019-04-25 08:45] zzxjl1 commented on #1562
This bug barely triggers, i sticked to it all day and it only got captured once.

[2019-04-25 08:47] zzxjl1 commented on #1562
I‘m trying to implement setTimeout before modal pops, so far so good but further testing is needed.

[2019-04-25 08:48] zzxjl1 commented on #1562
I really appreciate your excellent work.

[2019-04-28 01:04] sitWolf opened #1564 "inconsistent behaviour: form not always being saved"
Whenever I submit a form it is not being saved consistently when using sweet alert.
Between 2 and 5 submits the form suddenly fails to save. Have tried in many ways but all seem to suffer from the same issue (some examples provided below).
For example, I submit the form and it can saved, the first time, the second time, and the third time suddenly the forms are not being saved.
[code]
or
[code]
or

[2019-04-28 06:58] gverni commented on #1564
Hi @sitWolf which version of SweetAlert are you using? Clearly you are not using the latest version since the swal is now invocated using `Swal.fire()`.

I tried your code (with some changes) on the latest version and I haven't reproduced the issue. Please provide a live example using the instructions [here](https://github.com/sweetalert2/sweetalert2/wiki/How-to-provide-live-example-for-issue)

[2019-04-28 07:00] gverni commented on #1562
@zzxjl1 I'm closing this issue for now since we were not able to reproduce it.

[2019-04-28 07:00] #1562 closed

[2019-04-28 07:06] gverni commented on #1564
Here you can find the screen recording of running your code:

https://www.loom.com/share/e33af5abd8a349b0be86567ba413bda6

[2019-04-28 09:04] areaboy opened #1565 "About copyright/license"
Hello Sweetalert Engineer.  Thanks for this amazing script. Please I write to know about this script usage. Can I use this script in building a  commercial application that is saleable without  copyright issues. Thanks

[2019-04-28 09:06] areaboy commented on #1564
How can this script save info to database. Where is your ajax request

[2019-04-28 09:42] gverni commented on #1565
Hi @areaboy this project is licensed under MIT license. More info at https://github.com/sweetalert2/sweetalert2/blob/master/LICENSED

[2019-04-28 09:55] sitWolf commented on #1564
Same behaviour with sweetalert2 v8.8.7
https://www.loom.com/share/83b4b22633624382a3758a6cc32df4f6

[code]

[2019-04-28 15:29] gverni commented on #1564
@sitWolf it's pretty clear from the video that the SweetAlert2 gets executed correctly both times (i.e. the two alerts are shown in both occasion). So why do you think the issue is with SweetAlert? Have you check the browser console to debug the issue?

[2019-04-28 15:41] #1565 closed

[2019-04-29 08:51] limonte commented on #547
I'm happy to announce [`@sweetalert2/theme-black`](https://github.com/sweetalert2/sweetalert2-themes/tree/master/dark) which is the part of [`@sweetalert2/themes`](https://github.com/sweetalert2/sweetalert2-themes) :tada: :tada: :tada:

Implementation credits are going to @gverni! He is the rock-star of SweetAlert2 project :rocket:

Please try the dark theme out and repot any issues/wishes to http

[2019-04-29 08:51] #547 closed

[2019-04-29 17:54] sitWolf commented on #1564
Issue fixed.
Added an additional document.forms[1].submit();
See below working code.
It looks like swal conflicts with the first search bar form. Am not sure however why it was not a 'consistent conflict'.

[code]

[2019-04-29 17:57] #1564 closed

[2019-04-30 13:41] rawteech opened #1567 "Fonts in chrome are serif"
## Current behavior

## Expected behavior

## Live demo

[2019-04-30 13:47] limonte commented on #1567
The font family is inherited from the document by default

https://github.com/sweetalert2/sweetalert2/blob/master/src/variables.scss#L17

Make sure you've set the correct font size in your app.

[2019-04-30 13:47] #1567 closed

[2019-04-30 15:36] limonte opened #1583 "The success icon in toast is glitchy in Brave Browser and Chromium-based Microsoft Edge"
Live demo: https://sweetalert2.github.io/#mixin

![image](https://user-images.githubusercontent.com/6059356/56974068-ce1f9500-6b76-11e9-8f7a-45a5c9d77916.png)

Brave version:

![image](https://user-images.githubusercontent.com/6059356/57057949-55732280-6cb5-11e9-9ff2-02387d46b17b.png)

[2019-05-01 18:07] jf-m opened #1569 "Memory management: references not detached"
## Context

I am using swal2 in a heavy SPA that uses VueJs. I am currently busting all of the potential memory leakages in the application, and I believe I've found a potential threat coming from sweetalert2.

## Current behavior

This problem occurs when you fire an alert using either a `preConfirm` or by just attaching a function through `.then()`, like so:

[code]

It is important to note that

[2019-05-01 19:22] gverni commented on #1569
Hi @jf-m, yours is one of the best raised issues I’ve ever come across. Thanks for all the details. Unless @limonte has already a solution for you, I’m going to look into that in the next few days an get back to you! Thanks again...

[2019-05-02 08:39] jf-m commented on #1569
Hi @gverni , I'm glad if I can help !

I'm still working on this issue, and it appears that `privateMethods` and `privateProps` are not the only ones that retains references to `preConfirm` param.

Here is what I've found:

![image](https://user-images.githubusercontent.com/9339799/57063751-27dda780-6cbc-11e9-9b82-6e561db86bf6.png)

This one seems to mean that the `preConfirm` is retained in `inne

[2019-05-02 09:52] jf-m commented on #1569
Ok, after some tests, it looks like after my commit, all the references are correctly disposed and the GC collects them, solving this issue.

Just for the record, I've encountered this last one during my tests:
![image](https://user-images.githubusercontent.com/9339799/57067881-19958880-6cc8-11e9-8a77-2e70f68b6dc8.png)

That's the reason why I've set `globalState.keydownTarget` to null as well in

[2019-05-02 10:23] gverni commented on #1569
Thanks you so much @jf-m for the hard work! Sorry if I didn't get to look at your changes yet, but I was a bit busy. I'll try to review them as soon as possible!

[2019-05-02 10:32] jf-m commented on #1569
Dont worry, nothing urges! I've changed my dependencies to use my fork for the moment.

I'm happy to help ! And once again, I thank you back for this amazing work on sweetalert2, it's a really well developed and designed plugin, very very handy, reliable and full of smart features!

🍻

[2019-05-02 12:22] limonte commented on #922
The first theme is published: https://github.com/sweetalert2/sweetalert2-themes/tree/master/dark

The minimal theme will be implemented here: https://github.com/sweetalert2/sweetalert2-themes/issues/16

The Material UI theme will be implemented here: https://github.com/sweetalert2/sweetalert2-themes/issues/14

Please subscribe to the related issues to be on track.

[2019-05-02 12:22] #922 closed

[2019-05-03 11:10] gverni commented on #1569
@limonte thanks for the PR! While trying to reproduce this, I was doing some other profiling and I could see that in some cases there are some [_detached_](https://developers.google.com/web/tools/chrome-devtools/memory-problems/#discover_detached_dom_tree_memory_leaks_with_heap_snapshots) DOM elements left by Swal (about 60 of them). I'll double check with this PR as well and if my investigations

[2019-05-03 14:31] portonhealthdevback commented on #488
`.swal2-container:not(.swal2-in) {
    pointer-events: none;
}`

so apparently disabling this css line fixes the problem. This is the package code by the author. so will post something as soon as i find the final solution

[2019-05-03 21:48] greenkeeper[bot] opened #1572 "An in-range update of sass is breaking the build 🚨"
## The devDependency [sass](https://github.com/sass/dart-sass) was updated from `1.19.0` to `1.20.1`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Fsass-1.20.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sass is a devDependency of this project. It **mig

[2019-05-04 06:43] greenkeeper[bot] opened #1573 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.11.0` to `1.11.1`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Frollup-1.11.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It

[2019-05-05 09:08] #1573 closed

[2019-05-05 09:08] #1572 closed

[2019-05-05 19:55] alexherbo2 opened #1574 "Allow passing HTML with positional parameters"
**Prototype**

[code]

HTML is accepted as a description, but only as a string.

A workaround is to pass the description with [outerHTML].

[outerHTML]: https://developer.mozilla.org/en-US/docs/Web/API/Element/outerHTML

[2019-05-06 03:53] lagden opened #1575 "Invalid css selector"
## Current behavior

https://github.com/sweetalert2/sweetalert2/blob/master/src/sweetalert2.scss#L446-L453

## Expected behavior

Nesting in something

## Demo

Output
[code]

[2019-05-06 06:35] limonte commented on #1575
Working as expected.

[2019-05-06 08:46] limonte commented on #1574
Won't change, please use `outerHTML` or an object for params.

[2019-05-06 08:46] #1574 closed

[2019-05-06 10:53] DiegoASG opened #1577 "Trying to use version 8"
Hello, I was trying to use the version 8 but I cannot find the "dist" folder, where the min.css and min.js are supposed to be. If someone could instruct me as to where to find them, thanks

[2019-05-06 10:57] alexherbo2 commented on #1574
@limonte Why allowing but enforcing HTML as a string?

[2019-05-06 11:04] limonte commented on #1577
How exactly?

[2019-05-06 11:09] DiegoASG commented on #1577
Well with the version 7 I was able to download the archives and inside the "dist" folder I used the (sweetalert2.min.js) and the (sweetalert2.min.css), and I was able to ass them to my project, however when I get all the version 8 files I cannot find those archives.

[2019-05-06 13:07] limonte commented on #1577
I see, you're probably downloading them manually from https://github.com/sweetalert2/sweetalert2/releases which isn't the official way to download SweetAlert2.

Please follow the installation instructions from README: https://github.com/sweetalert2/sweetalert2#installation

[2019-05-06 13:07] #1577 closed

[2019-05-06 13:25] #1569 closed

[2019-05-06 13:28] limonte commented on #1569
@gverni please feel free to continue your research on detached DOM elements. Even though this particular issue is fixed, there still might be some details preventing GC to dispose things.

[2019-05-06 18:06] greenkeeper[bot] opened #1578 "An in-range update of gulp is breaking the build 🚨"
## The devDependency [gulp](https://github.com/gulpjs/gulp) was updated from `4.0.1` to `4.0.2`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Fgulp-4.0.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

gulp is a devDependency of this project. It **might not

[2019-05-06 23:58] lagden commented on #1575
What's it means?
Are you expecting an css error?

[2019-05-07 07:29] #1578 closed

[2019-05-07 07:34] limonte commented on #1569
:tada: This issue has been resolved in version 8.10.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.10.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-07 10:18] AnandanRajkumar opened #1580 "problem in displaying alert popup"
## Current behavior
i am not able to show alert pop up when the browser video full screen is on .for your reference  i had attached the screenshot of current and expected behavior .

![image](https://user-images.githubusercontent.com/27425369/57292520-82716c00-70df-11e9-83ea-d47ba03f8cf6.png)

## Expected behavior
![image](https://user-images.githubusercontent.com/27425369/57292796-7afe9280-70e0-1

[2019-05-07 11:05] limonte commented on #1580
https://stackoverflow.com/questions/ask

[2019-05-07 11:05] #1580 closed

[2019-05-07 13:20] OlofT opened #1581 "document scrolling is prevented AFTER modal is shown"
All I've done is to take a page, import it
`<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>`
then shown it:
[code]

After clicking buttons, there are still lots of CSS-stuff. Among others this one, which prevents scrolling:

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    overflow: hidden;
}

[2019-05-07 15:19] gverni commented on #1581
Hi @OlofT that shouldn't happen. I just tried your code, and scrolling is correctly enabled. Maybe something goes wrong in the close phase with your ```someFunction()``` code. Can you provide a live example that show this behavior using the instructions [here](https://github.com/sweetalert2/sweetalert2/wiki/How-to-provide-live-example-for-issue)?

[2019-05-07 15:20] limonte commented on #1581
A modal window is a graphical control element which creates a mode that _disables_ the main window but keeps it visible, with the modal window as a child window in front of it.

Set the `backdrop` parameter to `false` to have a regular modeless popup.

[2019-05-07 15:53] gverni commented on #1581
@OlofT can you clarify if you issue is after the modal is closed? (in your comment you wrote "After clicking buttons", so I assumed after the swal was closed)

[2019-05-07 20:44] OlofT commented on #1581
Yes, it was my fault...  In the "someFunction()" the DOM is updated and the div with the alert is removed. This seems to be the cause of the problem. As if the code to clean up is kept inside the HTML (or cannot run if the div is gone).

With a setTimeout of 400, fixes the issue (the animation needs to complete first). Like this:
[code]
 Would be great if this could be fixed somehow (I mean cleani

[2019-05-07 20:44] #1581 closed

[2019-05-07 22:01] gverni commented on #1581
@OlofT don’t know if that can help in your use case, but you can always use the `onAfterClose` property to execute a callback once the swal is disposed.

[2019-05-08 06:08] OlofT commented on #1581
Thanks! It will help!

[2019-05-09 10:25] AnandanRajkumar commented on #1580
why you closed this issue .

[2019-05-09 10:55] davalapar commented on #1320
Found a possible issue of this, one is nesting Swal onClose functions.

[2019-05-09 12:56] limonte commented on #1320
:tada: This issue has been resolved in version 8.10.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.10.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-09 13:00] limonte commented on #1320
@davalapar thanks for reporting, fixed

[2019-05-09 18:46] gverni commented on #1583
Just to track the last bit of investigation. Setting the `overflow-y` to `visible`  for the `swal2-toast` makes the glitch disappear (but obviously the artifacts used in the animation overflow outside the toast). To test this, just add this to the live sample page above:

[code]

[2019-05-10 06:54] #1583 closed

[2019-05-10 07:01] limonte commented on #1583
:tada: This issue has been resolved in version 8.10.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.10.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-11 02:27] venkymadurai commented on #829
Guys... please change the examples or add more examples that work in IE as well...

"=>" on IE gave a lot of headaches and was time consuming to find out the cause!

[2019-05-11 08:51] gverni commented on #829
Hi @venkymadurai the lack of fat arrow functions support in IE doesn't have anything to do SweetAlert2. In our examples we just use the latest version of JS specification, and the browser compatibility should be part of background skills for a JS developer.

[2019-05-11 09:06] limonte commented on #829
Agree with @gverni the lack of JS knowledge of a small number of developers shouldn't be the reason for us to use outdated JS syntax in docs and examples.

[2019-05-11 10:02] limonte commented on #1320
:tada: This issue has been resolved in version 8.10.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.10.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-11 11:42] markusramsak opened #1586 "iOS scroll position jumps when sweet alert opens"
## Current behavior

I have scrolled for example 500px down und open a sweet alert - and now it jumps about 50px upwards. When I close the sweet alert, the scroll position gets restored correctly.

## Expected behavior

No jumping when opening sweet alert.

it seems that document.body.scrollTop doesn't work as expected on iOS in combination with address bar in Safari browser.

when I remove the tw

[2019-05-11 12:01] limonte commented on #1586
Do you experience this issue on https://sweetalert2.github.io

[2019-05-11 12:05] markusramsak commented on #1586
no, I also have a second project with simpler HTML and CSS where it works too.

In this project where I have this issue is more complex.

[2019-05-11 12:07] limonte commented on #1586
Could you please try to track down the difference between the complex project and https://sweetalert2.github.io/ ?

I'd assume there are some styles on the `<body>` of the complex project which cause this issue.

[2019-05-11 12:12] markusramsak commented on #1586
I tried ...

[2019-05-11 12:55] limonte commented on #1586
I'm closing this issue because we're unable to reproduce it without a live demo or a working example.

@gverni I'll be more strict with issue-reports starting from now, all incomplete issues will be closed, I made the change in ISSUE_TEMPLATE as well: https://github.com/sweetalert2/sweetalert2/commit/40bd865bd74da37fb4cac6fe95058d7b89d8994b

Reportes need to DO THE WORK as well, so we can focus on

[2019-05-11 12:55] #1586 closed

[2019-05-11 13:07] limonte opened #1587 "Release a new major - v9.0.0"
TODO:

- [x] https://github.com/sweetalert2/sweetalert2/projects/2
- [ ] https://github.com/sweetalert2/sweetalert2-themes/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22
- [x] https://github.com/sweetalert2/sweetalert2.github.io/pull/76
- [ ] https://github.com/sweetalert2/sweetalert2.github.io/issues/77
- [ ] https://github.com/sweetalert2/sweetalert2.github.io/issues/79
- [X] https

[2019-05-11 13:12] limonte commented on #1587
@gverni @zenflow please feel free to add anything you think should be included to the upcoming major release (v9)

The main focus of v9 is **SASS variables and themes**.

Please go through https://github.com/sweetalert2/sweetalert2/blob/master/src/variables.scss and let me know if some variables should be renamed for the upcoming major.

I'm planning to document SASS variables and make them the pa

[2019-05-11 14:18] cekvenich opened #1588 "ReferenceError: Can't find variable: WeakMap"
I am getting these errors at runtime at www.ubaycap.com
 with your version v8.9.0

I am using promise as you recommended.
So version 8 is less stable than 7.

[2019-05-11 14:23] markusramsak commented on #1586
I found the source problem. It occurs when css position is set to relative on body. Is there a workaround, so it works even when body position is relative?

[2019-05-11 14:43] limonte commented on #1588
Which browser?

[2019-05-11 14:50] cekvenich commented on #1588
The error came via monitoring app errorception and it did not say.
We just updated to v8 from v7.
Clearly, there is a polyfill missing.

[2019-05-11 14:55] markusramsak commented on #1586
I fixed this issue for myself by never added "position: relative" to body but added a wrapper container div with class "body-container" which finally has "position: relative"

[2019-05-11 14:57] limonte commented on #1588
1. when updating to a new major version, you should always read the release notes, because there are some breaking changes (that's why it's a new major).

2. WeakMap polyfill is missing in Android 4.4 native browser

3. from [v8 release notes](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0):

4. If you don't need to support Android 4.4 but want to prevent those errors, include `@un

[2019-05-11 14:57] #1588 closed

[2019-05-11 14:58] limonte commented on #1586
another solution would be

[code]

[2019-05-11 15:00] markusramsak commented on #1586
but this would break my absolute positioned footer ...

[2019-05-11 15:05] cekvenich commented on #1588
I doubt it is android 4.4, likely ie11.  That is a big download as mentioned in the discussion. And I'd have to add modernizer. We have 12 sites/app: we'll switch to Vox alert.
Thanks for the code for last few years we enjoyed using sweet alert.

[2019-05-11 15:12] limonte commented on #1588
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WeakMap

![image](https://user-images.githubusercontent.com/6059356/57571527-42302780-7418-11e9-93a4-97075c2231f9.png)

[2019-05-11 21:55] sigma-technology commented on #829
As one of the noob JS developers you speak of...I still agree with @gverni and @limonte :-)

[2019-05-12 08:36] gverni commented on #1587
@limonte that's a great idea! Let me review the variables and get back to you.

[2019-05-12 13:18] fabersky commented on #1135
@limonte same here.
Using that inside `$(document).on("turbolinks:load", function(){` throws that error.

[2019-05-12 19:46] gverni commented on #1135
@fabersky the error is self explanatory. The `await` can only be used in an async function. You can always define one or use a `Promise` instead.

[2019-05-13 06:25] 4unkur opened #1589 "Support for optgroup in select input type"
Is there any support for `optgroup`'s in select input types?
I need to show some hierarchal options in select input

[2019-05-13 06:29] limonte commented on #1589
Not at the moment, could be a good improvement though :+1:

[2019-05-13 06:29] 4unkur commented on #1589
Hi @limonte,

Does this related to it?
https://github.com/sweetalert2/sweetalert2/pull/549

[2019-05-13 06:34] limonte commented on #1589
Yes, but the quality of that PR wasn't good enough to be included to the codebase.

[2019-05-14 17:44] Tawfeekamr commented on #781
I think the major problem is in HTML when the acnhor element has ` <a href="#"> Click Me</a>"` , the `#` tells the browser to go to some where on the page! so before you install sweet alert the default action is to go to the top when you did not assign the anchor element target.

My problem just solved when I delete `href="#"` sweet alert working fine without any additional JavaScript or CSS.

[2019-05-15 06:56] Pratysha commented on #781
I cannot scroll to top or desired location using Swal.fire. Can you please help me with this.
if (!rateValidation) {
        window.scrollTo(0, 550);
        $('lblRateFactors').focus();
        Swal.fire({
          width: 350,
          text: 'Please complete the ratings for all factors',
          confirmButtonText: '<font color="black">Continue Rating</font>',
          animation: false,

[2019-05-15 10:18] greenkeeper[bot] opened #1590 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.11.3` to `1.12.0`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Frollup-1.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It

[2019-05-15 10:53] Va1ga opened #1591 "Incorrect work with href sweetalert2"
Hello! There is a problem with displaying sweetalert2 when using links (href). If you specify a path, for example `<a href='http://www.example.com'>,` the notification appears and instantly disappears, loading the specified site without providing any action to the user, however if you do not specify a path (for example, `<a href='#'>,` it is displayed correctly. How can I make sweetalert2 work wit

[2019-05-15 11:47] fas3r commented on #457
Hello @limonte ,

Do the method still apply or there is a new way to do since 2017 :) ?

Thanks

[2019-05-15 13:02] gverni commented on #1591
Hi @Va1ga, Sweetalert doesn't block the browser execution (as the `windows.alert()` does), and it's just executing a promise. Even if you replace swal with a simple promise:

[code]

you'll get the same behaviour (the code above is implementing a 1 second sleep function)

Unless you disable the default browser behavior of the  `A` tag, then the browser will open the page . You may want to handle t

[2019-05-15 13:02] #1591 closed

[2019-05-15 13:24] limonte commented on #1590
false alarm

[2019-05-15 13:24] #1590 closed

[2019-05-15 13:46] gverni commented on #781
@Pratysha could you provide a live example for your issue along with an explanation of what you are trying to do? Also keep in mind that this specific issue may not have anything to do with what you are trying to achieve (if I understood your code)

[2019-05-15 13:57] gverni commented on #457
@fas3r `await`/`async` is still the default method for that. You can see an example / reference [here](https://sweetalert2.github.io/sweetalert2-examples/queue/back-button/) (source code for the example [here](https://github.com/sweetalert2/sweetalert2-examples/tree/master/src/queue/back-button))

[2019-05-15 16:13] fas3r commented on #457
Hello @gverni ,

Ok, sorry I did not check the queue folder.

Thanks again.

[2019-05-17 01:18] fas3r opened #1594 "input | checkbox | if inputValue is 1 the checkbox is checked | wrong behavior"
## Current behavior

using `input` type `checkbox` if inputValue is 1 the checkbox is checked. This is not the default  behavior when creating a `input` type `checkbox` in plain `html`

## Expected behavior

The initial state of the `input` type `checkbox` should not be affected by the value define in `inputValue`.

The checkbox state should be reflected in `inputAttributes` with the attribute `ch

[2019-05-17 11:03] gverni commented on #1594
Thanks @fas3r, this is actually a good point. As you guessed, in Swal2 we use the the `inputValue` to set the `checked` attribute:

https://github.com/sweetalert2/sweetalert2/blob/cf4453171986186e147771f3d0ef624fabd4e60e/src/utils/dom/renderers/renderInput.js#L144

This approach can be debatable, but I believe it's a design choice to keep consistency across all input type (@limonte do you agree?).

[2019-05-17 12:36] fas3r commented on #1594
Hello @gverni ,

No problem, I thought it could be good to raise it in case other user face the same issue.

I also understand if that's not possible to change it, but then it breaks a bit the logic when using form with steps.

Even if you moved forward and uncheck the checkbox, this one will be checked again when you click back as it will use the value set in "inputValue".

For now, I use `onOpen

[2019-05-17 15:42] matheusbozetti commented on #238
@phiter > I needed a solution in order to make my input have a mask, so I used mask.js with this code:

Thanks, man. It was exactly what I needed.

[2019-05-19 11:42] nicolasvahidzein commented on #1222
Hello Limonte, same here.

[2019-05-19 12:58] fas3r commented on #1594
Hello @gverni , @limonte ,

A small fix, if you are `OK` with it.

Thanks.

Fas3r.

[2019-05-19 18:21] NickWoodhams commented on #46
Based on a little research it appears the owner of Sweetalert V1 is contributing to Sweetalert2, so I'd say it's official. I was just worried about going with a version ripped off from the original creator.. now I'm it's settled.

(t4t5 under contributors https://github.com/sweetalert2/sweetalert2/graphs/contributors)

[2019-05-20 18:35] gverni commented on #1594
@fas3r thanks for the proposal. I had a look to it and I'm still a bit puzzled on the need for that. I agree that it may be useful to set a value for the checkbox, but keep in mind that in Sweetalert2 you can have only one checkbox if you are using the `input: 'checkbox'` (you can have multiple checkboxes using the `html` properties). Given that, what's the point of setting the value? At the end y

[2019-05-20 19:35] limonte commented on #1587
![image](https://user-images.githubusercontent.com/6059356/58046938-6b0a9800-7b4f-11e9-8701-966699151792.png)

:cowboy_hat_face: :dart: :sunglasses:

With v9 we'll hit 10k :rocket:

[2019-05-20 19:36] fas3r commented on #1594
Hello @gverni,

Yes I agree and it will not bring any value.

However would you consider implement in [src/utils/dom/init.js](https://github.com/fas3r/sweetalert2/pull/1) as below

[code]

Currently, as inputValue is used to set the state of the checkbox,  the checkbox will never get the state that the user selected when this one will go backward when using `queues`, in the same way that it's done

[2019-05-20 22:37] MichaelTheHuman commented on #374
To anyone who's got this issue using Bootstrap 4 instead of 3 as in answers above, use this instead:
`$.fn.modal.Constructor.prototype._enforceFocus = function() {};`

[2019-05-21 08:32] gverni commented on #1594
@fas3r I actually don't see this bheavior. I created a live demo [here](https://swal2-queue-checkboxes.glitch.me/) where you can see that the checkbox status is kept going back and forth in the queue. If this is not what you meant, can you provide a live example?

[2019-05-21 18:39] toverux commented on #46
@NickWoodhams, well, to be fair, no he's not [contributing]. Not directly. Those contributions come from the first repo, because @limonte did the thing correctly and did not reset the Git history when he cloned the previous repo.

But it's not stolen. That's open source, the license was compatible and we did point to the old repo, _completely_ abandoned at the time.

Nowadays the codebase is compl

[2019-05-21 21:05] aw-creative opened #1597 "inputName option to separate input from confirm"
## New feature motivation

When creating a Sweet Alert to confirm a user wants to delete something, I wanted to optionally ask the user why they were deleting it

## New feature description

Add a new option for the name of the value to be set by inputs.
inputName : string,
When the confirm button is clicked it you can access the values of the confirm button, and input value sepratly.

return.valu

[2019-05-21 21:15] limonte commented on #1597
Thanks for the feature request @aw-creative but it doesn't make much sense to me :)

Input + confirm button will result into `{ result: { value: '<input-value>' } }`. When an input is empty `result.value` will be `''`.

Input + cancel button will result into `{ result: { dismiss: 'cancel' } }`

All scenarios are easily distinguishable.

[2019-05-21 21:15] #1597 closed

[2019-05-22 06:58] limonte commented on #1594
Correct.

Agree, done in https://github.com/sweetalert2/sweetalert2.github.io/commit/0d435d17da2371ddbacf4f980190d4e911868d99

[2019-05-22 06:58] #1594 closed

[2019-05-22 08:21] #1246 closed

[2019-05-22 08:26] limonte commented on #1246
:tada: This issue has been resolved in version 8.11.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.11.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-22 13:00] #1444 closed

[2019-05-22 13:06] limonte commented on #1444
:tada: This issue has been resolved in version 8.11.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.11.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-23 15:48] BMahabir commented on #896
Just found this yesterday.... this is exactly what I need, but it isn't working for me.  Whenever I have `return false;` in the preConfirm() section as the return value, I get this error thrown at me in Ember : ```sweetalert2.js:944 Uncaught TypeError: params.preConfirm(...).then is not a function```

[2019-05-23 17:56] gverni commented on #896
@BMahabir can you provide a live example? BTW, if you want to see `preConfirn` _in action_ you can have a look to [this example](https://sweetalert2.github.io/sweetalert2-examples/forms/login/) (source code [here](https://github.com/sweetalert2/sweetalert2-examples/blob/master/src/forms/login/form-login.js))

[2019-05-23 18:19] limonte commented on #1390
:tada: This issue has been resolved in version 8.11.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.11.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-24 15:41] ndragun92 opened #1600 "Toast BUG - Date 24.05.2019"
## Current behavior

You can see also on your website that once you open Toast and try to click on git button u wont be able to click on it. Also you will see on inspect that swal classes r still present even modal isn't open.

## Expected behavior

Toast should be deleted from html as other modals once its closed or not present.

[2019-05-24 18:06] GiovanniGianola commented on #1600
I encounterd the same issue. you can bypass the problemin this way, while wait for the fix.

[code]

[2019-05-24 18:27] ndragun92 commented on #1600
@GiovanniGianola i know for that but thanks anyway. I just felt like i needed to report this since i couldn't find any similar issues posted

[2019-05-25 09:00] #1600 closed

[2019-05-25 09:06] limonte commented on #1600
:tada: This issue has been resolved in version 8.11.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.11.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-25 09:11] limonte commented on #1600
Thank you for reporting, guys! Fixed now :tada:

Please upgrade the `sweetalert2` dependency.

[2019-05-27 14:09] alexherbo2 opened #1602 "SweetAlert2 does not work in Firefox extensions"
SweetAlert2 assigns the API to `this.Sweetalert2`, but reads back the object from `window.Sweetalert2`, which – when using SweetAlert2 in Firefox extensions – leads to the following error message:

[code]

I managed to make it work by replacing `window.Sweetalert2` with `this.Sweetalert2`.

A more detailed explanation can be found [here][Bugzilla#1208775].

[Bugzilla#1208775]: https://bugzilla.moz

[2019-05-29 09:15] gverni commented on #1602
@alexherbo2 sorry for late reply. Can you please explain better what you changed in Swal2 code to make it work? Also if you could share the code for your extension (the parte relevant to Sweetalert) that would help to understand the issue (sorry, I didn't have time to go through the link you sent)

[2019-05-29 09:54] alexherbo2 commented on #1602
I fetched the minified version of SweetAlert2, fixed it by replacing every instance of `window.Sweetalert2` with `this.Sweetalert2` and used it in a file titled `config.js`.

https://github.com/alexherbo2/firefox-configuration/blob/master/fetch
https://github.com/alexherbo2/firefox-configuration/blob/master/Makefile
https://github.com/alexherbo2/firefox-configuration/blob/master/manifest.json
http

[2019-05-31 08:13] ledzgio opened #1603 "Range slider not working on iPhone"
Sweetalert range slider not working on iPhone both with Safari and Chrome, I am not able to move the slider in any direction, it's not possible to move the slider left and/or right with the phone.

This is the code I am using in my project:

[code]

Tried also at the demo link https://sweetalert2.github.io/#input-range but it doesn't work. Using iPhone X device and Safari 12 (same result using Chr

[2019-05-31 09:50] TonnTamerlan opened #1604 "Can't focus to some input element after closing sweetAlert"
## Current behavior
I try to focus on some input element after closing sweetAlert but it doesn't happen: the focus appears and immediately disappear.
I use swetAlert (v. "8.11.6") and React (v. "16.5.2")
[code]

## Expected behavior

After closing sweetAlert specific element should be focused

## Live demo

[code]

[2019-05-31 10:22] limonte commented on #1604
[code]

[2019-05-31 10:22] #1604 closed

[2019-05-31 10:37] TonnTamerlan commented on #1604
this doesn't work too

[2019-05-31 10:43] TonnTamerlan commented on #1604
@limonte
Thanks

[2019-05-31 12:48] gverni commented on #1603
Thanks @ledzgio. I don't have an IOS device at the moment. I'll try that later and get back to you. In the meantime, can you confirm that the `range` demos [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range) works for you? I expect so, but just worth double checking.

[2019-05-31 13:42] ledzgio commented on #1603
@gverni yes I confirm that demos on link you provided works properly for me.

[2019-05-31 13:43] gverni commented on #1603
Thanks @ledzgio for trying. I thought so but better try it. I'll get hold of an IOS device later and check what's going wrong.

[2019-05-31 13:50] ledzgio commented on #1603
Thank you @gverni, I believe this is a critical issue, since iphone owners are a considerable amount of the total users.

[2019-05-31 14:26] limonte commented on #1603
Oops, that's a regression from https://github.com/sweetalert2/sweetalert2/pull/1596

Thanks @ledzgio for reporting, the fix is coming in a couple of minutes

[2019-05-31 14:58] ledzgio commented on #1603
You are welcome @limonte, when are you going to release a new version with the fix?

[2019-05-31 15:02] limonte commented on #1603
@gverni would you be able to review the #1605 today?

[2019-05-31 15:04] gverni commented on #1603
Yes @limonte, I should be able to do it in about 4 hours

[2019-05-31 15:54] gverni commented on #1602
@alexherbo2 I didn't forget about this issue. I haven't had a lot of time to look into that yet. As far as I understood this behavior (i.e. `this` !== `window`) is due to a Mozilla's design choice for their content script sandbox. I looked briefly at the code, and I think the `window` is added by the transpiler in the last line of the bundle, so there is nothing to be changed in the Swal2 source c

[2019-05-31 18:07] #1603 closed

[2019-05-31 18:15] limonte commented on #1603
:tada: This issue has been resolved in version 8.11.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.11.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-31 23:58] david-peter-smith opened #1606 "GitHub releases missing built files ("./dist" folder)"
## Current behavior
The current release [v8.11.7](https://github.com/sweetalert2/sweetalert2/releases) is missing the built files ("./dist" folder) that contains the final production code.

## Expected behavior
The final built files should be included in tagged full releases for the greatest accessibility of users. Many people do not use CDNs or Package Managers to fetch libraries which is why a .

[2019-06-01 18:15] CRIMSON501 commented on #1600
This bug still persists, the element is not deleted from the body when the toast dismisses. Note that I am using the official dark theme if that is relevant.

[2019-06-01 19:50] limonte commented on #1600
I am not able to reproduce the bug with the laster version. Make sure you're using the latest version. If so, please open a new issue.

[2019-06-01 22:30] nicolasvahidzein opened #1607 "Input swal with password creates chrome alert and triggers password manager"
Hello Limonte, you had closed this one but it is not working. Issue was #1222.

Any changes to this issue since last year?

[2019-06-02 15:09] noraj opened #1608 "[Documentation] The changelog is not mentioning a breaking change."
## Description

See https://stackoverflow.com/questions/56416187/sweetalert2-typeerror-this-is-undefined-after-v8-upgrade/

**TL;DR**: The changelog is not mentioning a breaking change.

Before (I don't know exactly when since the changelog do not talk about it) calling `Swal()` was enough to launch the popup, now (I don't know since when) `Swal.fire()` is mandatory. The issue is that the Changelo

[2019-06-02 17:22] gverni commented on #1607
Hi @nicolasvahidzein, I can't reproduce the issue. As you can see the `autocomplete` property is added to the `input` tag.

![image](https://user-images.githubusercontent.com/17089396/58764789-5375db00-8563-11e9-8ea5-f60b40a7c5a0.png)

Can you provide more info as to what you see and why you think is not fixed?

[2019-06-02 17:41] gverni commented on #1608
Hi @noraj the breaking change is clearly mentioned in the [release note for version 8.x](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0). And this is linked on the top of the README (look for "Upgrading from v7.x to v8.x?"). This is also reported in the changelog pointed in the stackoverflow article you mentioned: you need to expand the commit f581352 "BREAKING CHANGE: remove withN

[2019-06-02 18:08] noraj commented on #1608
Hi @gverni when I did my upgrade I directly went to `CHANGELOG.md` and saw the [8.0.0 (2019-01-19)](https://github.com/sweetalert2/sweetalert2/blob/master/CHANGELOG.md#800-2019-01-19) with a lot of `BREAKING CHANGE`.

I only targeted `CHANGELOG.md` because this is the file to target on every project and when you have several dependencies to review you can't spend time to find f the info is elsewhe

[2019-06-02 18:10] noraj commented on #1608
@gverni

- `Breaking change # 2 - Bower support has been discontinued`
- `Breaking change # 3 - Deprecated methods were removed`
- `Breaking change # 4 - Deprecated parameters were removed`
- `Breaking change # 5 - Android Browser is no longer supported`

Are in the `CHANGELOG.md` but not `Breaking change # 1 - swal(...) -> Swal.fire(...)`

[2019-06-02 18:16] noraj commented on #1608
I made a PR #1608

[2019-06-02 18:30] gverni commented on #1608
@noraj as I reported already in my comment, the breaking change for `Swal.fire()` is already in commit f581352 under title "BREAKING CHANGE: remove withNoNewKeyword enhancer". I agree that this does not explicitly mention the `fire()` method, but this can be seen inside the commit message.

I let @limonte comment on the PR for the changelog. Keep in mind that the changelog is automatically generat

[2019-06-03 08:09] #1608 closed

[2019-06-03 08:12] limonte commented on #1608
Thank you @noraj and @gverni for the constructive discussion, the PR is merged now :+1:

[2019-06-03 11:07] limonte commented on #1606
Thank you for the request @david-peter-smith

IMO it's the wrong way to grab JS packages from GitHub releases, but I agree with you that some people are doing that for different reasons, therefore I'd like to fix this issue.

As per discussion in #820

That's the reason why we don't have the `dist` folder in the repo anymore.

The good news is that we can do a small trick:

- add the `dist` folder

[2019-06-03 17:31] nicolasvahidzein commented on #1607
Hello, thank you for that, i will check for that right now. In the meantime, here is how i have it implemented.

![password prompt](https://user-images.githubusercontent.com/29876108/58821811-c9467900-862d-11e9-8f5f-ac9527fd6c61.jpg)
![password prompt2](https://user-images.githubusercontent.com/29876108/58821812-c9467900-862d-11e9-9052-0af095600f6d.jpg)

[2019-06-03 17:34] nicolasvahidzein commented on #1607
I'm using this version. "sweetalert2": "^7.26.11",

You are right it is not added, could it be my version that i am using?

I am implementing it properly

![password prompt3](https://user-images.githubusercontent.com/29876108/58821961-2fcb9700-862e-11e9-800c-ff1a9a128a69.jpg)

[2019-06-03 17:41] nicolasvahidzein commented on #1607
I am doing properly as far as i can tell.

[code]

[2019-06-04 02:59] varunsridharan opened #1611 "Multiple SweatAlert2 With Different Themes."
## New feature motivation

I just checked the demo on how the themes works from here : https://sweetalert2.github.io/

And found that we need to load css file for each theme which is good. but if i do that then all popup gets replaced with that theme. in which some case its not good. what if i need 2 different theme for 3 different popups ?

## New feature implementation
So my idea for it is to cr

[2019-06-04 06:35] limonte commented on #1611
Since SweetAlert2 designed to show one popup at the time, therefore I believe the theme-switching logic should be on app-level, not on plugin-level.

Here's how I'd implement the requested use-case:

[code]

[code]

Live demo: https://befitting-astronaut.glitch.me/
Source: https://glitch.com/edit/#!/befitting-astronaut?path=index.html:28:0

Will this work for your app @varunsridharan ?

[2019-06-04 06:43] varunsridharan commented on #1611
@limonte thanks for your faster reply. well this dose not work for me.
as i am using `SweetAlert2` in my wordpress settings framework called `WPOnion`http://github.com/wponion/wponion
even tho single popup is shown. but each framework user may require different theme in that case loading theme css on request in a big wp site is not good. so i would prefer the way i have said.

[2019-06-04 08:05] gverni commented on #1607
@nicolasvahidzein I'm puzzled by this statement. In your screenshot i can see that the `autocomplete` property is added to the `input` tag. So what do you exactly mean by "is not added"?

[2019-06-04 08:10] limonte commented on #1607
I guess @nicolasvahidzein is looking form this

[code]

Taken from https://stackoverflow.com/a/44984917

Anyways, working with password managers has nothing to do with SweetAlert2, therefore I'm closing this issue.

[2019-06-04 08:10] #1607 closed

[2019-06-04 08:43] limonte commented on #1611
I don't see how

[code]

would be any different from

[code]

Anyways, I am quite sure on this statement

therefore I'm declining this feature-request.

[2019-06-04 08:43] #1611 closed

[2019-06-04 08:52] varunsridharan commented on #1611
@limonte ok thanks for your reply quick question. with the current theme system
if i load all the css files at once will it work properly ?

[2019-06-04 08:55] limonte commented on #1611
No, you need to dynamically switch the theme styles, e.g. remove the current one and add the desired one before showing a popup.

[2019-06-04 21:31] bugfreetech commented on #606
Very promising to begin with, it allowed me an alert plus a toast - HOWEVER once the toast self-destructs everything becomes broken (if more than one toast shows it gets worse and worse)
It is very disappointing that the 'toast' feature couldn't be instanced & behave like actual toast (with stacking)

[2019-06-06 13:09] greenkeeper[bot] opened #1612 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.14.2` to `1.14.3`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Frollup-1.14.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It

[2019-06-06 14:56] limonte commented on #1612
false alarm

[2019-06-06 14:56] #1612 closed

[2019-06-07 16:22] limonte commented on #1606
:tada: This issue has been resolved in version 8.11.8 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.11.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-07 16:22] limonte commented on #1608
:tada: This issue has been resolved in version 8.11.8 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.11.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-07 16:22] greenkeeper[bot] opened #1613 "An in-range update of karma-webpack is breaking the build 🚨"
## The devDependency [karma-webpack](https://github.com/webpack-contrib/karma-webpack) was updated from `4.0.0-rc.6` to `4.0.0`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Fkarma-webpack-4.0.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

karma-webpack

[2019-06-07 16:51] limonte commented on #1606
I unpublished #1610 - that trick didn't work. After overriding the commit history semantic-release is having troubles in detecting the latest version: https://travis-ci.org/sweetalert2/sweetalert2/builds/542853434

[2019-06-07 16:56] #1613 closed

[2019-06-07 19:05] greenkeeper[bot] opened #1614 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.14.3` to `1.14.4`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Frollup-1.14.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It

[2019-06-08 11:13] limonte commented on #1606
I decided not to complicate the releasing process for adding the `dist` folder to GitHub releases.

If for some weird reason you can't use package managers or CDN, please do this:

Step 1: follow the CDN link from the installation guide:

![image](https://user-images.githubusercontent.com/6059356/59146480-843c9100-89f7-11e9-9412-6d98e35d1c86.png)

Step 2: click the "Download" button

![image](http

[2019-06-08 11:14] #1606 closed

[2019-06-08 11:20] limonte commented on #1614
false alarm

[2019-06-08 11:20] #1614 closed

[2019-06-08 13:04] #1602 closed

[2019-06-08 13:10] limonte commented on #1608
:tada: This issue has been resolved in version 8.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-08 13:10] limonte commented on #1602
:tada: This issue has been resolved in version 8.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-08 13:10] limonte commented on #1613
:tada: This issue has been resolved in version 8.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-09 18:21] PeacefulOtter opened #1616 "customClass TypeError"
## Current behavior

Hey ! When I'm trying to apply custom classes, swal throws a weird TypeError. I've tried no work around because I just haven't any idea on how to fix this..
Thanks in advance!

## Live demo

The live demo template: https://pastebin.com/VD3VGJ1Y
Error :
[code]

[2019-06-09 20:25] limonte commented on #1616
You're using the outdated version of the plugin.

[2019-06-09 20:25] #1616 closed

[2019-06-10 14:05] limonte opened #1617 "Close button is almost completely covered by content when title isn't set"
## Current behavior

The close button is almost covered and unclickable:

![image](https://user-images.githubusercontent.com/6059356/59200904-efc26200-8ba1-11e9-8610-7098fee83c64.png)

## Expected behavior

The close button is fully accessible with a mouse.

## Live demo

[code]

[2019-06-10 14:34] #1617 closed

[2019-06-10 14:39] limonte commented on #1617
:tada: This issue has been resolved in version 8.12.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.12.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-14 09:29] GarbledTTT commented on #477
Wow , That's great

[2019-06-14 09:50] ledzgio commented on #271
It would be a nice idea to have the **output** value number editable as an input field, doing this it's easier to use the range slider also with smartphones. I noticed sometimes doesn't work properly, especially when min and step are very small (in my case is 0.001 and this makes hard sometimes to select the proper value).

[2019-06-14 19:08] gverni commented on #477
@GarbledTTT the cloudflare CDN is not the _official_ one. Please use the one pointed by limonte  above:

[code]

[2019-06-14 19:34] gverni commented on #271
I personally don't use the slider a lot, but I agree that is not really _mobile-friendly_. @limonte if you agree this is a useful feature (I personally do) I can look into implementing it?

[2019-06-14 20:15] limonte commented on #271
It feels wrong to convert _output_ into _input_

I can't find any example of a similar solution, so I don't think the use-case is widely used and should be implemented in the scope of the plugin for popups.

If there's a slide range from 1 to 1000 with step 0.001, IMO the issue isn't in the UX of a slider, the issue is in the decision of UX developer.

[2019-06-14 20:33] limonte commented on #271
Here's the solution of `input[type=range]` + `input[type=number]`:

- source: https://glitch.com/edit/#!/caterwauling-plywood?path=swal2.js:28:64
- live demo: https://caterwauling-plywood.glitch.me/

The solution is quite straightforward, but I believe we shouldn't add the additional complexity to the codebase becase the use-case is quite rare.

[2019-06-16 18:47] JulianoGTZ commented on #1542
I'll work on this issue.

[2019-06-16 19:27] limonte commented on #1542
Thank you @JulianoGTZ I'll be happy to review your work!

[2019-06-16 21:19] JulianoGTZ commented on #1542
How can I check locally the cognitive complexity of the method?

[2019-06-16 22:42] JulianoGTZ commented on #1542
This is the respective pull request

https://github.com/sweetalert2/sweetalert2/pull/1620

[2019-06-17 00:04] JulianoGTZ commented on #1531
I can work on this issue.

[2019-06-17 05:34] limonte commented on #1531
Great to have you as a contributor @JulianoGTZ! Feel free to start working on this issue right away or after merging #1620

[2019-06-17 06:35] nafg commented on #1438
To be clear, will Swal(...) work just usually have a lint error so the fire method was added, or does it not work and .fire is mandatory?

Also, why not include a (lowercase) swal method for backwards-compatibility and mark it deprecated? Or did you?

[2019-06-17 07:22] limonte commented on #1438
`.fire()` is mandatory.

It is included

![image](https://user-images.githubusercontent.com/6059356/59585703-cc3f7000-90e9-11e9-8a32-60b73cbff810.png)

[2019-06-17 11:41] nafg commented on #1438
Wait, the lowercase version is a synonym for the class?

I'm confused, is it a breaking change or did you make the lowercase be
backwards-compatible?

On Mon, Jun 17, 2019, 3:22 AM Limon Monte <notifications@github.com> wrote:

[2019-06-17 11:51] limonte commented on #1438
The lowercase is there for backwards-compatibility, yes. But it is recommended to use `Swal` instead of `swal`.

[2019-06-17 11:55] #1542 closed

[2019-06-17 20:16] gverni commented on #271
I completely agree with you. Another way of looking at it though, is to consider range + output as single _composite_ input element: in this case both elements _should_ be able to change the value of the control. I feel this is extremely useful to give a fine grained control on small screen devices. But at the end of the day this has nothing to do (strictly) with Sweetalert2, and more to do with t

[2019-06-18 07:35] Mushtaq009 opened #1621 "prevent swal not to close on cancel or confirm"
how to set swal to hide/close manually depending upon my ajax request logics. i mean i want to set swal to hide show on my own business logics...
Thanks

[2019-06-18 07:48] limonte commented on #1621
Docs: http://sweetalert2.github.io/

The right place for questions: https://stackoverflow.com/questions/ask

[2019-06-18 07:48] #1621 closed

[2019-06-19 17:30] rajan77 opened #1622 "Cool feature... hash tags"
## New feature motivation
How about supporting hashtags, in a text input field, similar to https://goodies.pixabay.com/jquery/tag-editor/demo.html ?

I tried including the textfield within sweetalerts HTML option but it didn't work :-(

[2019-06-19 19:26] boulepick opened #1623 "customClass content not working properly"
## Current behavior
not applying the custom "text-align: left" to the swal content

Not sure why but if you check the the css file at line 1164 you will notice

#swal2-content { text-align:center }

![image](https://user-images.githubusercontent.com/9008447/59794172-5e8c7300-92a6-11e9-856a-4779e58573f3.png)

when i disable this in google dev console, my custom css gets applied ok. not sure why thi

[2019-06-19 20:36] gverni commented on #1622
@rajan77 adding it to the existing Sweetalert2 is pretty easy: https://jquery-tageditor.glitch.me/

[2019-06-19 20:36] #1622 closed

[2019-06-20 06:11] #1623 closed

[2019-06-20 06:17] limonte commented on #1623
:tada: This issue has been resolved in version 8.12.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.12.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-20 06:19] rajan77 commented on #1622
Thank you so much

Would it be difficult to add it inside the HTML options? I tried something like

html: '<form><input type="text" id="demo1"></input></form>',

[2019-06-20 07:07] rajan77 commented on #1622
Also, sorry for a basic newbie question... in order to read the value of the field containing the hashtags, do I have to do what is mentioned at https://sweetalert2.github.io/#input-types for text with the above or is there a simpler way?

Thanks again, So Much!!!!

[2019-06-20 07:18] limonte commented on #1622
Yes.

[code]

Live demo: https://rowan-quit.glitch.me/

[2019-06-20 07:33] gverni commented on #1622
Not at all @rajan77: https://swal2-jquery-tageditor2.glitch.me/

[2019-06-20 10:08] rajan77 commented on #1622
Thank you very very much!!!!
You have several nice days!!!!

[2019-06-20 13:29] gverni opened #1625 "Set font for info, warning and question icons"
The info, warning and question icon are realized using a character. On the documentation page they appear as this:

![image](https://user-images.githubusercontent.com/17089396/59852645-26993480-9367-11e9-8a46-ec0530489a52.png)

The font for this icons is based on the documentation page css. That means that when Swal2 is executed somewhere else, the icons look different, e.g.:

![image](https://use

[2019-06-20 13:41] gverni commented on #1625
Maybe we can also add to Swal2 a `customClass.icon` to allow changing things like `font-face` or `background-color` for the icon .

[2019-06-21 07:35] haseebhk22 opened #1626 "The popup not show properly"
I use the all js cdn but the popup not show properly its cover the entire page :
![sweet](https://user-images.githubusercontent.com/41317632/59906014-0fb71880-9421-11e9-8c48-3a038a51d066.png)

[2019-06-21 07:38] limonte commented on #1626
Invalid issue report, follow the bug report template next time.

[2019-06-21 07:38] #1626 closed

[2019-06-21 08:03] alexzace opened #1627 "Progress bar while downloading"
Hi, can sweetalert display a progress bar while downloading some file ?

[2019-06-21 08:06] limonte commented on #1627
https://stackoverflow.com/questions/ask

[2019-06-21 08:06] #1627 closed

[2019-06-21 09:03] ledzgio commented on #271
This works perfect for what I need to do. Thank you.

[2019-06-21 13:51] gverni commented on #1625
It turned out this already exists, but it's not mentioned in the documentation

[2019-06-21 15:55] #1625 closed

[2019-06-21 16:02] limonte commented on #1625
:tada: This issue has been resolved in version 8.13.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.13.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-24 11:20] rajan77 opened #1630 "What am i doing wrong please?"
I followed the Doc... see the following example:

`Swal.fire({ //start of cube size
title: 'blah',
titleText: 'blah blah',
                        width: '100%',
                        background: '#fff url(/images/mypic.jpg)',
                        animation: false,                        showCloseButton: false,
                        showCancelButton: false,
                        confirmBu

[2019-06-24 11:44] limonte commented on #1630
This question is unrelated to SweetAlert2, please use StackOveflow for that http://stackoverflow.com/questions/ask

[2019-06-24 11:44] #1630 closed

[2019-06-24 15:33] rajan77 opened #1631 "Yet another newbie question....sorry, waiting for ajax"
Hello folks

I do several ajax calls and would like to do the final swal fire once all ajax calls are done.
I tried that in the code below, but obviously, it doesn't have the desired effect. Basically, what I would like is that, after the text are displayed "All Done.... Success!", I would like to have the `showLoaderOnConfirm: true` option while the ajaxStop function is running

my present crappy

[2019-06-24 15:35] zenflow commented on #1631
Sorry, we don't use issues for this sort of "help me figure out what I'm doing wrong" thing in this project. Use StackOverflow.

[2019-06-24 15:35] #1631 closed

[2019-06-25 11:00] gverni commented on #1483
Don't see any advantage in refactoring this code. See also https://github.com/sweetalert2/sweetalert2/pull/1632#issuecomment-505392791.

Closing this issue.

[2019-06-25 11:00] #1483 closed

[2019-06-25 11:03] gverni commented on #1483
@limonte I flagged the issue as "Won't fix" on codeclimate. Hope it's fine with you.

[2019-06-25 14:14] Sharlaan opened #1633 "Unclickable input / select"
## Current behavior

In a Bootstrap3* project, i'm using SWAL2 to prompt user for some vars.
The focus goes directly on first input as expected, i can tab between them, but i cannot select an input with mouse.
* i know it is old (and JQuery too ...) but no choice it is imposed by client.

## Expected behavior

As most users are more used to mouse clics than tabbing, inputs should be selectable wit

[2019-06-26 04:53] leogitpro opened #1635 "Just only source? Need a dist/sweetalert2.min.js Who can help?"
The project only was source?
Can i direct use the sweetalert2.min.js in simple h5 website.
Just like jquery.
don't let me use npm, just simple code. it's too hard for use.
SweetAlert2 is a pretty project. but support disted source, like jquery. we can directly use it.
Thanks so much!

[2019-06-26 09:16] gverni commented on #1635
@leogitpro as stated in the [README](https://github.com/sweetalert2/sweetalert2#installation) you can grab Sweetalert from CDN adding the following  to your HTML:

[code]

[2019-06-26 09:16] #1635 closed

[2019-06-26 09:47] gverni commented on #1633
@Sharlaan can you please provide more information about the container definition and style? Is `this.container` an element with bootstrap class `container`? Can you add this and the bootstrap to the glitche example in an attempt to reproduce the issue there?

For your information, I tried your code on a page with bootstrap v3.4.1 but I wasn't able to reproduce it.

[2019-06-26 10:03] Sharlaan commented on #1633
@gverni  thanks for your answer.

I'm indeed using BS 3.4.1 also (AdminLTE 2.4.12).

Here is a screenshot of current html
![image](https://user-images.githubusercontent.com/2692027/60170968-dcea9700-9809-11e9-9a54-ea98bec0aca0.png)
this.container = ".webgl-container"
I highlighted a tag in the tree which has `container-fluid`. That's not `container` like you asked but maybe ?

Is there a known iss

[2019-06-26 11:05] gverni commented on #1633
Hi @Sharlaan, it's now becoming much more complicated. First of all, `vue-sweetalert2` is not maintained by this team. I'm assuming that the author is keeping up with all latest bug fixes, but I'm wondering if you discuss this issue on that repo?

No: as I said in my previous comment I've just tried using a bootstrap `container` as target element and everything works fine. Just keep in mind that t

[2019-06-26 11:57] Sharlaan commented on #1633
Ok thanks for your explanations, i understand.

EDIT: thanks for the hint, i reviewed the only other click eventListener i have in the project, which is attached to exact same container, and has `event.preventDefault()`. Since swal is async it seems to execute after my event listener, then the inner inputs/checkboxes/selects/etc don't get triggered ....

So as a solution i attached swal.target to

[2019-06-26 11:57] #1633 closed

[2019-06-27 00:10] greenkeeper[bot] opened #1636 "An in-range update of sass is breaking the build 🚨"
## The devDependency [sass](https://github.com/sass/dart-sass) was updated from `1.22.0` to `1.22.1`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Fsass-1.22.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sass is a devDependency of this project. It **mig

[2019-06-27 10:58] #1636 closed

[2019-06-27 20:58] gilvannfilho opened #1638 "Propriedade "textColor" e "iconColor""
## New feature motivation

Ter a possibilidade de modificar a cor conforme a necessidade de uso.

---

Has SweetAlert2 helped you create an amazing application? You can show your support by making a donation:
- PayPal: https://www.paypal.me/limonte
- Bitcoin: `12BxefvPMtHePgfPRDL1SaZYSG4GwQmWoP`
- Ether: `0x36e2b10666e2c0dc343901895ba3697b5d3214d1`
- Bitcoin Cash: `qqxs402qszgwuue00gwxw996lzhpa8up

[2019-06-28 08:44] gverni commented on #1638
@gilvannfilho it would be very helpful if you create your question in english. Having said that, If I understand your question correctly, you can customize the color (and the rest of the style) using the `customClass` properties of Swal2. More info about that at https://sweetalert2.github.io/.

[2019-06-28 08:44] #1638 closed

[2019-06-29 07:30] maxstralin opened #1640 "Alert followed by toast body padding-right issue"
## Current behavior
When opening an alert, with `scrollbarPadding: true` (default), and then chaining a toast to it, the toast seems to inherit the alert's `states.previousBodyPadding`, setting a body padding even without a backdrop or removal of the scrollbar. Somewhat related to #678

Note that this doesn't replicate if the script is triggered straight on page load, presumably because not all el

[2019-06-29 15:38] gverni commented on #1640
Thanks @maxstralin, the behaviour you reported is due to the fact that when the modal closes, it registers for the _end of the closure animation_ event (i.e. `animationEndEvent` in Swal2 code). Only when this event happens, then the status of the page is reset, and this includes restoring the original body padding.

If another Swal2 (either modal or toast) is executed before the closure animation

[2019-06-30 02:16] JulianoGTZ commented on #1531
Has anyone ever seen this error while running the project locally?

![image](https://user-images.githubusercontent.com/18631740/60391402-c1121a00-9ac3-11e9-820f-c50845da800e.png)

[2019-06-30 07:44] limonte commented on #1531
Good day @JulianoGTZ I didn't face that exception previously. Could you provide more details: did you make some changes in the codebase, are you using yarn or npm, what OS are you using?

[2019-07-01 12:38] limonte commented on #1531
@JulianoGTZ the issue shod be resolved now, please do `npm i` once again

[2019-07-01 14:28] maxstralin commented on #1640
@gverni Indeed, setting `animation: false` on the alert removes the issue!
Do you need any more information from me or are you happy to debug this with the information provided?

[2019-07-01 16:22] gverni commented on #1640
@maxstralin no more information thanks! I tried a couple of solutions but they are breaking other use cases. I need to dig more into that.

[2019-07-01 17:05] gverni commented on #1640
@limonte in #1570 you added:

https://github.com/sweetalert2/sweetalert2/blob/78920dcba676e2325f7ea27ec0756eaf7508d42a/src/instanceMethods/close.js#L59-L60

This gets executed only when there is an animation (since it's in `swalCloseEventFinished`). Is there any specific reason why this is not executed when there is no animation? In fact when there is no animation, the following code gets executed

[2019-07-01 17:19] limonte commented on #1640
@gverni no specific reason for that, most probably my mistake, feel free to change

[2019-07-01 17:49] gverni commented on #1640
Thanks @limonte. A couple of more questions (they are all related to the fix I'm coding for this issue):

* Are instance methods (such as `getInput()`) supposed to work in the `then`?
* If a Swal is fired inside an `onClose` function, what are the instance methods called in the the `then` of the main Swal supposed to refer to? For example the following code:

[code]
Currently is printing:

[code]

[2019-07-01 18:02] limonte commented on #1640
Yes.

Yes, because `onClose` is executed before `then`. If users want to execute something after `then`, there's `onAfterClose`.

[2019-07-01 18:54] gverni commented on #1640
Thanks @limonte!

Currently this is working for the first ~150ms (i.e. animation duration). The following code:

[code]

causes the following error in console:

[code]

I think the reason is that after the animation is finished, we call the `unsetWeakMap()`. And that makes the instance methods not accessible. I'm going to fix this as well then because to me it's a bug.

[2019-07-01 21:41] JulianoGTZ commented on #1531
Hi @limonte. Sorry for my late reply. Now it worked very well, no errors. Thank you :+1:

[2019-07-02 03:32] JulianoGTZ commented on #1531
The pull request relative to fix is #1641

[2019-07-02 11:07] maxstralin commented on #1640
Not sure if this is related to anything but the example as provided above  (`async deleteProduct()`), I seemed to have some occurrences where if I awaited the first alert but didn't await the toast (just fire 'n forget), it started spitting errors about not being able to read property of undefined, a bit like you described above. It stopped by itself so didn't include it in the report but it may b

[2019-07-02 12:08] edinhorod opened #1642 "SweetAlert 2 Mask"
How do I mask input on SwetAlert?

[2019-07-02 12:12] gverni commented on #1640
Thanks @maxstralin. If you are able to replicate it consistently, that would help me for writing test cases. Don't worry too much if you can't reproduce it (unless you reproduce it also with `animation: false`). For the moment I've got enough test cases and I think I identified where the issue is. I'll ask you to try the fix once I have it.

[2019-07-02 12:15] limonte commented on #1642
https://github.com/sweetalert2/sweetalert2/issues/238#issuecomment-493500605

[2019-07-02 12:15] #1642 closed

[2019-07-04 14:53] limonte commented on #1636
:tada: This issue has been resolved in version 8.13.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.13.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-04 15:30] #1490 closed

[2019-07-04 16:25] limonte commented on #1529
this has been fixed at some point, closing

[2019-07-04 16:25] #1529 closed

[2019-07-05 08:08] #1531 closed

[2019-07-05 17:50] mumvock opened #1644 "Can't import 'Swal'"
## Current behavior
app.module.ts [Angular version 8.1.0.]
Module '"sweetalert2"' has no exported member 'Swal'.

## Expected behavior
Swal member

[2019-07-05 18:16] limonte commented on #1644
![image](https://user-images.githubusercontent.com/6059356/60739332-30778600-9f6a-11e9-9496-25aeeb9e4bc4.png)

[2019-07-05 18:16] #1644 closed

[2019-07-08 07:53] #1640 closed

[2019-07-08 07:59] limonte commented on #1640
:tada: This issue has been resolved in version 8.13.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.13.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-08 07:59] limonte commented on #1531
:tada: This issue has been resolved in version 8.13.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.13.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-08 07:59] limonte commented on #1490
:tada: This issue has been resolved in version 8.13.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.13.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-08 08:08] gverni commented on #1640
@maxstralin the fix is now merged. Could you double check it with your code as well?

[2019-07-08 18:00] Freppex opened #1646 "Failed response when quick operation"
![Screenshot_2](https://user-images.githubusercontent.com/42165949/60831911-fa7d1080-a1ba-11e9-9571-55580d9e7e88.png)

Uncaught TypeError: Vt.swalCloseEventFinishedCallback is not a function

[2019-07-08 18:52] limonte commented on #1646
Thanks for reporting @Freppex!

Could you please provide a bit more info on what is "quick operation", e.g. how to reproduce the issue?

[2019-07-08 18:55] Freppex commented on #1646
Hey, @limonte!
Keypress: Enter,
if you keep it connected, you will get an error.

[2019-07-08 18:57] gverni commented on #1646
What you mean with "keep it connected" @Freppex?

[2019-07-08 18:59] Freppex commented on #1646
@gverni,
Press and hold the Enter key.

[2019-07-08 19:04] gverni commented on #1646
@Freppex could you share an example that gives this issue? I tried on several examples of swal holding the enter key and I haven't reproduced it. Also, if you can provide me which browser and OS yoy are using, it could help debugging further.

[2019-07-08 19:06] gverni commented on #1646
Also @Freppex, are you using it with a framework (react, vue, etc...)?

[2019-07-08 19:07] Freppex commented on #1646
@gverni node.js
![image](https://user-images.githubusercontent.com/42165949/60835747-39fc2a80-a1c4-11e9-932f-e5a9e5155e3b.png)

[2019-07-08 19:08] Freppex commented on #1646
![image](https://user-images.githubusercontent.com/42165949/60835855-7596f480-a1c4-11e9-9509-80b744d2b3a7.png)

[2019-07-08 19:09] gverni commented on #1646
@Freppex can you share the code where you are firing the Swal?

[2019-07-08 19:10] Freppex commented on #1646
view enginer swig
Chrome 75 on Windows 10

[2019-07-08 19:10] Freppex commented on #1646
@gverni
`            Swal.fire({
                type: 'error',
                title: 'Boş Alan!',
                text: 'Boş alan bırakamazsın.'
            });`

[2019-07-08 19:20] gverni commented on #1646
I think I reproduced it @Freppex: https://swal2-press-enter-issue.glitch.me/

* Focus on button with tab
* Press enter and hold it down
* Swal opens and close immediately and the error is shown in console

Let me work on a fix straight away....

[2019-07-08 19:29] gverni commented on #1646
Found the issue... my bad. Making a PR shortly...

[2019-07-08 19:32] Freppex commented on #1646
Glad you found it.

[2019-07-08 20:00] Freppex commented on #1646
@gverni close issue?

[2019-07-08 20:29] Freppex commented on #1646
![image](https://user-images.githubusercontent.com/42165949/60840452-d0821900-a1cf-11e9-813e-cdc8e61f8ae6.png)

![image](https://user-images.githubusercontent.com/42165949/60840478-e0016200-a1cf-11e9-99fe-46f09f3dcace.png)

Good.

[2019-07-08 20:56] gverni commented on #1646
Let's keep it open until we make the release...

[2019-07-08 21:05] #1646 closed

[2019-07-08 21:10] limonte commented on #1646
:tada: This issue has been resolved in version 8.13.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.13.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-08 21:16] lakesare opened #1648 "Aria-hidden is removed from all direct children"
## Current behavior

https://github.com/sweetalert2/sweetalert2/blob/60dd1e7634fecb23d397041fab8fab3b37ed75f4/src/utils/aria.js#L24
This line removes all `aria-hidden`s from all direct children of the body.

## Expected behavior

We expect elements that are not connected to sweetalert to not be touched.

## Live demo

https://gist.githack.com/epexa/110e28db117bed6a9b1ce8df6a2e7cd3/raw/4f503c7fc7dd

[2019-07-08 23:33] andryshok opened #1650 "cssmin error when minized sweetalert2.css file"
I use google cssmin  for minimize my css project files. I have error when sweetalert2.css file include for minimize and styles after then minimize with errors

[2019-07-09 06:11] limonte commented on #1648
Thank you @lakesare for reporting this issue! I'll handle it :+1:

[2019-07-09 06:22] limonte commented on #1650
Thank you @andryshok for reporting this. google's cssmin seem to be outdated and unmaintained (surprise-surprise, abandoned google's product :laughing:).

Please use some up-to-date plugin for CSS minification, e.g. https://www.npmjs.com/package/clean-css

[2019-07-09 06:22] #1650 closed

[2019-07-09 20:23] #1648 closed

[2019-07-09 20:28] limonte commented on #1648
:tada: This issue has been resolved in version 8.13.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.13.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-10 07:52] allowing opened #1652 "There is blocking second alert support?"
When first alert is showing, I want to blocking

[2019-07-10 08:00] limonte commented on #1652
SweetAlert2 doesn't have multiple alerts support, only one alert at the time is supported.

[2019-07-10 08:00] #1652 closed

[2019-07-10 12:24] limonte opened #1653 "🎉🎉 Who uses SweetAlert2? 🎉🎉"
Hi All!
We are really keen to collect your feedback, and to start with, we'd like to know who is using **SweetAlert2**. We would really appreciate if you:

- Share your company name
- Share your logo (in which case it might be used in the readme / frontpage etc)
- What kind of project? How large? (code base size or team size)
- If your project is open source or public, please share a link!
- What

[2019-07-10 14:34] zenichanin commented on #1653
We use SweetAlert2 for our back-end administration panel. It makes our alerts and confirmation boxes look nice and tidy.

Company name is PriceListo. (Logo if needed: https://www.pricelisto.com/assets/images/logo-blue.png)

We organize and categorize pricing information for all major business establishments such as restaurants, fitness gyms, beauty salons, etc...

The project is not open source, h

[2019-07-10 16:40] GLuchtenberg commented on #1653
![image](https://user-images.githubusercontent.com/28123879/60985552-0f20ec00-a314-11e9-9e70-bd58b6077dc1.png)

We're using sweetalert2 as our main feedback component on [Genebra](http://genebraquality.com), we're not opensource but you can take a look at our public website

sweetalert2 helped us to give much better feedback to our customers, and helped us to guide customers by the flow we were ex

[2019-07-11 10:27] limonte commented on #1653
I'd like to publish here the list of most popular repositories on GitHub which have **SweetAlert2** as a dependency:

 - https://github.com/RocketChat/Rocket.Chat (🟊 23359)
 - https://github.com/CachetHQ/Cachet (🟊 9979)
 - https://github.com/reactioncommerce/reaction (🟊 8974)
 - https://github.com/prisma/graphql-playground (🟊 4709)
 - https://github.com/kitze/JSUI (🟊 3818)
 - https://github.com/ra

[2019-07-11 13:44] hensleyrob opened #1654 "After v8.13.2, Angular not becoming "stable" after closing Swal."
## Current behavior

After v8.13.2, in an Angular application (tested in Angular 7.2 nd 8.0), fire a Swal and close it. In browser console run...

window.getAllAngularTestabilities()[0].isStable();

This will report false until the DISPOSE_SWAL_TIMEOUT is reached.

## Expected behavior

Once the Swal is closed, isStable() should return true. This is currently breaking our selenium tests as we don'

[2019-07-11 13:53] gverni commented on #1654
I'm not an expert of selenium / angular, so I'm not sure what the isStable() does. @hensleyrob
in 8.13.2 we added a timeout to dispose of some of the Swal internal objects to allow GC to remove  them. Previously those internal objects were removed within the first ~150ms.

@limonte we can make `DISPOSE_SWAL_TIMEOUT` a Swal configuration instead of a constant. And reduce the default value (currentl

[2019-07-11 14:01] limonte commented on #1654
Why `DISPOSE_SWAL_TIMEOUT` is 36000 ms at the first place?

[2019-07-11 14:08] gverni commented on #1654
The idea behind that was to make it long enough to avoid disposing of those object too quickly (since they are needed if you want to access the Swal after it closes) but not too long to go beyond the lifetime of a page. But I agree it's possibly too high.

On the other hand this is a typical _how long is a piece of string_ problem. It all depends on how much code gets executed in the `then` that s

[2019-07-11 15:37] limonte commented on #1654
Now I have the question why do we have `DISPOSE_SWAL_TIMEOUT` at the first place :) @gverni please review #1655 and let me know if I'm missing something because all tests are passing after removing `DISPOSE_SWAL_TIMEOUT`.

[2019-07-12 06:16] Estevete opened #1657 "Can we show Loader without on confirm through the thml directly?"
I want to show the loading spinner just when the alert is displayed, without clicking the confirm button. I want to do it using html only. I can make it through typescript, with `Swal.showLoading()` function. The only approximately thing we can do with html is `showLoaderOnConfirm=true` , which shows a loading spinner after we click the confirm button. Is there any other way doing it from the html

[2019-07-12 06:38] Estevete opened #1658 "Show loading spinner with html without on confirm"
I am trying to show a loading spinner just when the alert is displayed, without clicking the confirm button, as we have the property `showLoaderOnConfirm=true`, I want something similar as making it through typescript using `Swal.showLoading()`. Is it any property to do it with HTML withouth clicking the confirm button?

[2019-07-12 06:41] #1658 closed

[2019-07-12 07:26] limonte commented on #1657
StackOverflow is the right place for such kind of questions, I can see that you already asked there :+1:

[2019-07-12 07:26] #1657 closed

[2019-07-12 13:43] apla12 commented on #751
Hi boys,

even after clicking on the cancel button or ok the modal is reopening from time to time...
How can I not open it?

` const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-danger'
          },
          buttonsStyling: false,
        })
        swalWithBootstrapButtons.fire({
          title:

[2019-07-13 14:45] stelasido opened #1660 "Append jQuery object instead plain html."
Hi, I have a container which I am selecting on the fly when button is clicked `var cont = $('.cont')`. I want to append it as content of the modal - `        Swal.fire({...html: cont,...`, but it doesn't append it. Instead in the content there are many inputs with `display:none`, which (I guess) are there by default.

[2019-07-13 14:48] #1660 closed

[2019-07-13 15:11] stelasido opened #1661 "Close button looks strange."
Close button looks strange (at the center with style (blue background)), when modal is not in the focus. When it is - close buttons goes to the right with the proper style (without background), if `showConfirmButton: false` Chrome, Desktop.

[2019-07-13 15:27] limonte commented on #1661
Hi @stelasido! Please provide some screenshots and be more specific about the expected behavior.

[2019-07-14 02:40] varunsridharan commented on #1653
This library used by **WPOnion** A Light Weight WordPress Development Kit

## So what is WPOnion , exactly?
WPOnion is a simple yet powerful framework that helps developers build custom meta boxes and custom fields in WordPress fast and easily.

The framework lets you define custom meta boxes and custom fields via arrays and handles everything behind the scene automatically. It has a wide range of

[2019-07-14 06:28] KevinBatdorf opened #1662 "Toast styling issue with confirm button"
## Current behavior

<img width="549" alt="Screen Shot 2019-07-14 at 12 54 51 PM" src="https://user-images.githubusercontent.com/1478421/61180052-36402c00-a63a-11e9-93b4-d36e5e1d0edb.png">

## Expected behavior

<img width="825" alt="Screen Shot 2019-07-14 at 12 54 36 PM" src="https://user-images.githubusercontent.com/1478421/61180054-435d1b00-a63a-11e9-935f-7669d16d57e5.png">

## Live demo

https

[2019-07-14 08:21] #1662 closed

[2019-07-14 08:26] limonte commented on #1662
:tada: This issue has been resolved in version 8.13.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.13.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-14 08:30] limonte commented on #1662
Thank you @KevinBatdorf for reporting!

[2019-07-15 03:47] manmath opened #1663 "Request: Provide option to change icon close modal"
![swal-option-to-chage-close-icon](https://user-images.githubusercontent.com/2101163/61194392-524fd600-a6eb-11e9-80ce-194f3872cd91.png)

UI/UX might design a fancy close icon on top-right or top-left in svg or png format. Sometimes, we would need to replace the default icon with any type of font icon (fontawesome, ...). Real example:

![new-svg-close-icon](https://user-images.githubusercontent.com

[2019-07-15 18:17] #1654 closed

[2019-07-15 18:22] limonte commented on #1654
:tada: This issue has been resolved in version 8.13.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.13.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-15 18:31] hensleyrob commented on #1654
I can confirm this is fixed in 8.13.6, thanks for the quick turnaround!

[2019-07-15 18:43] limonte commented on #1654
Thank you @hensleyrob  for reporting the issue and confirming the fix!

[2019-07-17 11:53] greenkeeper[bot] opened #1666 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.35.3` to `4.36.0`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Fwebpack-4.36.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project

[2019-07-17 13:29] limonte commented on #1666
False alarm, https://github.com/webpack/webpack/issues/9423

[2019-07-17 13:29] #1666 closed

[2019-07-17 13:38] eduard182 commented on #1282
en el css colocar:

.swal2-container .select-wrapper{
	display: none !important;
}

[2019-07-17 14:24] greenkeeper[bot] opened #1667 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.36.0` to `4.36.1`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Fwebpack-4.36.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project

[2019-07-17 14:30] limonte commented on #1667
False alarm, https://github.com/webpack/webpack/issues/9423

[2019-07-17 14:30] #1667 closed

[2019-07-17 20:54] #1530 closed

[2019-07-18 03:13] dytra opened #1669 "Uncaught ReferenceError: module is not defined when importing polyfill script"
## Current behavior

Hi, I'm using sweet alert 2 in my project
I use plain javascript
I imported the library like this

[code]

It just works fine in my browser.
But I realized, that sweet alert 2 is a promise based library so I had to polyfil it.
So I imported the polyfill script just like in the documentation

[code]

But I got this error in my console

[code]

The library works fine, but I'm ju

[2019-07-18 06:29] gverni commented on #1669
@dytra you are importing the wrong file from the polyfill. As per the README, you need to use:

[code]

[2019-07-18 06:29] #1669 closed

[2019-07-18 07:49] #1663 closed

[2019-07-18 07:55] limonte commented on #1530
:tada: This issue has been resolved in version 8.14.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-18 07:55] limonte commented on #1663
:tada: This issue has been resolved in version 8.14.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-18 08:58] limonte commented on #1663
@manmath thank you for the nice feature-request, starting from `v8.14.0` you can customize the close button:

[code]

[2019-07-18 22:40] jameset1024 opened #1671 "Missing closeButtonHtml option"
## Current behavior

In the documentation there is an option closeButtonHtml that should allow you to replace the standard button text with your own. However, when looking through the code base that option is not implemented.

## Expected behavior

Is there any plan to add this option back to the library?

[2019-07-19 03:52] leo108 commented on #1320
I got this issue again when I upgrade from 8.13.1 to 8.13.4, no other code changes.

[2019-07-19 10:03] gverni commented on #1671
Hi @jameset1024 that feature is released in [v8.14.0](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.14.0)

[2019-07-19 10:03] #1671 closed

[2019-07-19 12:29] gverni commented on #1320
@leo108 we made some changes to the closing sequence in v8.13.2 and subsequent. Is it possible for you to update to v8.14.0 and try again if you still see the issue? If you do, it would be good if you can provide some more info on how you reproduce that. There are a couple of different issues on this ticket, and it would be good to understand which one you are having.

[2019-07-19 13:49] limonte commented on #1320
@gverni FYI I removed `no-response` bot, its recente activity doesn't make much sense to me.

[2019-07-19 13:52] gverni commented on #1320
@limonte, it actually works as expected, even though it's a weird design choice. If you look at their README, it says that it closes the issue if:

* The `responseRequiredLabel` was applied more than `daysUntilClose` ago

In this case the label was applied long time ago, and hence it closes the ticket. I had to remove the label and put it back to stop it. I was thinking to open a feature request t

[2019-07-19 20:07] limonte commented on #537
Semantic UI doesn't seem to be maintained anymore, closing this issue.

All themes are in https://github.com/sweetalert2/sweetalert2-themes

[2019-07-19 20:07] #537 closed

[2019-07-19 20:21] limonte opened #1673 "Remove showProgressSteps() and hideProgressSteps()"
Since `getProgressSteps()` will return the DOM node in v9 (#1507) it doesn't make much sense to have `showProgressSteps()` and `hideProgressSteps()`. Devs will be able to do whatever they want with the returned node from `getProgressSteps()`.

As a nice bonus, this will resolve one of codeclimate issues:

![image](https://user-images.githubusercontent.com/6059356/61563228-f2a35300-aa7b-11e9-973b-0

[2019-07-20 10:43] limonte commented on #1540
Much better than before (it was 300+ LoC) :rocket:

@gverni would you be willing to handle the last code smell in SweetAlert2's codebase?

[2019-07-20 15:17] #1661 closed

[2019-07-20 16:21] #1540 closed

[2019-07-20 16:30] limonte opened #1678 "Fix "method_complexity" issue in src/instanceMethods/_main.js"
Function `swalPromise` has a Cognitive Complexity of 27 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/instanceMethods/_main.js#issue_5d333f8bd9dbb10001000068

[2019-07-20 16:42] limonte commented on #1678
If anybody is willing to exercise refactoring skills, please feel free to take this issue. This is the latest codeclimate code smell in the SweetAlert2's codebase. After fixing it, the project's maintainability would be perfect :rocket:

Before starting, please leave the comment here so other people would know that. Thank you!

cc @JulianoGTZ @kwdowik mentioning you guys, if you're interested

[2019-07-20 21:35] #1678 closed

[2019-07-23 09:54] leo108 commented on #1320
@gverni Yes, v8.14.0 fixes the issue, thanks.

[2019-07-23 09:59] limonte commented on #1320
thank you for your feedback @leo108 I'm closing the issue :+1:

[2019-07-24 02:06] dytra commented on #1669
Thanks , it works 👍

[2019-07-24 04:00] rajan77 opened #1686 "Captcha V2"
Hello

I know I can use Captcha V3 or invisible Captcha V2 using Ajax calls in Sweetalert.

Also, I know this is highly debatable, but I feel that the visible Captcha V2 is much more reliable than the silent captcha (v3 or v2)

It would be nice to support this within Sweetalert.

I tried using the       <div class="g-recaptcha" data-sitekey="__my__site____key___here"></div> tag inside the html: op

[2019-07-24 06:18] rajan77 commented on #1686
Got it!!!

It is already supported

[2019-07-24 06:18] #1686 closed

[2019-07-24 06:19] rajan77 commented on #1686
https://stackoverflow.com/questions/50015336/google-recaptcha-within-sweet-alert-error

[2019-07-27 09:39] gverni opened #1690 "Update organisation avatar"
Currently this is the organisation's avatar:

![image](https://user-images.githubusercontent.com/17089396/61992790-967f9680-b05a-11e9-9d87-a9e9ceb6fc31.png)

I think we should change it with the new logo. @limonte do you agree? @serenaperora do you want to take up this challenge :wink:? FYI, the size is 180x180.

[2019-07-29 20:18] #1690 closed

[2019-07-31 11:43] pjebs opened #1692 "Determine dimensions of alert"
It should be awesome if we could determine dimensions of alert before we finally trigger it to be shown.