[2018-05-17 20:59] #1076 closed

[2018-05-17 21:02] limonte commented on #1075
@toverux please take a look at this issue when you have time, thanks!

[2018-05-17 21:39] redochka commented on #1059
that's my laptop test server, let me know when you need it, i will turn it on.

[2018-05-17 21:58] limonte commented on #1059
@redochka please do so. But before that, upgrade sweetalert2 to the latest version. Thanks!

[2018-05-18 11:36] vincent-cm opened #1101 "AoT build failed on production mode with new Angular 6"
Package installed

    "@toverux/ngx-sweetalert2": "^3.4.0",
    "sweetalert2": "^7.20.6",

with angular:

    "@angular/animations": "^6.0.2",
    "@angular/cdk": "^6.0.2",
    "@angular/common": "^6.0.2",
    "@angular/compiler": "^6.0.2",
    "@angular/core": "^6.0.2",
    "@angular/forms": "^6.0.2",
    "@angular/http": "^6.0.2",
    "@angular/material": "^6.0.2",
    "@angular/platform-browse

[2018-05-18 11:44] limonte commented on #1101
Duplicate of https://github.com/sweetalert2/ngx-sweetalert2/issues/69

[2018-05-18 11:44] #1101 closed

[2018-05-18 11:48] vincent-cm commented on #1101
@limonte I consider it is not a dup of not supporting ng6. Actually, it works well on AoT without production build.

[2018-05-18 11:52] limonte commented on #1101
@vincent-cm whatever it is, this is the right place for ng-related issues: https://github.com/sweetalert2/ngx-sweetalert2

[2018-05-19 11:05] toverux commented on #1101
Please install latest 4.0.0 build, it may fix your problem (I can't reproduce it with this version).

[2018-05-19 17:16] mockdeep commented on #1071
FWIW, anecdotally, I have an excellent mobile connection in the bay area, and I still regularly abandon web sites that are loading too slowly.

[2018-05-20 16:07] #1092 closed

[2018-05-21 05:35] limonte commented on #1059
@redochka ping

[2018-05-22 06:25] limonte opened #1103 "Test ticket from Code Climate"

[2018-05-22 06:26] #1103 closed

[2018-05-22 06:27] limonte opened #1104 "Fix "similar-code" issue in src/instanceMethods/enable-disable-elements.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/sweetalert2/sweetalert2/src/instanceMethods/enable-disable-elements.js#issue_5b03b5d015ab5e0001000071

[2018-05-22 06:27] limonte commented on #1104
Oops, this issue has been opened by mistake :)

[2018-05-22 06:27] #1104 closed

[2018-05-23 18:30] #1067 closed

[2018-05-23 19:27] limonte commented on #1067
Hello @victornpb

Esc propagation has been fixed, I just released 7.20.8.

Also, I made the keydown handler work in capture mode, but it didn't help. I guess Bootstrap is doing something bad in the `enforceFocus()` method, but I don't have time to investigate further.

[2018-05-24 03:33] glendonyeo commented on #781
@limonte unfortunately it doesn't seems fixed in my version

Please check the html copy on jsfiddle
https://jsfiddle.net/fk3psp83/

Running on SweetAlert v7.20.6, Having Issues on both Latest version of Chrome & Firefox

[2018-05-24 06:41] wangbang0218 opened #1106 "Bug of export"
npm install sweetalert2

node_modules/sweetalert2/dist/sweetalert2.all.js:5

`typeof exports === 'object' && typeof module !== 'undefined'` is wrong

it should be `typeof module === 'object' && typeof module.exports !== 'undefined'`

/*!
* sweetalert2 v7.20.8
* Released under the MIT License.
*/
(function (global, factory) {
	typeof exports === 'object' && typeof module !== 'undefined' ? module.ex

[2018-05-24 06:50] limonte commented on #1106
Why? Is there any issue caused by this line?

[2018-05-24 06:55] limonte commented on #1106
Why? Any reasoning for that? Or just because you're saying so? :)

---

Here's the UMD template for the reference: https://github.com/chilts/umd-template/blob/master/template.js

[2018-05-24 06:58] limonte commented on #1106
Anyway, we're using rollup for bundling, here's the right place to report any issues about the umd template: https://github.com/rollup/rollup/issues

[2018-05-24 06:58] #1106 closed

[2018-05-24 07:37] glendonyeo commented on #781
@limonte
thanks for pointing out the issues,
for my case, the height:100% is set by google translation widget (just for other reference),

seems like the issues will appear when both body & html height is set to 100%
(or similiar conditions like html {height:100%} , body {max-height:100%})
i am able to reproduce the issues @ sweetalert demo page by adding the css

[2018-05-24 07:52] limonte opened #1107 "Figure out how to workaround scrolling issues when html/body height is set to 100%"
Follow-up from
- https://github.com/sweetalert2/sweetalert2/issues/781#issuecomment-391619001
- https://github.com/sweetalert2/sweetalert2/issues/1059#issuecomment-386207798

Some design frameworks and plugins are setting html/body `height`/`max-height` to 100%. This approach is discuttable, but it is what it is. As @zenflow mentioned

---

### Steps to reproduce:
- open https://sweetalert2.github

[2018-05-24 07:58] limonte commented on #781
Thanks @glendonyeo! I reported another issue about this https://github.com/sweetalert2/sweetalert2/issues/1107

Subscribe to it to track the progress.

[2018-05-24 10:06] #1107 closed

[2018-05-24 10:21] #1050 closed

[2018-05-24 10:44] limonte commented on #781
I just released [v7.20.9](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.20.9) which contains the fix

@glendonyeo you can  remove `html{height: auto !important}` from your css :tada:

[2018-05-24 10:46] limonte commented on #1059
@zenflow you're right here, I just published [v7.20.9](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.20.9) which contains the fix for #1107

[2018-05-24 10:51] limonte commented on #1050
I just released [v7.20.9](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.20.9) which contains the fix for this issue :tada:

[2018-05-24 13:21] limonte commented on #1009
Closing due to inactivity, the community doesn't seem to care :)

[2018-05-24 13:21] #1009 closed

[2018-05-25 01:12] wangbang0218 commented on #1106
it make `const swal = require('sweetalert2')` be `const sweetalert = require('sweetalert2').Sweetalert2`

because `typeof exports === 'object' && typeof module !== 'undefined'` false

[2018-05-25 01:34] kimmanwky opened #1110 "Property 'mixin' does not exist on type 'typeof swal'"
I'm working on Angular 6 Project, using vscode IDE.

`
"dependencies": {
    "sweetalert2": "^7.20.9"
  }
`
<br>
I have run `npm i sweetalert2` and `import swal from 'sweetalert2';` in my code.

When I tried to use `swal.mixin({ .. })`, I'm getting the mixin error:

`Property 'mixin' does not exist on type 'typeof swal'`

Do I missed out anything?

[2018-05-25 01:56] wangbang0218 commented on #1106
Rollup use `output: {
    file: 'bundle.es.js',
    format: 'es'
  }` for bundling another es bundle

Rollup submit the 'module' proposal, webpack is already supported 'module' in bundling

Config package.json like `{
  "main": "dist/dist.js",
  "module": "dist/dist.es.js"
}`

Two supports in one package maybe better

[2018-05-25 02:55] glendonyeo commented on #781
@limonte all is good from my side. hope this issues closed for real 😅

[2018-05-25 06:34] toverux commented on #1110
No, the definition file does not contain this method yet.
It has to be updated, I'll try to have a look soon, but for the moment you can do this:

[code]

[2018-05-27 09:21] Okipa opened #1111 "Body .swal2-shown class has conflict with flex display"
Hi there,

First thank you for your wonderful package !

I have a style issue with Sweetalert2, especially with the `swal2-shown` class which is appended to the html and body tags when the alert is shown.
In fact, when a flex display is used (with a 100% height html and body), the Sweetalert2 breaks the style.
The problem is brought by the `height: auto; !important` style applied on the `swal2-sho

[2018-05-27 10:27] limonte commented on #1111
I just added the `heightAuto` parameter to the latest release `7.21.0` :tada:

Here's your jsfiddle with `heightAuto: false`: https://jsfiddle.net/y3nf3fjg/1/

Thanks for the nice feature-request!

[2018-05-27 14:54] redochka commented on #1059
@limonte The bug has been fixed in fact once i updated to 7.21.0 however, i am noticing a different issue as shown here: http://nimb.ws/IkQT7d

The right container (which is loosing its position when sweetalert pops up) is sticky (using a stickyfill polyfill)

I tried with and without : `heightAuto: false`

Is this related to the same OP issue or is it a new issue (new github issue)?

[2018-05-27 16:43] limonte commented on #1059
Great, thanks for the confirmation! :tada:

The `heightAuto` parameter has nothing to do with sticky elements. This is indeed another issue which has been already reported https://github.com/sweetalert2/sweetalert2/issues/1002

[2018-05-27 17:31] Okipa commented on #1111
Perfect, thanks a lot !

[2018-05-28 04:02] glendonyeo commented on #1002
@limonte

the only thing i could figure of is to set top css to sum of (window.pageYOffset + sticky element css top attribute) during modal show

but it will be infinite fixing progress and might causing other unexpected issues

maybe is it better to use onOpen / onBeforeOpen to handle?

[2018-05-28 09:06] limonte commented on #1002
thanks for investigating this issue, @glendonyeo!

Could you please elaborate a bit on this question?

[2018-05-28 09:38] glendonyeo commented on #1002
@limonte

I believe is due to css position sticky behavior.
when overflow-y set to hidden, the element will stick to parent element starting position

This could fix the issues.
https://jsfiddle.net/n0jtbeq4/

[2018-05-28 09:52] limonte commented on #1002
@gaugejosh works nicely, thanks! I changed `onClose` to `onAfterClose` to prevent navbar flickering: https://jsfiddle.net/n0jtbeq4/1/

Let's think how we can apply this internally so users will not bother themselves with `onBeforeOpen` and `onAfterClose` callbacks.

[2018-05-28 10:46] glendonyeo commented on #1002
@limonte

if the support is necessary,
maybe you can try by getting all child element of body and check for sticky position,
below is my draft fiddle of making it happen with vanilla js
https://jsfiddle.net/5gf2kyLw/

[2018-05-28 12:30] limonte commented on #1002
@glendonyeo great work, many thanks!

do you maybe know the reason of this jumpiness: https://jsfiddle.net/5gf2kyLw/1/ ?

[2018-05-28 13:05] limonte commented on #1002
Fixed by https://github.com/sweetalert2/sweetalert2/commit/e2d81de0c73edf93cf58bfd05365e46e24266e58 in v7.21.1

[2018-05-28 13:05] #1002 closed

[2018-05-28 13:06] limonte commented on #1059
@redochka the issue with sticky elements is fixed in v7.20.1 :tada:

[2018-05-29 11:58] MrPardeep commented on #226
@limonte How can we use these method's any working example would be great !!

[2018-05-31 07:01] moonsundong opened #1114 "sweetalert‘input cannot be used together with bootstrap’modal"
⚠⚠⚠ PLEASE CAREFULLY READ AND FOLLOW THE ISSUE TEMPLATE BELOW ⚠⚠⚠

sweetalert‘input cannot be used together with bootstrap’modal：
when I open a boostrap'modal ,then I click a button that in bootstrap'modal to open sweetalert2,sweetalert‘input cannot

[2018-05-31 07:20] limonte commented on #1114
Duplicate of #1067

[2018-05-31 07:21] #1114 closed

[2018-06-01 15:12] infoeon commented on #781
Not resolved in 7.21.1 per this fiddle: https://jsfiddle.net/ad3quksn/1189/

Removing the "overflow: auto" from the fiddle fixes the scroll issue, but we don't always have the opportunity to control that in style in certain sites.

[2018-06-02 09:58] limonte commented on #781
@infoeon whatäs the purpose of using `overflow: auto` on `html`?

[2018-06-02 15:21] Javieralonso18 opened #1115 "Toast not working in tabs materialize"
⚠⚠⚠ ERROR IN TOAST ⚠⚠⚠

![image](https://user-images.githubusercontent.com/15314667/40877928-6d064e22-664e-11e8-8df3-2e3131f11988.png)

[2018-06-03 21:07] alexismoreau opened #1116 "Range selector is broken"
Hello,
The range selector is broken.
The error is :
[code]

Simple repro: On your website https://sweetalert2.github.io, The range selector doesn't work.

[2018-06-03 21:37] #1116 closed

[2018-06-03 21:40] kimyu92 opened #1119 "inconvenient event handler/params: preconfirm, onClose, and event handling with promises"
When using confirm and cancel buttons,

#### inconvenient 1: preconfirm params doesn't have current target and there is also no way to pass down data from preConfirm to onClose or to promises.
expected:
[code]

#### inconvenient 2: Same as above, passing data from onClose to `.then` is not possible. Also, It will be helpful to add param to `onClose` to expose current button (target) or click event

[2018-06-03 21:46] limonte commented on #1116
Fixed in the latest release :tada:

Thanks for reporting @alexismoreau!

[2018-06-03 23:35] alexismoreau commented on #1116
Thank you for your speed ! Amazing job

[2018-06-04 10:02] vincent-cm commented on #1101
@toverux Did you tried to build AoT for production? It is working in dev mode only in my setting.

[2018-06-04 11:00] limonte commented on #1119
The first part of your issue is working exactly like you're expecting it to: https://jsfiddle.net/ad3quksn/1190/

The second part will not be implemented, sorry. The popup can be closed in many ways (keyboard, mouse, timer) and passing the event or DOM node does not make much sense because they could be very different.

[2018-06-04 11:00] #1119 closed

[2018-06-04 19:50] infoeon commented on #1067
The fix for this broke custom elements (javascript based autocomplete input fields, etc) within the content portion of the sweetalert. Potential fix would be to allow events for targets within the content of the swal:

`
var keydownHandler = function keydownHandler(e, innerParams) {
	var parentElement, targetElement = e.target, contentElement = getContent();
	while(parentElement = targetElement.pa

[2018-06-06 18:16] MatheusM05 opened #1121 "Swal 7.22.0 focus change"
# **General:**
Hi, I've updated my sweetalert.js and I'm having some problems with focus after I close the Swal modal. In version 7.18 it's work fine.

# **Issue:**
I have 2 buttons in my code. The first one will open the swal modal, after modal dismiss I need to focus on second button. In version 7.22, focus is applied to second button and comes back to the first button. It's a feature from swal

[2018-06-08 16:28] redochka opened #1122 "`animation` parameter causes focus bug"
See this screencast http://nimb.ws/3SYyic where the `animation` parameter causes the focus to be lost in the 2nd popup. In fact the `click me` button keep the focus. This is annoying because when using the keyboard to interact with the popup we find ourselves clicking again on the button instead of closing the 2nd popup.

See this screencast http://nimb.ws/3SYyic where the `animation` parameter is

[2018-06-09 17:23] zb2oby opened #1123 "retrieve selected value of custom select option with html param"
hello,
i can't figure out this issue,
i inserted a custom select element in my swal object with html parameter. but when i try to retrieve the selected value, this value is always the first value of options in it. It doesn't catch the selected value.

swal seems to disable the change event on the select element.

here my code

[code]

[2018-06-09 18:12] limonte commented on #1123
https://sweetalert2.github.io/#multiple-inputs

[2018-06-09 18:12] #1123 closed

[2018-06-09 20:00] zb2oby commented on #1123
i could not figure it out with preConfirm but by selecting the selected option adding #swal2-content like this : $('#swal2-content #mySelect option:selected').val()
now i have the correct value

[2018-06-10 08:57] #1122 closed

[2018-06-10 09:00] limonte commented on #1122
Fixed in v7.22.2, jsfiddle: https://jsfiddle.net/7bow3tdj/4/

Thanks for reporting @redochka :beers:

[2018-06-14 13:51] inesEl opened #1126 "Parameter buttons not working"
Hi,

I was trying sweetalert2 intending to migrate from version 1. However when I used the "buttons" parameter, it doesn't work (the cancel button doesn't appear) and I have this warning in the consol **"SweetAlert2: Unknown parameter "buttons""**.
Based on this wiki : https://sweetalert.js.org/guides/#upgrading-from-1x buttons parameter should be used instead of confirmButtonText and cancelButton

[2018-06-14 14:10] limonte commented on #1126
You're using [SweetAlert2](https://sweetalert2.github.io/) but reading the documentation of [SweetAlert](https://sweetalert.js.org/). Those are different projects nowadays.

[2018-06-14 14:10] #1126 closed

[2018-06-14 14:44] acupajoe commented on #1126
@inesEl the link mentioned in our migration pages is to compare our API version (SweetAlert2) with the original project's API (Sweetalert 2.x).

SweetAlert2 uses different button config options (found (here)[https://sweetalert2.github.io/] under *Configuration*).

You're probably looking for: `showCancelButton: true` and `cancelButtonText: 'Cancel'`

[2018-06-14 14:57] inesEl commented on #1126
@acupajoe ok thank you.

[2018-06-19 10:40] Vagabondtq opened #1127 "Super expression must either be null or a function, not undefined"
Hi,
i ran sweetalert2 with npm and Laravel mix.

in my scrpit:
`window.swal = require('sweetalert2');`

and i use mixin:

[code]

build project with command: `npm run production`
I got error:

Please help me.

[2018-06-20 11:54] paolog22 commented on #1127
same. this is already reported but got nothing.

[2018-06-20 13:48] zenflow commented on #1127
@paolog22 It is already reported? Which issue is it? This is the first I recall hearing of it.

[2018-06-20 14:38] limonte commented on #1127
In our [Gitter](https://gitter.im/sweetalert2/Lobby?at=5b1a348eddd61d08e53c4401). There's a repo for reproduction: https://github.com/paolog22/sweetalert-nuxtjs-demo

I didn't have time to investigate, but my guess is that `nuxtjs` internally using `uglifyjs` which was causing the same issue for us until it was replaced by  `babel-minify` in #1062

[2018-06-20 15:07] aphofstede opened #1129 ""TypeError: Cannot assign to read only property" since v7.19"
Since https://github.com/sweetalert2/sweetalert2/releases/tag/v7.19.0 we are getting an exception when running our test set.
Apparently more people do: http://joecaps.com/blog/2018/06/03/fixing-enzyme-unit-test-error-due-to-sweet-alert-2/

I tried to make a repro on codesandbox.io but can't get it to spit out the exception.

[2018-06-20 16:34] xfolder opened #1130 "Keydown event blocks other event on input elements"
I have an issue with Google Api Places Autocomplete and swal.
On input elements outside the swal alert google places works fine and update the address predictions when key is pressed.. Instead for input elements inside the swal alert "the google keypress event doesn't fire" due to swal keypress event.

[2018-06-20 21:50] limonte commented on #1129
Hello @aphofstede and thanks for reporting this issue!

I made a small change, but not 100% sure if it's a proper fix. Could you please try the latest release (v7.23.1) and let me know if the issue has been fixed? Thanks in advance!

[2018-06-21 00:04] BrOrlandi commented on #1127
I have the same error here after I build it for production.

[2018-06-21 03:06] paolog22 commented on #1127
@limonte nuxt uses

[2018-06-21 08:16] #1130 closed

[2018-06-21 08:29] limonte commented on #1067
Apologies for missing your comment @infoeon

:warning: :warning: :warning: Starting from [v7.24.0](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.24.0), keydown handler will not work in capture mode by default, which means:

- custom elements will work nicely
- in order to get compatibility with Bootstap, set `keydownListenerCapture` parameter to `true`

[2018-06-21 09:42] aphofstede commented on #1129
Seems to work 👍

[2018-06-21 09:53] limonte commented on #1129
Great! I'm closing this issue then.

Thank again for reporting and have a nice day!

[2018-06-21 09:53] #1129 closed

[2018-06-21 12:46] zenflow commented on #1129
@limonte I thought you were going to change this so that the Symbol and WeakMap implementations are only defined for internal use, i.e. not monkey patched onto the global/window object. There's no need to mess with the global environment, and it can cause users more confusing issues.

[2018-06-21 12:49] zenflow commented on #1129
This commit message (db291a3172259489ac41804998a5d87fa96cdeaa) doesn't fully make sense:

The global `Symbol` *is* `window.Symbol`.

[2018-06-21 13:06] limonte commented on #1129
Theoretically, you're right, but I didn't succeed to make it work for Android 4.4 without using `window.`. Feel free to submit a PR.

[2018-06-21 15:02] zenflow commented on #1129
Opened #1133

[2018-06-21 15:51] limonte commented on #1129
Thanks @zenflow merged and released in v7.24.1. @aphofstede sorry to bother you again, but could you please verify that v7.24.1 works for your project as well as v7.23.1?

[2018-06-22 05:59] aacassandra opened #1134 "Uncaught Syntax Error: Unexpected Token {"
this problem occurs on (sweetalert) 1 and 2

forgive me about my bad English, I'm from Indonesia. I created an Android WebView project with Cordova. I run (sweet alert) on Android 5 and above, running smoothly. but when I run it on Android kitkat (4.4.4). I can only run (sweet alert) which uses 1 option not more like this:

[code]
Any idea what I'm doing wrong here? I keep getting the unexpected t

[2018-06-22 06:45] aacassandra commented on #1134
after I tried to try for 2 days. I've found the answer from my case

Thank you @limonte
https://github.com/sweetalert2/sweetalert2/issues/87
link above is the answer of my case

`.then ((result) => {`
I change to
`.then (function (result) {`

[2018-06-22 06:48] #1134 closed

[2018-06-22 08:21] aacassandra opened #1135 "await is only valid in async functions and async generators"
I get an error message when I use (sweetalert2) input text

code I took from user guide page sweetalert2

[code]

[2018-06-24 20:11] limonte commented on #1127
# Temporary workaround

Depending on your framework, find out the way to set the `unused` option of used `whatnot-uglify` plugin to `false`, e.g.

[code]

### Technical details

Apparently, `uglify-js/es` isn't supported anymore and will be replaced by `terser` in the near future:

- https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/262
- https://github.com/webpack-contrib/uglifyjs

[2018-06-25 01:28] darron1217 opened #1136 "Proper way to override scss variables on angular"
On angular, I use `style.scss` file to customie plugins

I thought the code below would work, but it didn't
[code]
Only with `!important` worked.
[code]

Is it a proper way to override scss variable?

[2018-06-25 10:17] limonte commented on #1136
[code]

Should work, proof: https://github.com/sweetalert2/sweetalert2-parcel-demo

[2018-06-25 10:17] #1136 closed

[2018-06-25 14:19] aphofstede commented on #1129
Still works

[2018-06-26 01:07] darron1217 opened #1137 "[Re] Proper way to override scss variables on angular"
Following #1136

Here's stackblitz https://stackblitz.com/edit/angular-3c6or3?file=src%2Fstyles.scss

----------------Original Contents----------------

On angular, I use `style.scss` file to customie plugins

I thought the code below would work, but it didn't
[code]
Only with `!important` worked.
[code]

Is it a proper way to override scss variable?

[2018-06-26 03:47] TrendyTim opened #1138 "Unpkg cannot find module "dist/sweetalert2.all.js""
I just noticed that
https://unpkg.com/sweetalert2
yeilds
Cannot find module "dist/sweetalert2.all.js" in package sweetalert2@7.24.1

But https://unpkg.com/sweetalert2@7.24.0
works

So examples the on the home page don't work (and neither does anyone else who uses the most up to date version)

[2018-06-26 05:27] AmitGuptaMT opened #1139 "https://sweetalert2.github.io/#examples not working"
I have been trying to use https://sweetalert2.github.io/#examples but it is throwing errors in console.
Error:

Please look into this ASAP.

[2018-06-26 05:33] limonte commented on #1138
Fixed, thanks for investigating and reporting @TrendyTim!

[2018-06-26 05:33] #1138 closed

[2018-06-26 05:33] limonte commented on #1139
Fixed, thanks for reporting @AmitGuptaMT!

[2018-06-26 05:33] #1139 closed

[2018-06-26 05:35] AmitGuptaMT commented on #1139
I confirm that it is working now. Thanks @limonte :)

[2018-06-26 05:42] limonte commented on #1138
Seems to be the unpkg issue, reported: https://github.com/unpkg/unpkg.com/issues/115

[2018-06-26 06:35] TrendyTim commented on #1138
you're welcome, lucky i was looking to see if this suited my needs better than the original swal when i did :)

[2018-06-26 09:17] limonte commented on #1137
Thanks for the proper issue-report @darron1217! Proper issue-report almost always leads to the proper help :)

First of all, the working stackblitz: https://stackblitz.com/edit/angular-rds9ir?file=src%2Fapp%2Fapp.component.ts

I replaced

[code]

with

[code]

By doing `import swal from 'sweetalert2'` you're importing **both** JS and default CSS. Since you don't want the default CSS, you need JS o

[2018-06-26 09:17] #1137 closed

[2018-06-26 20:16] lucasumberto opened #1140 "Bower can't resolve sweetalert2"
Hi,
Somehow sweetalert2 directory on bower_components disappeared, naturally the first thing i tried was
`$ bower install --save sweetalert2`
and i got this:
`bower                          EINVRES Request to https://bower.herokuapp.com/packages/sweetalert2 failed with 502`

Tried on another machine and same error, i didn't tested npm because it was on the other machine bower_components directory

[2018-06-27 09:05] limonte commented on #1140
The issue is on your side, or on Bower's side.

PS. Bower is deprecated, outdated and buggy dependency manager, consider not to use it.

[2018-06-27 09:05] #1140 closed

[2018-06-27 09:38] limonte commented on #1127
@zenflow do you maybe had a chance to take a look on this? I was trying to figure out, no luck for now. This is quite critical to our community, even if it's not the issue on SweetAlert2's side, the vast majority of our users are using `uglify-js` for building production builds and we will be the reason of their pain trying to understand why dev environment works and production does not.

[2018-06-27 15:00] zenflow commented on #1127
Sorry for the delay.. I've investigated and found a solution (PR #1062).. I don't think we or this package is the problem, but we can do something to save the pain that uglify-js is causing with our package.

## Investigation (in case this ever comes up again)

It seems to be a problem with how two (or more) uglify-js `compress` directives (`unused` and one or more others) are interacting on our `

[2018-06-27 15:02] zenflow commented on #1127
@limonte I'm not too worried, but do you have any ideas about how to protect against regressions?

We could perhaps switch back to uglify-js here, and run unit tests against the minified build rather than the non-minified, but then it would be crucial to have sourcemaps.

[2018-06-27 15:34] #1127 closed

[2018-06-27 15:37] limonte commented on #1127
Agree, will do.

Agree, will do in separate PR and ask for your review.

[2018-06-27 16:21] limonte commented on #1127
Fixed in [v7.24.3](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.24.3)

Thanks @paolog22 @Vagabondtq for reporting and @zenflow for investigating and fixing! This was the tricky one to fix.

[2018-06-27 18:30] Ge0f3 commented on #492
<script src="https://cdn.jsdelivr.net/es6-promise/latest/es6-promise.auto.min.js"></script>  will this make it work in Iphone safari browser also ?

[2018-06-29 03:51] mohammad-shadmehr opened #1145 "Sweet alert does not work on Internet Explorer 11"
I have upgraded the Sweet alert 1 to 2 and it is completely functional on Chrome and Edge but not IE 11.
I have already added the `<script src="https://unpkg.com/promise-polyfill"></script>` as per the documentation suggests but still no luck! Have found this `<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>` from other issues and added it to the page but still does not work.

[2018-06-29 12:02] limonte commented on #1145
Duplicate of #892

[2018-06-29 12:02] #1145 closed

[2018-06-29 14:33] limonte opened #1147 "Add wappalyzer check"
From #1146

[2018-06-30 10:39] limonte opened #1148 "The previous active element is wrong in case of toast"
Reproducible on https://sweetalert2.github.io/

![peek 2018-06-30 13-38](https://user-images.githubusercontent.com/6059356/42124428-f425f7a4-7c6a-11e8-8c38-4904e1160ff9.gif)

[2018-06-30 10:45] #1148 closed

[2018-06-30 12:17] Snickbrack opened #1150 "If I replace a visible toast by creating a new swal it "adopts" the auto-closetimer of the former visible toast"
I have this function:

[code]

Which queues swal's by endtime. If I now create a normal swal for data presentation it does adopt the timer "endtime" of the former swal toast.

Swal code:

[code]

If the new swal is created it auto-closes after 1-2 Seconds which could be the endtime of the toast swal.

But why?

[2018-06-30 12:20] limonte commented on #1150
My quess is you need to update the plugin, the similar issue has been fixed recently.

In order to get more help please respect the issue template:

[2018-06-30 12:20] #1150 closed

[2018-07-03 15:37] Hydro8 opened #1151 "textContent and html content"
Hi

I use sweetalert2 with ajax and SSE. I update my sweetalert with message from my server.

Now I try to use html instead of juste text.

With text, I used swal.getContent().textContent to change my modal text. But for html, it isn't working.

Is there a function to dynamically change html content ?

Thank for your project !

[2018-07-04 15:52] hacknug opened #1153 "Custom foreground color option?"
I've been looking on the docs and the codebase and I think there no way to change the text color on a swal popup.

Am I missing something or is there any reason why such option doesn't exist? Default text color is too dark for my popup with a custom background color and I'd need it to be white instead of this dark-gray sass-produced color it has right now.

I can open a PR if you'd like me to. Jus

[2018-07-04 16:46] limonte commented on #1153
No additional JS params for styling will be added in new releases.

The foreground color could be changed either with pure CSS https://jsfiddle.net/ad3quksn/1594/ or by overriding SASS variables: https://github.com/sweetalert2/sweetalert2-parcel-demo/blob/master/styles.scss

[2018-07-04 16:46] #1153 closed

[2018-07-05 02:50] zenflow commented on #1077
@Hydro8 What is/are the reason/reasons you cannot reload the modal?

If it is just the matter of visual presentation, i.e. you want it to appear to the user as one modal, (🤞) I have an idea of how to maybe make the reloading (or "second-swal") approach work...

The only real obstacle would be working with the `animation: true` configuration (which happens to be default)..

Suppose we added support

[2018-07-05 10:30] limonte commented on #1151
https://developer.mozilla.org/en-US/docs/Web/API/Element/innerHTML

[2018-07-05 10:30] #1151 closed

[2018-07-05 12:49] limonte commented on #1077
Or, upgrade to the latest version (7.25.0) and use `getIcons()` getter to update the icon:

[code]

Live demo: https://jsfiddle.net/ad3quksn/1602/

[2018-07-05 21:44] limonte opened #1156 "Visual: footer should be at the bottom of a toast"
Currently, it's on the right side:

![image](https://user-images.githubusercontent.com/6059356/42349485-9ccabac2-80b5-11e8-835d-06c20758dd94.png)

Finding from https://github.com/sweetalert2/sweetalert2-visual-tests/pull/40

[2018-07-05 21:45] limonte opened #1157 "Visual: increase the bottom spacing of the validation error block for toasts"
Currently, the validation block is touching buttons:

![image](https://user-images.githubusercontent.com/6059356/42349570-dda1e4b2-80b5-11e8-8e8a-d11925e76766.png)

Finding from https://github.com/sweetalert2/sweetalert2-visual-tests/pull/40

[2018-07-05 21:48] limonte opened #1158 "Visual: the close button should be at the right side for toasts"
Currently, it's in the middle:

![image](https://user-images.githubusercontent.com/6059356/42349700-3cdfa61c-80b6-11e8-8f20-d5c49731337c.png)

[2018-07-09 04:51] josteph commented on #896
@limonte Doesn't seem to be working on my end. Clicking cancel button on `confirm` dialog will not trigger the else statement in `swal().then()`. Or am I missing something here?

[2018-07-10 18:39] Cenlan71 commented on #58
Thanks to inputAttributes: { }, you could pass any attribute accepted by that input in html

Example:
`swal({
    title: "{{__('Nueva observación')}}",
    input: 'textarea',
    inputAttributes: {
        maxlength: 200,
    }
})`

[2018-07-11 06:22] altbdoor opened #1160 "Unable use swal with src/sweetalert2.js for use in ES6"
To quote the [usage instructions](https://sweetalert2.github.io/#usage):

However, after importing `sweetalert2/src/sweetalert2.js`, any calls to `swal` throws up an error of:
- Firefox 61: `TypeError: class constructors must be invoked with |new|`.
- Chrome 67: `Class constructor SwalWithGlobalDefaults cannot be invoked without 'new'`

As per required for a bug report:

- a JS Bin in order for us

[2018-07-11 07:18] limonte commented on #1160
Thanks for the report @altbdoor!

Confirming the issue, the temp solution could be

[code]

But we need to figure out what's happening here. @zenflow do you have any quick guess?

I wonder how the same working in [sweetalert2-parcel-demo](https://github.com/sweetalert2/sweetalert2-parcel-demo).

[2018-07-11 10:36] altbdoor commented on #1160
@limonte yeah, I am using the same temporary solution as well 😄 thanks!

To test things out, I have forked the [sweetalert2-parcel-demo](https://github.com/altbdoor/sweetalert2-parcel-demo) repo, and did a fresh `npm install`. It seems to be getting the same issue as reported.

https://altbdoor.github.io/sweetalert2-parcel-demo/dist/

[2018-07-11 11:42] limonte commented on #1160
Oops, thanks for pointing that out! It's a regression after https://github.com/sweetalert2/sweetalert2/pull/1045

`v7.18.0` works fine, the issue appears in `v7.19.0` which contains #1045

[2018-07-11 12:02] limonte commented on #1160
@zenflow I need your help on this issue.

[2018-07-12 01:48] darron1217 commented on #1110
The "moment" is quite long ...

It might be quite simple work isn't it?

[2018-07-12 06:42] MansoorJafari opened #1161 "input not focus."
Hello
I'm using below code in typescript file but input text not focus

        swal({
            title: 'Submit your Github username',
            input: 'text',
            inputAttributes: {
                autocapitalize: 'on'
            },
            showCancelButton: true,
            confirmButtonText: 'Look up',
            showLoaderOnConfirm: true,
            preConfirm: (login) => {

[2018-07-12 07:33] limonte commented on #1110
@darron1217 we are opened for your contributions :)

[2018-07-12 07:34] limonte commented on #1161
here's your initial direction: https://github.com/sweetalert2/sweetalert2/blob/master/.github/ISSUE_TEMPLATE.md

[2018-07-12 07:34] #1161 closed

[2018-07-13 09:22] webbiesdk opened #1164 "is progress-steps.js dead code?"
I'm talking about `src/instanceMethods/progress-steps.js`.

I don't see `progress-steps.js` referenced anywhere. And sweetalert2 builds just fine if you delete the file (unlike deleting any other file in the `instanceMethods` folder).

So. Dead code?
If that is the case you should probably also delete the progress-steps related methods from `sweetalert2.d.ts`.

I can make a pull-request for both i

[2018-07-13 21:58] Snickbrack opened #1166 "Error thrown if clicked on swal toast"
[code]

I have the minified version from here: https://cdn.jsdelivr.net/npm/sweetalert2@7.25.0/dist/sweetalert2.all.min.js

I have no JS bin because this is the basic behaviour.

The expected behaviour is that the toast closes.

[2018-07-14 07:22] lithos-g opened #1167 "third button (altActionButton) hover color issue"
I am using swetalert2 with the latest update for the third button (altActionButton).
But when I hover over the altActionButton it takes the color of confirmButton
[code]
Have you any idea why this is happening?

[2018-07-14 17:46] #1110 closed

[2018-07-15 11:15] #1164 closed

[2018-07-15 11:39] limonte commented on #1147
done in https://github.com/sweetalert2/sweetalert2/commit/6e8328ce263bbb8c342b282c86ab32a63c4cfa5f

[2018-07-15 11:39] #1147 closed

[2018-07-15 11:57] Snickbrack opened #1168 "Why is the script adding a right Padding and dont remove it after showing a alert"
this code:

`document.body.style.paddingRight = d.previousBodyPadding`

adds a padding to the body-element if a sweetalert element is active but doesn't remove it afterwards.

The Source for the sweetalert-script is this:
https://cdn.jsdelivr.net/npm/sweetalert2@7.25.0/dist/sweetalert2.all.min.js

I have commented this section out because it destroys my layout.

[2018-07-15 12:56] limonte commented on #1164
Fixed in v7.25.1

Thanks again for reporting!

[2018-07-15 12:57] limonte commented on #1167
Wrong repo, https://github.com/t4t5/sweetalert/issues

[2018-07-15 12:57] #1167 closed

[2018-07-16 11:28] nueldev opened #1169 "sweetalert2 error alert on invalid credentials"
Hi, i'm using express for my backend and I was wondering how to use this repo and display error alert when the credentials are wrong on authentication? I couldn't find anything on google about this.

[2018-07-16 13:07] limonte commented on #1169
See [ISSUE_TEMPLATE.md](https://github.com/sweetalert2/sweetalert2/edit/master/.github/ISSUE_TEMPLATE.md)

[2018-07-16 13:07] #1169 closed

[2018-07-16 13:07] #1168 closed

[2018-07-16 15:40] #1166 closed

[2018-07-16 15:43] limonte commented on #1166
Fixed in 7.25.4, thanks for reporting @Snickbrack!

[2018-07-16 17:54] ChazyTheBest opened #1170 "Place the input element outside the label"
I've noticed that sweetalert2 is placing the input element inside the label. While this is irrelevant for text boxes and such, it is not acceptable for radios and checkboxes, as in this case, the label cannot be styled based on the checked attribute.

Would it be ok to make this happen? This is such a simple change that I'd be able to do it myself (open a pull request), or maybe someone from the d

[2018-07-16 18:17] limonte commented on #1170
What exactly is the expected behavior?

[2018-07-16 18:19] #1157 closed

[2018-07-16 19:18] ChazyTheBest commented on #1170
The expected behavior is the label having a different style depending on the checked attribute. For this, the input needs to be outside the label, as there's no way to select parent element (the label is the input's parent).

[2018-07-16 20:06] #1170 closed

[2018-07-16 20:12] limonte commented on #1170
I added the `.swal2-label` class so you should be able to do this:

[code]

Live demo: https://jsfiddle.net/ad3quksn/1748/

[2018-07-16 22:14] ChazyTheBest commented on #1170
Hmm, thanks really, but that may not be necessary after all, sorry i'm slow... I just realized I can put html tags inside the `inputOptions`:

[code]

I can't believe I didn't try this sooner...

Now, not that I'm an expert, but I would use something like this for more consistency:

[code]

It's just a suggestion, this way users can directly style the label.

[2018-07-17 14:35] Whisper40 opened #1173 "Strange thing when i click on the alert"
Hello, i'm sure i'm alone to have this bug but i don't understand why that appear..
I'm using jquery with ajax for changing the password and at the end i have the result if the change works, as you see the first result is perfect, but in the second the page does not load exactly the same way, which deforms the frame around and especially deforms the green symbol, the operation is also altered...

[2018-07-17 15:02] binarious commented on #384
@limonte I'm having the same issue with 7.25.6 and webpack.

My code:
[code]

Error:
<img width="852" alt="rechnungssystem_und_content_security_policy_violation__inline_styles_unsafe_ _issue__384_ _sweetalert2_sweetalert2" src="https://user-images.githubusercontent.com/200375/42825750-fd41d878-89e2-11e8-901f-2d35a7e96ee3.png">

[2018-07-17 15:23] Whisper40 commented on #1173
The problem is only on my side .. sry :( i know for what

[2018-07-17 15:50] limonte commented on #384
@binarious try this:

[code]

[2018-07-17 16:14] #1173 closed

[2018-07-22 12:00] limonte commented on #1160
@zenflow did you maybe have a chance to take a look at this issue?

[2018-07-23 21:04] zenflow commented on #1160
@limonte no, i lost this issue, so thanks for the reminder.. i'm having a look now

[2018-07-23 21:13] zenflow commented on #1160
@altbdoor what is your use-case? why do you need to use the source instead of the compiled build?

[2018-07-24 03:37] altbdoor commented on #1160
Hi @zenflow

Nope, there was no particular use-case. I was only trying to import the `src` since that was how it was documented on the site to import sweetalert before this.

[2018-07-25 02:23] varunsridharan opened #1179 "PHP Builder For SweetAlert2"
Hi,
I am a big fan of SweetAlert2 and its been my fav js lib for almost since 2016
I always wanted to support this project. so i decided to create a php builder for it

https://github.com/varunsridharan/sweetalert2-php

Hope you guys could enjoy it.

[2018-07-25 09:07] limonte commented on #1179
Thanks @varunsridharan for building this tool and sharing it with us!

[2018-07-25 09:07] #1179 closed

[2018-07-25 16:41] michaelizer opened #1182 "Logo proposal"
Greetings,

I'm a graphic designer and I like contributing to open source projects. I would love to make a logo for yours, for free. Please let me know if you are interested, if yes I will ask you a few questions for the logo to fit great in your project.

Miguel Medina, michaelizer.
Best regards.

[2018-07-25 16:51] limonte commented on #1182
Absolutely yes! This project is driven by the open source community and every contribution is warmly welcome.

We already have the logo which was made by @acupajoe in #726 but I would still like to see yours and then we can discuss with collaborators about accepting it.

[2018-07-25 16:54] limonte commented on #1182
If your logo will be a good one, I will have a private logo design task for you. That would be not for free of course :moneybag:

[2018-07-26 09:44] limonte commented on #1160
In that case, we can consider this as a documentation issue which is fixed now both for https://sweetalert2.github.io/ and the README.md

Thanks again, @altbdoor!

[2018-07-26 09:44] #1160 closed

[2018-07-26 20:56] zenflow commented on #1160
@limonte We could also remove the src folder from the published package.. what do you think?

[2018-07-27 06:24] limonte opened #1185 "Exclude `src` folder from the published package"
Follow-up from #1160

In order to avoid any confusions, `src` folder should be excluded from the published package.

The correct way to import `Swal` without styles is

[code]

As the nice bonus: the bundle size will be slightly smaller:

Before:

[code]

After:

[code]

[2018-07-29 22:29] limonte commented on #980
Hello @antoninadert and sorry for the delayed response. I happy to announce that the issue with focus has been fixed!

As to the second and the third issues, I'm not able to reproduce them with the latest JAWS + IE11.

Could you please verify the first issue and tell if second and third are still happening in your environment or not?

Thanks in advance!

[2018-07-30 08:09] antoninadert commented on #980
Hello @limonte I tried the first sweetalert on your official website and it correctly locked the focus inside the modal (very good !)

I tested with JAWS 16.0 and IE 11

Now I will tell you what it reads and where is the **focus** (in bold):

At opening, what is read automatically without user action:

At pressing down arrow:

: **OK button** took focus

By going from top to bottom:

-------
Now:

[2018-07-30 09:19] limonte commented on #980
Hello @antoninadert and thank you for your prompt feedback!

JAWS 16.0 seems to be outdated, could you please upgrade JAWS to the latest version and try again.

![image](https://user-images.githubusercontent.com/6059356/43388748-0ec7ef14-943e-11e8-862a-9d07c0104f20.png)

[2018-07-30 12:44] antoninadert commented on #980
Sadly I am not able to perform an update as of now...

[2018-07-30 13:31] limonte commented on #980
Hm, I wonder why? Is that a common thing among JAWS users that they stick to older versions and unable to update?

[2018-07-30 14:50] limonte commented on #1158
Fixed:

![image](https://user-images.githubusercontent.com/6059356/43404804-0f40ca28-9421-11e8-9ade-3494b2e2d235.png)

[2018-07-30 14:50] #1158 closed

[2018-07-30 14:51] limonte commented on #1156
Fixed:

![image](https://user-images.githubusercontent.com/6059356/43404864-2c25841c-9421-11e8-96d8-d60fae342e75.png)

[2018-07-30 14:51] #1156 closed

[2018-07-30 15:04] antoninadert commented on #980
You need to pay all major updates.

[2018-07-30 16:08] limonte commented on #980
Didn't know about that, thanks for the info!

---

JAWS 16 hasn't been updated more than 1 year and I don't think it's a good idea to spend time and add hacks/workarounds for old screen readers to SweetAlert2's codebase.

I value the code maintainability and bundle size more than old screen readers support.

---

It seems that the main issue with the focus lock has been fixed and others are JAWS 1

[2018-07-30 16:08] #980 closed

[2018-07-31 23:28] nicolasvahidzein opened #1190 "background displacement"
Hello, i am seeing this weird bug that didn't use to happen with sweetalert1.

Any clue as to what i am doing wrong?

I know i use flexbox a lot but could this be causing it?

Thanks and I love your module by the way.

![003](https://user-images.githubusercontent.com/29876108/43492593-a52e98de-9521-11e8-8044-8be7510b71eb.jpg)

[2018-08-01 08:30] limonte commented on #1190
Thanks for reporting @nicolasvahidzein !

Which version of Bulma are you using? Can you provide the simple jsfiddle with the issue repro?

[2018-08-01 12:09] nicolasvahidzein commented on #1190
Hello, i'm using the version 0.7.1 of bulma and your latest build of sweetalert2.

I don't even know where to begin with jsfiddle. I have never used it before and loading all the packages i have on my ERP seems like an insane amount of work.

what do you suggest?

[2018-08-01 12:35] nicolasvahidzein commented on #1190
I was curious to see if it was working ok when i walked the versions back.

7.0.9 works great
7.20.9 is broken as well.
I'm trying 7.13.0 now and will revert back.

[2018-08-01 12:38] limonte commented on #1190
@nicolasvahidzein did you try setting the `heightAuto` param to `false`?

[2018-08-01 19:54] nicolasvahidzein commented on #1190
Nope, will try that now, i never even saw that variable. I'll test it ASAP. Thanks!!

[2018-08-01 20:10] nicolasvahidzein commented on #1190
You are brilliant sir. Thank you. That seems to have solved it.

[2018-08-01 20:36] limonte commented on #1190
Glad to help!

[2018-08-01 20:36] #1190 closed

[2018-08-02 03:33] kimmanwky opened #1191 "Warning on toast for "backdrop" and "allowOutsideClick""
I'm using the following sweet alert configuration for sweetalert2 toast.
`
{ ...
toast: true,
backdrop: false,
allowOutsideClick: false,
... }
`

The sweetalert2 toast did show me what I wanted, but with the following warning.

If I set "backdrop" to true (or remove it), the toast did show but with dark backdrop, which I don't want.

Is this should be an issue? or there is a way to solve this?

I'

[2018-08-02 11:01] limonte commented on #1191
Fixed in `v7.26.10`, thanks for reporting @kimmanwky!

The backdrop should not be shown for toasts, no need in `backdrop: false, allowOutsideClick: false`, just `toast: true` is enough.

[2018-08-02 11:01] #1191 closed

[2018-08-02 11:51] adwil13 opened #1192 "Remove console.warn about backdrop being incompatible with toast"
Hey,

I just started using sweetalert2 to display toast messages in my webapp. By default when "toast: true" backdrop is shown (which is wrong imho). When I add "backdrop: false" everything works as expected (backdrop is gone), but I keep getting this console warning about backdrop being incompatible with toasts.
Another thing is that I'm getting 'allowOutsideClick is incompatible with backdrop fa

[2018-08-03 08:08] limonte commented on #1192
Hello @adwil13 and thanks for reporting!

This is the duplicate of #1191, the issue has been fixed in `v7.26.10`, please upgrade your dependency.

[2018-08-03 08:08] #1192 closed

[2018-08-03 19:50] camaech commented on #761
I made a quick implementation of this, but it's probably not the best way to do it. How do I go about asking someone how it should actually be done?

[2018-08-03 23:06] pabloleban opened #1194 "Swal2 adds some commas at the beggining of the alert"
Here you can clearly see that some commas are added multiple times above the title.

https://jsbin.com/donerahaka/edit?js,output

![image](https://user-images.githubusercontent.com/13904174/43669308-5e63fad2-9758-11e8-9232-5b7b60b1ccdc.png)

It has something to do with the mapping I think, cause if I remove the map, it doesn't put those commas.

[2018-08-04 03:00] acupajoe commented on #1194
It just needs to have a `.join('')` at the end of the function call

See Example: https://jsbin.com/fuzibuzowa/edit?js,output

Closing as this doesn't pertain to the plugin, hope it helps!

[2018-08-04 03:00] #1194 closed

[2018-08-04 03:07] pabloleban commented on #1194
@acupajoe Thank you! But is this a bug or what?

[2018-08-07 12:51] jbarrieault opened #1195 "Docs for `text` argument may mislead people to write XSS vulnerabilities"
The [docs for the `text` argument](https://sweetalert2.github.io/#configuration) state

That however is innacurate (or misleading at the least) in that the second parameter is treated as HTML (or the `html` object argument key). This is subtle but it may lead to XSS vulnerabilities being created, under the assumption that the second argument syntax behaves the same as the object key syntax. (Ask m

[2018-08-07 16:53] nuvoPoint commented on #1101
We have the same issue, but it will work if you turn off sourcemaps in production - which is not optimal in our setup.

[2018-08-08 17:10] enbermudez opened #1196 "SweetAlert2: Unknown parameter "showConfirmButtom""
Hi! I am integrating SweetAlert2 with Laravel 5.6 (and Vuejs) but even thought it has been working great, i am facing a problem that I simply don't understand. While creating a new notification, SweetAlerts throws the next error on console:

`SweetAlert2: Unknown parameter "showConfirmButtom"`

But this is, as the documentations says: "a key that i can use if I pass an object into sweetAlert2"

No

[2018-08-08 17:46] limonte commented on #1196
showConfirmButtoN

[2018-08-08 17:46] #1196 closed

[2018-08-08 17:47] enbermudez commented on #1196
Thanks a lot, that happens when english is not your native language (?)

[2018-08-08 17:47] enbermudez commented on #1196
Thanks a lot, that happens when english is not your native language (?)

[2018-08-08 20:06] prayzzz opened #1197 "Add getTimerLeft to TS declaration file"
Please add `Swal.getTimerLeft()` to sweetalert.d.ts.
As of version 7.26.10 the method can be used, but `// @ts-ignore` needs to be added to ignore the reported error.

[2018-08-08 21:34] diadal opened #1198 "Chrome Android issue"
Sweetalert2 Not working on Chrome Android

Phone Details
XOS Chameleon V2.3 Infinix

Android 7.0

[2018-08-08 22:14] #1198 closed

[2018-08-09 07:14] hlim18 opened #1199 "Can't create multi-language SweetAlert2 messages"
I thought my issue was focused more on 'how do I do this?' rather than 'this is a broken functionality'. So, I submitted it to StackOverflow: https://stackoverflow.com/questions/51745372/.

But, now I think that this issue might be a broken functionality. That's why I'm reporting this problem as an issue here.

<b>What I would like to know:</b>

*If you think this issue is more focused more on 'ho

[2018-08-09 07:36] limonte commented on #1199
It is, you'll get help on StackOverflow.

[2018-08-09 07:36] #1199 closed

[2018-08-09 14:37] limonte commented on #1197
Fixed in `7.26.11`, thanks for reporting @prayzzz!

[2018-08-09 14:37] #1197 closed

[2018-08-10 03:43] hxgf commented on #432
This css solved the problem for me :)

[code]

[2018-08-10 09:46] nicolasvahidzein opened #1200 "toast adding overlay"
Hello,

i really like your new toast feature, i have a problem with it though.

I'm using your exact example from the docs but yours doesn't add an overlay background, but on mine it does. Is this normal behavior?

							const toast = swal.mixin({
								toast: true,
								position: 'top-end',
								showConfirmButton: false,
								timer: 2000
							});

							toast({
								type: 'succe

[2018-08-10 09:59] limonte commented on #1200
Please update the `sweetalert2` dependency to the latest, this issue should be fixed.

[2018-08-10 10:17] nicolasvahidzein commented on #1200
Ok thank you very much Sir. Doing it now.

[2018-08-13 13:50] Farbed opened #1202 "preConfirm no longer handles rejections from Promise"
It used to be that if you did this example of a promise with validation you would get a nice clean error message, the confirm button would stop showing the loading indicator, and you could fix your error and try again:

[code]

Now, however, it immediately causes the swal to disappear. Trying instead with the showValidationError, it shows the error, but the show loading indicator keeps going. So t

[2018-08-13 14:18] #1202 closed

[2018-08-24 05:58] jlwgeneral opened #1203 "sweetalert.min.js:1 SweetAlert2: Unknown parameter "closeOnConfirm""
laravel-admin   delete operation，in chrome Consele show
“sweetalert.min.js:1 SweetAlert2: Unknown parameter "closeOnConfirm"”

[2018-08-25 00:15] RicMBM commented on #775
where's the Init(params)?
Im trying to build 2 modals, 1 for doing a ajax request but if clicked cancel calls a second modal if clicked on Accept close both modals but if clicked cancel call the first modal for continue

[2018-08-25 06:21] erlinghoff opened #1205 "Adding webkit blur functionality to custom backdrop"
Is there any possibility you kan add Backdrop filter options for the custom backdrops?

https://webkit.org/blog/3632/introducing-backdrop-filters/

This would be great to for instance blur the background while the modal is showing.

[2018-08-25 20:47] limonte commented on #1195
Hello @jbarrieault and sorry it took so long for me to respond here.

The issue is fixed in https://github.com/sweetalert2/sweetalert2.github.io/commit/9d0cac2b1d49ad53a4061862bcaf92f1603c0b6b

Thanks for reporting!

[2018-08-25 20:47] #1195 closed

[2018-08-25 21:18] #1205 closed, assigned to nobody

[2018-08-26 10:40] sacroma opened #1206 "SWAL2 and accessibility (VoiceOver iOS)"
Hi!

When I try to use sweetalert on iPhone (iOS 11, latest) the VoiceOver (assistive tech for blind people), doesn't read the description of sweet alert modals.

Example: swal("title", "desc", "success"):
The VoiceOver reads "Ok button, 'title' modals", but no "desc".

I try the modals on bootstrap docs page and everything works, the example in sweetalert2 homepage doesn't work instead.

If you n

[2018-08-27 10:36] Jackson45252 commented on #424
Now you have it!!
`swal.mixin()`

[2018-08-28 13:23] kheronn opened #1207 "Toast not works in mode production Angular 6 - paramName is not defined"
Hi.

When i run my project in development mode, the toast show normally.
Otherwise, when execute the production, the function not works.

Error message:

This line:
` swal({
          toast: true,
          showConfirmButton: false,
          position: 'top-end',
          type: 'success',
          title: 'Login realizado com sucesso!',
          timer: 3000
        });`

Any idea?😊😊

Thanks so m

[2018-08-29 00:31] lamuzzachiodi opened #1208 "TypeError for number in title"
Working with ajax (jquery) i was looking for a way to show a message of error. Then, when i wanted to show the status returned (for example 404, 500, etc.) i got this:
_**TypeError: e.title.split is not a function**_
(the problem: status is a number, not string)
I know that isn't a big deal, but considering that our old friend alert can do that flawless, why not sweetlert2 too ?
Saludos,

[2018-08-29 09:01] limonte commented on #1207
This looks like the issue of your project's setup.

[2018-08-29 18:30] mattrenaud commented on #1101
For anyone coming here that is still having this issue with source maps, here is my assessment: `typescript` is throwing up while parsing the massive css concatenation at the end of the `sweetalert2.all.js` file. Because if the size of the expression, the process is tipped over the edge of its call stack limits. I noticed some people get this issue and some don't. I believe this is because the amo

[2018-08-31 15:01] mateenQureshi commented on #1207
Hey @limonte,
What could be the problem with project setup? it would be great if you can suggest.
Second, I am using alerts in almost every page of my app. but the problem is only with the toast option and only in production mode.
Feedback Please

[2018-08-31 15:56] limonte commented on #1207
I would really appreciate if you guys can provide a sample code to reproduce - github repo, codesandbox, stackblitz - whatever works better for you. Thanks!

[2018-08-31 16:42] kheronn commented on #1207
Exactly same context here @mateenQureshi

[2018-09-01 11:16] limonte commented on #1208
Closing due to inactivity, reply with jsfidde please.

[2018-09-01 11:16] #1208 closed

[2018-09-03 07:40] kamiljozwik commented on #1207
I have the same problem with GatsbyJS (React) - in development it works fine, in production I get error "Uncaught (in promise) ReferenceError: paramName is not defined
  at ot (sweetalert2.all.js:1055)
    at t._main (sweetalert2.all.js:1751)
    at t.value (sweetalert2.all.js:1100)
    at t.value (sweetalert2.all.js:1167)
    at t.bt (sweetalert2.all.js:2379)
    at t.c (sweetalert2.all.js:1094)

[2018-09-03 17:52] dambusm commented on #1207
Same error here (Angular 6)
component.html:
`<swal #savedToast [options]="{
  type: 'success',
  title: 'All changes saved',
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000
}"></swal>`
component.ts:
`this.savedToast.show();`

Error:
[code]

[2018-09-03 18:01] dambusm commented on #1207
My project configuration:
[code]
As a workaround, if I change "optimization" to false (or build with `ng build --prod --build-optimizer=false`), the issue does not occur.

[2018-09-03 21:12] #1207 closed

[2018-09-03 21:26] limonte commented on #1207
Fixed in the latest, thanks a lot @dambusm for providing an example 🍻

I wonder how are you guys surviving there with those Angulars with a shitload of default dev-deps which are apparently quite buggy, e.g. `uglify-es` which is used for the prod minification.

[2018-09-04 05:49] limonte commented on #1207
This is the second PITA caused by `uglify-es` bugs, here's the previuos one: https://github.com/sweetalert2/sweetalert2/issues/1127

## `uglify-es` is buggy and unmaintained: https://github.com/mishoo/UglifyJS2/issues/3156#issuecomment-392943058

For your prod builds I recommend not to use the default tooling Angular is providing for you.

Instead, take a look on more reliable projects:

- https:/

[2018-09-04 10:58] kheronn commented on #1207
Thanks a lot, @limonte !

[2018-09-04 16:31] lowfiend opened #1210 "preConfirm have a problem with custom method"
How to use preConfirm with the following code:

[code]

[2018-09-05 00:49] masadi opened #1211 "Select2 in Sweet Alert 2"
It is possibile to insert a select2 in a swal2? Thanks

[2018-09-05 08:46] limonte commented on #1211
Sure it is, here's the live demo: https://jsbin.com/povebuzicu/edit?html,css,js,output

[2018-09-05 08:46] #1211 closed

[2018-09-05 11:54] ZeeshanAdilButt commented on #226
These methods can be used in any options provided by sweet alert like:

[code]

[2018-09-05 11:56] ZeeshanAdilButt commented on #226
@limonte

How can I trigger something on any **input** into the sweet alert's text box, is there something like `onInput` or something similar. I need to use `swal.enableConfirmButton()` on input.

[2018-09-05 14:55] limonte opened #1213 "Separate templates for bug reports and feature requests"
![image](https://user-images.githubusercontent.com/6059356/45101625-9c177980-b134-11e8-886b-7f9cd16575ee.png)

Example: https://github.com/semantic-release/semantic-release/tree/caribou/.github/ISSUE_TEMPLATE

Docs: https://help.github.com/articles/manually-creating-a-single-issue-template-for-your-repository/

[2018-09-06 17:33] gverni commented on #933
Hi @limonte i'm still at the beginning of the debugging, but my first try was to set:

 .swal2-container.swal2-center {
    align-items: flex-start; }

which in my understanding of flex should place the container aligned to the top of the block.

Setting that, it works fine with IE11 and Chrome (haven't tried with other browser yet). I've also noticed that chrome behaves correctly regardless of th

[2018-09-06 17:53] limonte commented on #933
Thank you for researching this issue @gverni! PR would be warmly welcome!

[2018-09-06 18:44] limonte commented on #511
`semantic-release` 🤖 is taking care of SweetAlert2 releasing process now 🎉

[2018-09-06 18:44] #511 closed

[2018-09-10 15:10] molerat619 opened #1217 "Long Content in swal not optimized for print"
When I print a long sweet alert with a lot of content (so inside swal you have to scroll) it will only print the first page. I'm not sure if that should be considered a bug.

Example: https://jsbin.com/muwudoxowa/1/edit?html,js,output

I would expect the whole content to be printed out on several pages.

Right now:
![image](https://user-images.githubusercontent.com/3458576/45306248-7adfd000-b51c-1

[2018-09-13 03:45] nicolasvahidzein opened #1218 "Dropdown instead of input"
Hello, is it at all possible to configure a dropdown instead of an input in swal2? Thank you.

[2018-09-13 03:47] nicolasvahidzein commented on #1218
my apologies, i found it at the bottom.

[2018-09-13 03:47] #1218 closed

[2018-09-16 18:11] jimenaleom opened #1219 "On safari modals don't close"
Good day, I'm Using vue.js and when testing on safari modals don't close.
this is my modal
![image](https://user-images.githubusercontent.com/14250072/45599509-54a1b080-b9b2-11e8-8c96-168bc80560f5.png)

and when I clicked cancel, the modal broke the styles and don't close
![image](https://user-images.githubusercontent.com/14250072/45599514-700cbb80-b9b2-11e8-9234-28d72e97ce64.png)

[2018-09-17 22:06] pmccarren commented on #1202
What did you end up changing?

[2018-09-19 12:38] gilbertoalbino opened #1220 "CDN is links are broken"
When I try to run the examples in https://sweetalert2.github.io/#examples page the CDN links are broken and errors are triggered in console.
I accessed some cdn.jsdelivr.net libraries and they are all down too.
Just notifying!

[2018-09-19 13:28] limonte commented on #1220
Thanks for reporting @gilbertoalbino!

Looks like this issue: https://github.com/jsdelivr/jsdelivr/issues/18093

[2018-09-19 13:28] limonte commented on #1219
Closing due to inactivity, reply with jsbin please.

[2018-09-19 13:29] #1219 closed

[2018-09-19 13:34] #1220 closed

[2018-09-20 07:28] limonte opened #1221 "Not fully RTL compatible"
In case SwetAlert2 is used in RTL documents (`<html dir="rtl">`), in some browsers (IE, Edge) scrollbar will be on the left side of browser.

On the other hand, when showing the modal we're not checking where is the scrollbar and assuming it's always on the right side, we're replacing a scrollbar with `padding-right`:  https://github.com/sweetalert2/sweetalert2/blob/master/src/utils/scrollbarFix.j

[2018-09-20 07:33] limonte commented on #1221
I don't know how to detect where is the scrollbar, if someone knows please answer my question on StackOverflow: https://stackoverflow.com/q/52404285/1331425

Any help would be highly appreciated!

[2018-09-20 07:43] limonte commented on #1217
Thanks for reporting @molerat619 and apologies for not responding promptly!

I'll try to figure out how to fix this, but I need to admit that I have the lack of knowledge here.

Any help would be highly appreciated here!

[2018-09-20 07:47] limonte commented on #1203
My PR was merged and the new version of `laravel-admin` was released. Upgrade `laravel-admin` and the issue should be gone.

[2018-09-20 07:47] #1203 closed

[2018-09-20 08:30] molerat619 commented on #1217
Thanks for you response @limonte .

I am also not an expert. I don't know how you made it so the rest of the content is ignored and only your alert is printed, but that's already a start. I would guess you just need to have different css settings for the modal using `@media print` - e.g. different overflow behavior. Just some guesses.

[2018-09-21 11:09] typicalcoda commented on #451
Thanks for this.

[2018-09-22 05:39] nicolasvahidzein opened #1222 "Input swal with password creates chrome alert and triggers password manager"
Hello,

how can i disable the swal when i set the input form to password?

it triggers this warning in chrome:

[DOM] Password field is not contained in a form: (More info: https://goo.gl/9p2vKq)

I usually use autocomplete=false but i do not see where i can attach this on the swal2 module.

Thanks.

[2018-09-22 09:40] limonte commented on #1222
1. https://sweetalert2.github.io/
2. ctrl + f
3. autocomplete

[2018-09-22 09:40] #1222 closed

[2018-09-22 11:27] #1217 closed

[2018-09-22 11:35] limonte commented on #1217
:tada: This issue has been resolved in version 7.27.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.27.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-22 11:41] limonte commented on #1217
Done, proof: https://dandy-closet.glitch.me/

Thanks for reporitng @molerat619!

[2018-09-22 12:28] molerat619 commented on #1217
@limonte awesome, thank you for the quick fix! I will test it for my case next week and let you know.

[2018-09-22 18:40] SantiagoCityFlag opened #1224 "Hi,"
⚠⚠⚠ PLEASE CAREFULLY READ AND FOLLOW THE ISSUE TEMPLATE BELOW ⚠⚠⚠

If your issue is focused more on 'how do I do this?' rather than 'this is a broken functionality', then submit it to StackOverflow https://stackoverflow.com/questions/ask instead of GitHub, and make sure you add the sweetalert2 tag to the question.

---

For bug reports, please include:

- a JS Bin in order for us to be able to rep

[2018-09-22 18:41] SantiagoCityFlag opened #1225 "Hi, thank you for this amazing library."
⚠⚠⚠ PLEASE CAREFULLY READ AND FOLLOW THE ISSUE TEMPLATE BELOW ⚠⚠⚠

If your issue is focused more on 'how do I do this?' rather than 'this is a broken functionality', then submit it to StackOverflow https://stackoverflow.com/questions/ask instead of GitHub, and make sure you add the sweetalert2 tag to the question.

---

For bug reports, please include:

- a JS Bin in order for us to be able to rep

[2018-09-22 18:41] SantiagoCityFlag opened #1226 "Provide ability to go back on a Chaining Modal."
On chained modals there is a very convenient next button.

However I would also like to go back and see previous modals not only cancel my progress.

Thank you!

[2018-09-23 12:09] limonte commented on #1081
UPD, `validationMessage` param was added in `7.28.0`, `extraParams` was deprecated :warning:

Now it's as simple as

[code]

[2018-09-23 16:04] limonte commented on #1226
Going back isn't in the core, but can be achived with `async/await`

Live demo: https://flowery-slime-1.glitch.me/
Source: https://glitch.com/edit/#!/flowery-slime-1

[2018-09-23 16:04] #1226 closed

[2018-09-23 20:54] glaucomorais commented on #1081
Thanks, @limonte .

[2018-09-24 06:27] zenflow opened #1230 "Updates to SASS variable names"
- `$swal2-validationerror-` -> `$swal2-validation-message-` (Revert PR #1229)

[2018-09-24 08:07] molerat619 commented on #1217
Update: It worked fine, thank you @limonte !

[2018-09-24 08:11] limonte commented on #1217
Thank you for your feedback @molerat619!

[2018-09-24 09:44] limonte commented on #1185
Good point. Should we separate them into `scss` folder? I was never fine with `scss` and `js` files mixed in one folder.

I'm opened for the folder name discussion. To be explicit, we can go with `scss`.

[2018-09-25 11:41] sunnyparekh opened #1231 "Microsoft Edge: Cancel button disappears on hover over that button."
![cancelbutton issue](https://user-images.githubusercontent.com/20492631/46012101-b1554780-c0e5-11e8-8911-de33dc3fdc3c.png)

I am using sweet alert2 with angular 6. I am facing issue while using it in Edge browser. When I am hovering the mouse on the Cancel Button and then move the mouse to other button then in some cases the 'Cancel' button gets disappeared and again it becomes visible on hoverin

[2018-09-25 11:56] sunnyparekh commented on #1231
You can use the same JS Bin template link in Edge Browser:- https://jsbin.com/gutesej/edit?html,js,output
Expected behaviour: On hovering on Cancel button and going to other button and repeating this process few times, the Cancel Button should be visible as it is.

Actual Behaviour: By hovering on Cancel button and then going to any other button and repeating this process few times, the Cancel but

[2018-09-25 12:02] limonte commented on #1231
Sorry, but what does this mean? :)

[2018-09-25 12:19] sunnyparekh commented on #1231
I mean to say 'Save' button. Refer to the video attached below. You will get the issue.

[edgeswtalrtissue.zip](https://github.com/sweetalert2/sweetalert2/files/2415149/edgeswtalrtissue.zip)

[2018-09-25 15:21] limonte commented on #1231
thanks for the video @sunnyparekh can you specify the version of Edge you're using?

[2018-09-26 13:44] frodeknutsen commented on #731
Has this reappeared? I'm getting the same warning in 7.28.2

[2018-09-26 14:13] limonte commented on #731
Doesn't look so, please provide the jsfiddle when the excessive warning can be seen.

[2018-09-26 15:45] slevy85 commented on #226
If you want to allow the user to confirm the popup depending on his input youcan use the property `inputValidator`.
[code]

[2018-09-27 05:17] ZeeshanAdilButt commented on #226
@slevy85 Thanks for the update.

however, I found a better solution to achieve this at StackOverflow:

[code]

Thanks to @limonte

[2018-09-27 06:48] sunnyparekh commented on #1231
@limonte The version of edge on which I found the issue is '**42.17134.1.0**', but not sure of other versions. It would be great if it shall work on other versions as well.

[2018-09-27 07:10] limonte commented on #1231
I have the exact same version, and can't reproduce the issue. Could it be related to one of Edge extension you have installed? Could you test the same jsbin in the new InPrivate window?

![image](https://user-images.githubusercontent.com/6059356/46128834-7c5c0880-c23d-11e8-88ab-b1283da876e8.png)

[2018-09-27 23:34] raydawg2000 commented on #751
Hi, I think this issue has sprung up again.  I cannot reproduce this in jsfiddle but I do have a site I can send a link too.  I don't really want to publicly post the site.  Please advise.

To sum up, I am using Bootstrap 4 and have a submit button at the bottom of my form.  When I click on the submit button I scroll to to the top of the page to show any errors.  Once the alert closes though the p

[2018-09-28 07:53] limonte commented on #900
:tada: This issue has been resolved in version 7.28.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.28.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-28 09:16] limonte commented on #751
@raydawg2000 a new patch release (7.28.3) has been published, it will fix your issue:

https://jsfiddle.net/s8f12xad/1/

[code]

[2018-09-28 10:43] limonte opened #1234 "The banner with version and swal.version are incorrect"
![image](https://user-images.githubusercontent.com/6059356/46204011-53fb0980-c324-11e8-96d1-e8ce19915bb4.png)

This is happening because the build script is using `packageJson.version` instead of `nextRelease.version` provided by `semantic-release`

[2018-09-28 14:21] #1234 closed

[2018-09-28 14:30] limonte commented on #1234
:tada: This issue has been resolved in version 7.28.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.28.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-28 17:19] raydawg2000 commented on #751
@limonte  Just want to say thanks for this, it works great!!  Though I would say this solution may not be ideal because the need to scroll can be conditional.  For instance, I don't want to scroll to the top if the user hits the cancel button or closes via some other method but this solution does it.  Now I can add some additional logic to control this scroll inside the `onAfterClose` method but I

[2018-09-28 18:31] raydawg2000 commented on #751
Thanks for the reply, your solution was what I ended up doing.  It's not a big deal but if there is a way down the road to simplify this it would be great.  Either way, thanks for your help!

[2018-09-28 18:49] limonte commented on #751
You're very welcome! Thank you for using SweetAlert2!

If anything related to `onAfterClose()` will change, I'll notify you in this thread.

[2018-09-30 19:29] TheUrban opened #1236 "Raspberry pi - Problem with Midori & Epiphany"
I am trying to open my app in kiosk mode on raspberry pi  browser's (Midori and Epiphany).
`swal({
            title: 'Save?',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'

    }).then(function(result) {

            if (!result.dismiss) {
                saving(email, name);
            } else {
                return false;

[2018-10-01 07:50] TheUrban commented on #1236
Tried (in Midori) with older versions (sweetalert2-6.11.5,sweetalert2-5.3.8) and it is working.

[2018-10-02 12:39] pandelis opened #1237 "Is it possible to change Sweet Alert window location ?"
Hi,

I'd like to change the sweetalert window location, do you know if this is possible, please ?

Best regards

[2018-10-02 12:40] limonte commented on #1237
1. https://sweetalert2.github.io/
2. ctrl + f
3. position

[2018-10-02 12:40] #1237 closed

[2018-10-02 15:02] pandelis commented on #1237
Thank you !
It works but now it moves all my window (not only the Sweet alert one).
Would you have any idea why ?
[Image1](https://postimg.cc/1f4k5tDF)
[Image2](https://postimg.cc/vg3KGFBX)

Best

[2018-10-02 15:05] limonte commented on #1237
Not sure, in order to get proper help please provide a jsbin with the replication of your use-case.

[2018-10-03 09:37] darrena092 opened #1238 "Feature Suggestion: Multiple Content Objects"
The `html` option has now been replaced by `content`, which is a nice improvement, but it might make sense to allow multiple content objects to be specified as an array here.

At present, content must be specified in the following way:
[code]

It would be nice to be able to do this:

[code]
Happy to submit a PR, just wanted to get a feel for what the opinion on this suggestion is before doing anyt

[2018-10-03 09:38] limonte commented on #1238
Wrong repo :) Here's the right one: https://github.com/t4t5/sweetalert

[2018-10-03 09:38] #1238 closed

[2018-10-03 09:46] darrena092 commented on #1238
Oops, thanks!

[2018-10-04 07:12] Tanujasingh commented on #23
Only Close the popup without reloading the page..

swal({
        title: "Logging in!",
        type : "success",
        confirmButtonColor: "#A5DC86",
        timer: 1000
}, function(){
        swal.close();
});

[2018-10-07 12:28] #1213 closed

[2018-10-08 09:09] lvrnls opened #1240 "Modal closing itself automatically because of the "I don't care about cookies" extension"
Hello everyone,

I've come to an issue described below, do you know any way to get around this issue ?

## Current behavior

When I open a sweetalert modal, it confirm itself without me doing anything.
I think it comes from **I don't care about cookies extension** (I've tested on chrome and firefox) which close the modal, I suppose there is something related to cookie usage warning in the code of

[2018-10-08 12:02] Martinnord opened #1241 "Cannot countdown whole seconds"
## Current behavior

I was looking at this example about a self closing sweetalert with a timer, https://codepen.io/anon/pen/XxNPdB. This counts down by `100`, which looks good, but I want it to count down every once second. So I tried change this:
[code]
to this:
[code]
But when doing that it started acting weird, it doesn't show the time at first, then it shows `96x`. By `x` I mean it's a random

[2018-10-08 12:11] ttaylor29 opened #1242 "SweetAlert inputOptions with Promise is re-ordering my input list"
⚠⚠⚠ If your issue is focused more on 'how do I do this?' rather than 'this is a broken functionality', then submit it to StackOverflow https://stackoverflow.com/questions/ask instead of GitHub, and make sure you add the `sweetalert2` tag to the question.

## Current behavior

When I am bring data back that is ordered by First and Last name, then my data is being re-ordered by the UserId instead of

[2018-10-08 12:19] limonte commented on #1240
The issue is on the extension side, you need to ask them to stop breaking the Internet.

[2018-10-08 12:19] #1240 closed

[2018-10-08 12:20] YardGnomeNinja commented on #1240
Thank you SO much for figuring out what was causing this! I've been banging my head against it for a few days now.

[2018-10-08 12:50] limonte commented on #1241
You probably want to achieve this: https://jsfiddle.net/htf3sdw7/

[2018-10-08 12:50] #1241 closed

[2018-10-08 12:55] Martinnord commented on #1241
Ah smart! Thank you mister.

[2018-10-08 12:56] ttaylor29 commented on #1242
Thanks. I was able to update my code and it is working now.

[code]

[2018-10-08 13:05] limonte commented on #1242
Thanks for sharing the code @ttaylor29 !

[2018-10-08 14:12] lvrnls commented on #1240
Haha you are welcome ! I was trying to figure out myself wtf was the issue since friday !
Ok, it seems that the solution to get around this is to contact the plugin creators and I will
Thanks

[2018-10-10 16:57] antoninadert opened #1243 "Add option to show password for password input"
Current best practice is to allow user to check if the password is correct by allowing them to look at it.

It would be nice if we had an accessible toggle button (aria-pressed) that would let us show/hide the password

Please tell me if you need other information

[2018-10-10 18:08] bodrick opened #1244 "Allow toasts to utilize display within target element"
## New feature motivation
It seems that right now toasts can only display in relation to the main document element.  It would be nice if you could specify the parent element for toasts.

I have already tried to specify the target in the configuration and also looked over the source and it seems like that right now there is no more granular control for toasts.

Not sure if this is an issue or more

[2018-10-10 19:30] foxmedo opened #1245 "ajax doesn't send the request using XMLHttpRequest"
Hello,

i have check the feature using the fetch function doesn''t send the request using XMLHttpRequest which will cause some problem with the API which allow only XMLHttpRequest request

can you show us how can we enabled this option if it exist ?

waiting for your feedback

B.R

[2018-10-10 19:33] zenflow commented on #1245
This has nothing to do with SweetAlert2

[2018-10-10 19:33] #1245 closed

[2018-10-10 19:37] foxmedo commented on #1245
are you sure ??

it's all about it sweetalert is sending ajax request to the server side and you are using fetch function this one doesn't send the request using XMLHttpRequest

if you compare the request send by SweetAlert1 and 2 you will see that the SweetAlert2 doesn't send the request using XMLHttpRequest  are you using GET ???

[2018-10-10 19:39] foxmedo commented on #1245
this example using SweetAlert
`HTTP_ACCEPT: "*/*"
HTTP_ACCEPT_ENCODING: "gzip, deflate"
HTTP_ACCEPT_LANGUAGE: "fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7,ar;q=0.6"
HTTP_ALEXATOOLBAR_ALX_NS_PH: "AlexaToolbar/alx-4.0.3"
HTTP_CACHE_CONTROL: "no-cache"
HTTP_CONNECTION: "keep-alive"
HTTP_COOKIE: "user=1-it7KY6IeAmPSdl0b; arp_scroll_position=1096; SE_session=ea7c9bf2df27128a2bbf65a527c84ead3803cbfc"
HTTP_HOST:

[2018-10-10 19:54] zenflow commented on #1245
SweetAlert2 does not make any network calls, using XMLHttpRequest or otherwise.

As the issue template says, we want a reproduction for issues. Ignoring that does **not** earn you the good will of maintainers to help you with your problem free of charge.

Try to make a **minimal** reproduction of your issue and I think you will find that that minimal reproduction doesn't involve SweetAlert2.

[2018-10-11 05:56] limonte commented on #1243
This is a great UX feature, but I believe it should not be added to SweetAlert2. It's a custom input, custom inputs are out of scope of this plugin.

Here's the example with `hideShowPassword`: https://jsfiddle.net/m347aqc9/1/

`hideShowPassword` is accessible and themable. It's quite old though and depends on jQuery. If you a better plugin for password field, please share in this thread.

Thanks

[2018-10-11 05:56] #1243 closed

[2018-10-11 18:29] limonte commented on #1221
Well, it seems that

1. the platform doesn't provide the API for detection of scrollbar position
2. browsers are inconsistent in the scrollbar alignment: https://w3c.github.io/i18n-tests/results/native-user-interfaces#scrollbar
3. Native RTL languages speakers don't really care, asked a couple of advanced users and all of them have English Windows/mac with scrollbar on the right side.

Therefore,

[2018-10-11 18:29] #1221 closed

[2018-10-11 18:40] limonte commented on #1244
Incorrect.

This code will work as expected and place a toast into a custom target:

[code]

Proof:
 - code: https://glitch.com/edit/#!/faithful-innocent
 - live demo: https://faithful-innocent.glitch.me/

[2018-10-12 17:20] limonte opened #1246 "iOS, Safari: document scrolling isn't prevented when a modal is shown"
Actual: It's possible to scroll the document under the modal backdrop

Expected: the scrolling isn't possible, because `overflow-y: hidden` on `<body>`

[2018-10-12 17:33] limonte opened #1247 "iOS: long content (tall modal) is scrolled to the bottom once shown"
The reason for that behavior is that iOS scrolls to the focused element, which is by default the confirm button placed in the bottom of the modal.

[2018-10-12 19:05] #1247 closed

[2018-10-12 19:15] limonte commented on #1247
:tada: This issue has been resolved in version 7.28.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.28.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-12 19:16] limonte commented on #1213
:tada: This issue has been resolved in version 7.28.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.28.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-12 20:16] limonte commented on #1246
https://stackoverflow.com/q/52786341/1331425

[2018-10-12 20:34] roopeshreddy opened #1249 "main entry file is unminified js file"
## Current behavior
In the package.json, the below line
"main": "dist/sweetalert2.all.js",
which is causing the module bundler to pick the unminified version of the file.
## Expected behavior

It should pick the minified vesion of the file. May be -

"main": "dist/sweetalert2.all.min.js",

[2018-10-12 21:07] zenflow commented on #1249
@roopeshreddy why is this a problem? don't you minify after bundling?

You can safely import 'sweetalert2/dist/sweetalert2.all.min.js'

[2018-10-12 22:05] dolphinsd opened #1250 "Getting javascript exception"
it fails here, where globalState.keydownTarget is undefined

var removePopupAndResetState = function removePopupAndResetState() {
if (!isToast()) {
restoreActiveElement();
globalState.keydownTarget.removeEventListener('keydown', globalState.keydownHandler, {
capture: globalState.keydownListenerCapture
});
globalState.keydownHandlerAdded = false;
}

if (container.parentNode) {
  container.parentNod

[2018-10-13 08:07] limonte commented on #1249
@roopeshreddy you can find all answer you need in @zenflow's questions :D

[2018-10-13 08:07] #1249 closed

[2018-10-13 23:51] roopeshreddy commented on #1249
@zenflow @limonte We're using SweetAlert2 in Angular 6 app. When we did the analysis the final AOT build generated it's picking the unminified file from the SweetAlert2 dist file instead of the minified one.

[2018-10-15 15:06] roopeshreddy commented on #1249
I've done more analysis and found that -  Angular Webpack through CLI is not minifying the CSS present in the JS files. May be this is issue with the Angular ngWebpack.

Meawhile, I just want to know, is there any harm to set the min file in the package.json instead of the souce file.

Thanks!

[2018-10-16 10:39] nanderv opened #1251 "Important tag makes sidebar of my application loose it's full page height"
## Current behavior
In our application, the sidebar stretches for the entire height of the page, and doesn't scroll. When an alert spawns, the sidebar suddenly only has the height of the content in the sidebar. This is fixed again after despawning the alert.

Using height: 100% on the body, or later in the tree gets destroyed by the following code in Sweetalert2:
[code]
// Apologies. This is terri

[2018-10-16 10:50] limonte commented on #1251
There's documented param `heightAuto` which could be set to `false`.

![image](https://user-images.githubusercontent.com/6059356/47011353-6c538c80-d14a-11e8-9002-d9ca12e638a5.png)

[2018-10-16 20:06] sreyes87 opened #1252 "disable body scrolling when swal modal active"
Hi, i need to disable the body scroll when the modal is active, can anyone help me? With bootstrap modal is easier, because it adds a class to the body when it's active. In this case the class is added to the modal swal div.

[2018-10-16 20:08] sreyes87 commented on #1252
Hi, i need to disable the body scroll when the modal is active, can anyone help me? With bootstrap modal is easier, because it adds a class to the body when it's active. In this case the class is added to the modal swal div.

[2018-10-17 04:59] limonte commented on #1252
![image](https://user-images.githubusercontent.com/6059356/47063090-690bdf80-d1e2-11e8-952e-c769b4487932.png)

Duplicate of #1246

[2018-10-17 04:59] #1252 closed

[2018-10-18 05:21] limonte opened #1253 "The 'modal scrolled to top on open' is sometimes failing on Safari 12.0.0 (iOS 12.0.0)"
https://travis-ci.org/sweetalert2/sweetalert2/builds/442884302

![image](https://user-images.githubusercontent.com/6059356/47132843-ac338480-d2ae-11e8-97b3-8fcceddd0745.png)

[2018-10-18 07:41] limonte commented on #1246
:tada: This issue has been resolved in version 7.28.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.28.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-18 18:55] #1040 closed

[2018-10-18 19:05] limonte commented on #1040
:tada: This issue has been resolved in version 7.28.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.28.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-19 03:15] Stopi opened #1257 "Addon incompatibility"
When I call swal for the first time, it immediately close.
Then on next calls it works as it should.
Worst thing is if it's a prompt pop-up, then it chooses to validate automatically (not cancel).

How to reproduce ? Simply go to the [main website](https://sweetalert2.github.io) then click on the big blue button "Show success message".

After investigating on several environment, it happens to be

[2018-10-19 03:19] Stopi commented on #1257
More infos :
- I don't have an OSX device to test this.
- I know this addon also exists on Google Chrome but I didn't test it.
- If you disable the addon for one website, then swal works properly on this website.

[2018-10-19 05:16] limonte commented on #1257
Duplicate of https://github.com/sweetalert2/sweetalert2/issues/1240

[2018-10-19 05:16] #1257 closed

[2018-10-19 05:18] limonte commented on #1246
Unfortunately, this didn't fix iOS :(

[2018-10-19 06:30] narender2031 commented on #423
Hy
I am still facing issue in allowEscapeKey Please help me

[2018-10-20 08:35] limonte commented on #933
💰 I will donate $5 - $10 for the PR with the fix for this issue (donation will be done after approval and merge).

[2018-10-20 09:38] gverni commented on #933
Hi @limonte I've been doing some research after my failed PR. As you know, the sweet alert uses a mix of align-items center and margins to make sure that the pop-up is centered (when smaller than the browser window) or aligned to the top (when it's bigger than the browser window). This doesn't work on IE because of the way the margins are handled. I tried "playing" with the margins and set differe

[2018-10-20 10:06] limonte commented on #933
Thanks for your feedback @gverni!

Please do so. JS solution is 243324431324.12% better than no solution :) I'll be happy to review it.

[2018-10-21 08:33] #933 closed

[2018-10-21 08:44] limonte commented on #933
:tada: This issue has been resolved in version 7.28.8 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.28.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-22 21:09] greenkeeper[bot] opened #1260 "An in-range update of pify is breaking the build 🚨"
## The devDependency [pify](https://github.com/sindresorhus/pify) was updated from `4.0.0` to `4.0.1`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Fpify-4.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

pify is a devDependency of this project. It **mig

[2018-10-24 05:13] #1260 closed

[2018-10-24 08:20] limonte opened #1261 ""Esc" key closes fullscreen browser (Opera, Safari)"
## Current behavior

In Opera and Safari, when in full-screen mode, the "Esc" button press will close the modal and exit the full-screen mode

## Expected behavior

The "Esc" button press should close the modal and **not** exit the full-screen mode.

## Proposed fix

Add `e.preventDefault()` to `keydownHandler`.

[2018-10-24 08:21] limonte commented on #1261
The similar issue in Bootstrap: https://github.com/twbs/bootstrap/issues/22362

[2018-10-24 08:43] limonte opened #1262 "Styles for RTL mode aren't applied in case of `style="direction: rtl"`"
## Current behavior

Styles for RTL are hard-coded to apply only in case of `dir="rtl"` attribute: https://github.com/sweetalert2/sweetalert2/blob/master/src/sweetalert2.scss#L837-L843

It's not quite correct, as RTL mode could be enabled by using CSS `direction` property.

## Expected behavior

RTL mode should work for both `<body/div/whatnot dir="rtl">` and `<body/div/whatnot style="direction: r

[2018-10-24 20:06] mikeycrostar opened #1263 "Spell mistake"
Hello guys,

the key "validationMesage" is miss spell on the documentation and the interface, so it's doesn't work, it give me some compilation error (angular 6)
`swal({
      title: 'Inscrivez-vous à la newsletter',
      input: 'email',
      inputPlaceholder: 'Votre email',
      validationMesage: "Ceci n'est pas une adresse e-mail"
  })`

I figure out a way to bypass it, time to you to fix it:

[2018-10-24 20:49] limonte commented on #1263
Fixed in 7.28.9, thanks for reporting @mikeycrostar!

[2018-10-24 20:49] #1263 closed

[2018-10-25 07:09] limonte opened #1265 "Sarafi, in full-screen mode modal doesn't get focus"
## Current behavior

Follow-up from https://github.com/sweetalert2/sweetalert2/pull/1264#issuecomment-432829710

## Expected behavior

In full-screen mode it should work the same, e.g. focus should be trapped in modal when opened.

[2018-10-25 09:10] limonte commented on #1261
:tada: This PR is included in version 7.28.10 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.28.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-25 09:10] #1261 closed

[2018-10-25 09:13] limonte commented on #1265
I can't reproduce this in my High Sierra VM (Safari 11.1.2) which version of Safari you're using @gverni?

[2018-10-25 15:28] Beckhem1998 commented on #432
thanks guys

[2018-10-25 18:06] gverni commented on #1265
Hi @limonte sorry for the delay but i didn't have my macbook today. The issue is actually happening only on the test/sandbox.html page on the development localhost server. I tested it on https://sweetalert2.github.io and it works fine. So maybe we can decrease the severity, at least until i find the root cause.

If you want to reproduce, just execute `npm start` and then put safari in full screen

[2018-10-25 22:18] gverni commented on #1265
I've done more investigation. It looks like the issue only appears when, while in full screen mode, you type the url the address bar and press enter. I checked few variables when the issue happens, and it looks like everything is fine:

[code]

So I believe this has something to do with how Safari is handling the focus in this specific case. I also tried using a simple html page with an input text

[2018-10-26 07:03] limonte commented on #1265
Thank you for the detailed investigation report @gverni! I don't think we should/could fix the native Safari behavior.

Feel free to close this issue with the "wontfix" label.

[2018-10-26 07:31] #1265 closed

[2018-10-26 09:33] sreekanthyuv commented on #577
Can you please post the spec file for this sweet alert 2 @FGAUTREAULT

[2018-10-27 05:09] SanderElias opened #1266 "Generating source-maps in TS build fails because of large sting concatenation"
## Current behavior
My Angular production build fails if I try to create source-maps

I found this problem first in an Angular build and made an [issue for that](https://github.com/angular/angular-cli/issues/12773). The issue includes a [reproduction repo](https://github.com/SanderElias/strangeCompilationIssue)

After some feedback, it turns out that the actual culprit is the CSS string concatenat

[2018-10-29 08:01] #1266 closed

[2018-10-29 08:11] limonte commented on #1266
:tada: This issue has been resolved in version 7.28.11 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.28.11)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-29 08:11] limonte commented on #1101
:tada: This issue has been resolved in version 7.28.11 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.28.11)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-29 16:26] Nsbx opened #1269 "First toast disappear instantly"
## Current behavior
I have created a project with Angular 6 and i use toast on form, but actually if i hit the submit button the first toast disappear instanly.

![2018-10-29_17-04-41](https://user-images.githubusercontent.com/8930930/47664363-2d3c2700-db9f-11e8-87a1-e0fcbc487f66.gif)

To use Swal i have added the script in the import script of angular.json and i import swal like this in my compon

[2018-10-30 10:06] Nsbx commented on #1269
https://codesandbox.io/s/81xo2yj180

I don't know why but it work well in preview but if you use this link :

https://81xo2yj180.codesandbox.io/

The bug is here

[2018-10-30 10:53] limonte commented on #1269
I can not see any issues here: https://81xo2yj180.codesandbox.io/

What are the steps to reproduce the issue?

[2018-10-30 11:37] Nsbx commented on #1269
I only click on save :(

Edit : i just tested on firefox dev and yeah no problem
The problem is present on Chrome 65.0.3325.181 (my company manage the version so i can't update :( )
So sorry about that, if you think you can't fix it you can close the issue.

[2018-10-30 12:04] atomiks commented on #1246
See this lib for implementation, it locks body scroll for a scrolling modal container on iOS etc, cross-browser: https://github.com/willmcpo/body-scroll-lock

[2018-10-30 12:06] jvcunha commented on #546
It makes sense because I have a situation that would need this functionality. For example, I have a loading in ajax and at the end when I give a close, ajax opens another showing an error. At the close of loading, close the 2 at the same time! The user can not see the error message ...

[2018-10-30 12:31] limonte commented on #1246
Not really, https://github.com/willmcpo/body-scroll-lock/issues/39

[2018-10-30 15:36] zenflow commented on #546
Despite you need for this functionality, sweetalert2 supports only one modals at a time, so the question doesn't make sense (you can only close the currently open modal)

[2018-10-31 10:50] Nsbx commented on #1269
Ok i found the problem i'm so stupid ...
After look step by step the execution i haved see a strange behavior
I have the extension "I don't care about cookie" and the extension broke your librarie ...
The only strange thing is if i use your lib with a cdn and not a compiler they work fine.
So i'm aware for the futur

[2018-10-31 10:50] #1269 closed

[2018-10-31 11:08] limonte commented on #1269
This is not you fault.

I'm starting to think that we should make a workaround for that extension. This is already the third issue about it.

Previous two:

 - https://github.com/sweetalert2/sweetalert2/issues/1240
 - https://github.com/sweetalert2/sweetalert2/issues/1257

[2018-11-01 17:30] mk304 opened #1270 "How do I get the SweetAlert-Variable to php?"
Hello everybody, I am very very new to PHP/JavaScript. So this question will be most probably very simple for most of you guys :) (Hopefully).

I have this standard Sweetalert2 Textbox and it looks amazing and opens like a treat. Now... I don't know how I could get the Variable "text" into a PHP- Variable, I need it in PHP, so that I can add it to my Database .... I know that I need to use AJAX (

[2018-11-01 19:53] gverni commented on #1270
Hi @mk304, if i understood correctly what you want to do is to post to a php page the value returned by sweetalert. If this is the case, then you can add your ajax call inside the `if (text)` statement, something like:

if (text) {
  $.ajax({ type: "POST", url: "sweetalerttext.php", data: { 'text': text})
}

Does that answer your question?

[2018-11-01 20:10] mk304 commented on #1270
Hi @gverni, thank you so much for answering me! As you can see I added your lines of code, but they sadly don't run... (the button won't open),
do you know what the problem could be...?
![image](https://user-images.githubusercontent.com/44285391/47876475-b2327500-de19-11e8-99d6-f7e54f9b4693.png)

 I also added a brace since I think one was missing, then the window opens but the chrome console tell

[2018-11-01 20:30] gverni commented on #1269
Hi @limonte i had a quick look to the source code of that extension. The author is using a `querySleectorAll` to search for the classes (among many others) `.swal2-shown .swal2-confirm`. This code is executed every 500ms interval until a popup is detected and closed. Once the popup is closed, a `clearInterval()` is called. That is why only the first popup (and not the subsequent) gets closed by th

[2018-11-01 20:47] gverni commented on #1270
Hi @mk304 do you have the page available anywhere (e.g. codepen or similar) so i can have a look at the full page.

What do you mean exactly with "the window opens"?

The error in console is pointing to an issue with jquery (not loaded properly?), but it would be helpful to have the full page.

[2018-11-01 20:59] mk304 commented on #1270
hey @gverni,
I am running the program on this server:
https://mars.iuk.hdm-stuttgart.de/~mk304/Web_Projekt/webpage/ui/sweetalert/sweetalert_eingabe.php

When I click the button, the SweatAlert Textfield pops up and I can enter a text :) One again, I can't thank you enough for helping me! 👍

[2018-11-01 21:32] gverni commented on #1270
Hi @mk304, as suspected the error is due to the version of jquery you are using. You imported the slim version (which doesn't contain ajax). You can find more info [here](https://jquery.com/download/). You should replace the script tag for jquery with:

[code]

With this one it should work fine.

[2018-11-01 21:48] zenflow commented on #1269
@gverni So the extension author is targetting sweetalert2 modals.. very interesting.

Maybe we could reach out to them and get their thoughts on how sweetalert2 can work with their extension for the use cases that have nothing to do with cookies... Breaking all kinds of other things seems like a high price for not being bothered about cookies.

[2018-11-01 23:38] mk304 commented on #1270
I cannot thank you enough! I Think it worked!! In the Chrome inspector, I can see that AJAX started and that it sent the correct information. My very last question, because I think, that my ajax.php code is wrong...
`<?php
echo $_POST['text'];

?>`
On the server: https://mars.iuk.hdm-stuttgart.de/~mk304/Web_Projekt/webpage/ui/sweetalert/ajax.php

what else do I need to add, to see the text, that I

[2018-11-02 06:10] limonte commented on #1269
![image](https://user-images.githubusercontent.com/6059356/47896566-cb1d4380-de76-11e8-8a7a-158ef0fd4972.png)

[2018-11-02 09:39] gverni commented on #1270
Hi @mk304 glad it worked. Since your question is not related to sweetalert2, I'm going to close this issue and we can follow-up on stackoverflow.

[2018-11-02 09:39] #1270 closed

[2018-11-02 13:09] limonte commented on #1269
Fixed in the latest release (2.9.3) of the "I don't care about cookie" extension 🎉

![image](https://user-images.githubusercontent.com/6059356/47917156-43a0f600-deb1-11e8-80f6-1d46dc3cb4e7.png)

[2018-11-02 13:10] limonte commented on #1240
Fixed in the latest release (2.9.3) of the "I don't care about cookie" extension 🎉

[2018-11-02 13:10] limonte commented on #1257
Fixed in the latest release (2.9.3) of the "I don't care about cookie" extension 🎉

[2018-11-03 16:09] jesusaugusto0x2 commented on #1012
And how would be this implemented? I have a queue swal and have no idea on doing it :( please help!

[2018-11-03 16:13] jesusaugusto0x2 opened #1271 "Need help with multiple input validation."
Is there any way to validate multiple input forms in a queue swal? I'm implementing it on my code. This is a bit of it.

[code]

Have no idea on how doing it. Any help will be really appreciated!

[2018-11-03 17:36] #1271 closed

[2018-11-03 18:12] mhsystem opened #1272 "tel type"
Hello, type tel not work. Basically I can use number, but how can I remove small counter in right side in number type?

[2018-11-03 19:44] gverni commented on #1272
Hi @mhsystem, could you expand on your statement? Using `input:'tel'` basically it's applying `type="tel"` to the modal input. As you can read [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/tel) the input tel

If you open the page from a mobile phone you basically see something like this:

![screenshot_20181103-193525](https://user-images.githubusercontent.com/17089396/4795

[2018-11-04 09:56] limonte opened #1274 "inputAttributes: { placeholder: 'foo' } should work"
## New feature motivation

If would be nice to provide the ability to set input placeholder in `inputAttributes` parameter:

[code]

## Actual behavior

The code above produces the input with empty placeholder.

## Expected behavior

The input placeholder should be `123-456-7890`.

## Solution proposal

https://github.com/sweetalert2/sweetalert2/tree/fix/inputAttributes-placeholder

[2018-11-04 20:01] jesusaugusto0x2 commented on #1271
Hello! Guys I just posted another question :(

https://stackoverflow.com/questions/53144845/sweetalert2-input-validation-with-ajax

Sorry for the inconvenience, but it's for a job I'm doing and must be done tomorrow!

I would really appreciate any help!

[2018-11-04 20:40] limonte commented on #1262
LGTM! Please create a PR so we'll continue with the core review

[2018-11-05 14:36] jalilzade opened #1276 "Unable to get property 'then' of undefined or null reference"
## Current behavior
I am using latest version of SW2. I am Having Problem with Internet Explorer 11. Everything is okay in other browsers.

My cod looks like :
[code]

I am getting **Unable to get property 'then' of undefined or null reference** at

[code]

I tried adding:
`<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7.1.0/dist/promise.min.js"></script>
`

and also this
`<script src

[2018-11-05 14:45] limonte commented on #1276
Please provide the live demo, here's the template: https://fantasy-word.glitch.me/ click "Remix on Glitch" to edit it.

[2018-11-05 15:16] gverni commented on #1210
Hi @lowfiend, if I understood your question, you don't have to do anything in the `.then()`. As a matter of fact you should not even call `swal.close()` there. The way `preConfirm` works is that it keep showing the pop-up until the `preConfirm` function returns `true`.

Here a codepen with your code: https://codepen.io/anon/pen/vQEwPz

[2018-11-05 19:02] scottbitbyter opened #1277 "Can't get the .then promise working with iOS"
## Current behavior
Simple demo page loads well in Chrome and Firefox both on Windows and Android. As soon as I try on iOS (Chrome or Safari) it's a blank page. Swal is being loaded correctly (I think) because if I leave the ".then((result)....." out, then the iOS browsers show the alert properly....as soon as I add that ".then" portion of the demo, it fails to alert.
My problem is I can't debug i

[2018-11-05 19:10] 4dv0c47 opened #1278 "Backdrop Blur"
## New feature motivation

As an alternative to the current fade that appears when the alert is called, it'd be nice to have the option to blur the backdrop.

## New feature description

An effect that blurs the backdrop when the alert is called.

## New feature implementation

This can be done by applying the CSS rule `filter: blur(5px);` to it to a wrapper element.

[2018-11-05 20:22] limonte commented on #1278
Answered in https://github.com/sweetalert2/sweetalert2/issues/1205#issuecomment-415997185

[2018-11-05 20:22] #1278 closed

[2018-11-05 22:12] scottbitbyter commented on #1277
AWESOME! That was the piece I couldn't figure out! Works now, thank you!

[2018-11-06 10:36] jalilzade commented on #1276
I could not reproduce problem again [here](https://glitch.com/edit/#!/join/c189e452-1823-4da0-8443-e3ecde74e55c)  But could not solve problem on my code, maybe it is related to something else.

[2018-11-06 11:02] limonte commented on #1276
Most probably it's related to the way you're bundling/minifying your app.

[2018-11-06 18:48] #1262 closed

[2018-11-06 19:00] limonte commented on #1262
:tada: This issue has been resolved in version 7.28.12 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.28.12)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-06 20:36] limonte opened #1280 "Add @gverni to the list of collaborators"
Recently @gverni was added to collaborators of the `sweetalert2` repo and he already shown his great communication and good coding skills 🥇

I will be more than happy to have him in the list of collaborators in the `README.md`, `package.json` and `bower.json` files.

PS. I just added @gverni to the `sweetalert2` organization, the similar PR is needed for https://github.com/sweetalert2/sweetalert2.

[2018-11-06 20:37] limonte commented on #1280
@gverni would you mind to implement this issue? :)

[2018-11-06 20:42] gverni commented on #1280
It will be my pleasure :-) Thank you so much @limonte for your trust!

[2018-11-07 01:39] richardhsueh opened #1281 "Unable to import from `src/sweetalert2.js`"
I am using version 7.28.12 with react@16.6.0
First I import it like this
[code]

Next i have a function to toggle the alert
[code]

When i run it, there is an error appear in the console
![screenshot 2018-11-07 at 9 32 10 am](https://user-images.githubusercontent.com/33024986/48104937-6a27ae00-e270-11e8-87fb-3e1505a102c5.png)

After that i try to import it like this, then it works fine.
[code]

An

[2018-11-07 03:11] richardhsueh commented on #1281
To be more specific, I am using https://github.com/react-boilerplate/react-boilerplate as the boilerplate.

If you try to use a fresh copy of the boilerplate and install sweetalert2, it will reproduce the error.

[2018-11-07 03:43] zenflow commented on #1281
@limonte It looks like the build setup he's using is using the src and not the dist, which I didn't think anyone would be doing when I added the withNoNewKeyword trick.. I guess I neglected to notice this line: https://github.com/sweetalert2/sweetalert2/blob/dc8f8c68de2fdca68fabc7a7244d478f2177985c/package.json#L8

That trick simply won't work with the uncompiled source; an actual (un-transpiled)

[2018-11-07 04:01] richardhsueh commented on #1281
So for quick fix, can i just change
[code]
to
[code]

so that i can just import it like this `import Swal from 'sweetalert2';` ?

[2018-11-07 08:36] toverux commented on #1281
If you are using Weback, you can also set a resolve override for sweetalert2. Quoting https://webpack.js.org/configuration/resolve/:

--------

[code]

[code]

--------

That way you can set a permanent redirect to `sweetalert2/dist/sweetalert2.all.min.js`.

[2018-11-07 16:50] cheesemarathon opened #1282 "Drop down appear in allert with Materialize CSS"
## Current behavior

A drop down menu appears in alerts when the materialize css framwork is used and drop downs initialised. This occurs even if no input is specified

![image](https://user-images.githubusercontent.com/16329132/48146503-096a9680-e2ad-11e8-9e55-9fac74e1ba9c.png)

## Expected behavior

No dropdown to appear if it is not required as an input
![image](https://user-images.githubuserco

[2018-11-07 19:55] gverni commented on #1282
Hi @cheesemarathon what happens here is the the call to `formSelect()` is  removing the `style="display: none;"` from the input select in swal. I'm not familiar with the materilize framework, so I was wondering what's the purpose of calling the `formSelect()`. Could you clarify?

[2018-11-08 08:29] cheesemarathon commented on #1282
According to the [materialize css documentation](https://materializecss.com/select.html#initialization) it is required to initialize the select element. I'm not sure myself exactly what it does so ill look into that some more. I'll also open an issue with the materialize css creators regarding this.

[2018-11-08 08:42] cheesemarathon commented on #1282
Im very unfamiliar with JavaScript but perhaps [this](https://github.com/Dogfalo/materialize/blob/v1-dev/js/select.js) script is the one causing conflicts. You may be able to understand it a little better than me.

[2018-11-08 08:51] gverni commented on #1282
Hi @cheesemarathon I think this has not much to do with sweetalert specifically. If you look at the example [here](https://jsbin.com/jegawomuqu/1/edit?html,js,output) where there is a simple html page with a `select` tag with `display: none;` you will see that this style is overwritten by the `formSelect()`. This shouldn't happen.

[2018-11-08 09:00] cheesemarathon commented on #1282
Thanks for your help @gverni I see exactly what you mean. I'll continue the conversation with materialize

[2018-11-08 09:50] gverni commented on #1282
Thanks @cheesemarathon. I'll close this issue for now. I subscribed to the issue on materialize and I'll be monitoring it in case there is anything to do on sweetalert.

[2018-11-08 09:50] #1282 closed

[2018-11-08 16:11] #1274 closed

[2018-11-08 16:21] limonte commented on #1274
:tada: This issue has been resolved in version 7.28.13 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.28.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-08 16:21] limonte commented on #1262
:tada: This issue has been resolved in version 7.28.13 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.28.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-08 18:49] limonte commented on #1272
@mhsystem I guess you want to achieve this: https://recondite-dragon.glitch.me/

[2018-11-09 13:06] mk304 opened #1286 "unable to pass multiple inputs"
Hello everybody,

I have a very basic question/issue.

I want to the swal.mixin function. I want my user to upload 2 Images and one text...

Now... I have successfully added Ajax. My problem is, that it will not add the pictures to my database. Does anyone know if I made a mistake in the code?

This is the server I run on : https://mars.iuk.hdm-stuttgart.de/~mk304/Web_Projekt/webpage/ui/sweetalert

[2018-11-10 18:52] mk304 opened #1288 "How to use AJAX for File transfer"
Hello everybody, I really don't know if this is the right place to ask this question so pardon me if its the wrong place...
I am really really desperate about this question.

I have a sweetalert/javascript function and I want my users to upload two images and one text to my database. I only found out how to upload images using basic HTML "file" boxes. But not how to do it with sweetalert.... so th

[2018-11-10 22:50] gverni commented on #1288
Hi @mk304 I saw you raised the same question on stackoverflow. That is the right place for that. The issue you are having now doesn’t have much to do with sweetalert.

[2018-11-10 22:50] #1288 closed

[2018-11-11 14:28] VSKerberos opened #1289 "Cannot read property 'contains' of undefined"
## Current behavior

Hi I have Angular project which version is 5.2.0 I try to use ngsweetalert2 in my project.

I have defined in my module and call the simple page but got an error "Cannot read property 'contains' of undefined" what would be the problem ?

Thanks.
`
@NgModule({
imports: [
DashBoardModule,
routing,
PageNotFoundModule,
SweetAlert2Module.forRoot()

<button [swal]="deleteSwal">Delet

[2018-11-11 15:12] greenkeeper[bot] opened #1290 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `0.67.0` to `0.67.1`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Frollup-0.67.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It

[2018-11-12 08:52] #1290 closed

[2018-11-12 08:55] limonte commented on #1289
Hi, please provide the live demo and specify the browsers/OS

[2018-11-13 20:09] mohamadhs opened #1291 "create custom buttons with url"
## New feature motivation

create custom buttons with url next to the confirm button

## New feature description

How to create custom buttons with custom url that appear next to the Confirm button and Cancel button?

## New feature implementation

[2018-11-13 20:36] gverni commented on #1291
Hi @mohamadhs could you explain more what you mean by “buttons with url”? Do you mean a button that is opening a new url in the browser? If you could provide a detailed use case, that would help me understand better your request

[2018-11-13 20:48] gverni commented on #1291
Hi again @mohamadhs, I saw you raised a question on stackoverflow for the same thing. I’ll support you there, but please provide more info on what you want to achieve on the stackoverflow question

[2018-11-13 21:13] mohamadhs commented on #1291
@gverni here is image that shows better details:
https://imgur.com/a/VfgxNig

[2018-11-14 08:59] limonte commented on #1272
I'm closing this issue due to inactivity, leave a comment if you think it should be reopened.

[2018-11-14 08:59] #1272 closed

[2018-11-14 09:04] limonte commented on #1291
https://petal-interest.glitch.me/

[2018-11-14 09:04] #1291 closed

[2018-11-14 12:00] mohamadhs commented on #1291
@limonte tnx...but I use sweetalert2 in laravel application ..How to set then.function in Laravel controller

this is an example of use sw2 in laravel controller:

SWAL::message('sry','your balance is not enough','error',['html'=> 'you can charge your aacount ' , 'showConfirmButton'=>false]);

[2018-11-14 14:42] #1280 closed

[2018-11-14 14:47] gverni commented on #1210
I'm closing this issue due to inactivity, leave a comment if you think it should be reopened.

[2018-11-14 14:47] #1210 closed

[2018-11-14 14:52] limonte commented on #982
Done: https://sweetalert2.github.io/#mixin

[2018-11-14 14:52] #982 closed

[2018-11-14 15:49] gverni commented on #1206
Hi @sacroma I did some more test on other platforms, and I can confirm that the voice over works fine on Android (tested on Pixel running Android Pie using Chrome as browser). So that may really have something to do with the way IOS "read" the screen. I'll keep investigating.

[2018-11-14 19:23] greenkeeper[bot] opened #1293 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.1.5` to `7.1.6`.
- The `devDependency` [@babel/preset-env](https://www.npmjs.com/package/@babel/preset-env) was updated from `7.1.5` to `7.1.6`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:gr

[2018-11-14 23:46] Xerotherm1c opened #1294 "Cancel button to act like a skip button to next swal dialog in a `.mixin()` queue"
## New feature motivation

I have a 3-question `swal.mixin()` queue, tweaked from the example in the documentation. I've set the `cancelButtonText` value to "Skip" but I haven't been able to find a way to suppress the actual closing of the dialog when the cancel button is pressed. I was playing with an aysnc example that allows you to go backward and forward, but it would be very nice to have a wa

[2018-11-16 09:02] vamsits opened #1295 "Trying to upgrade from sweetalert to sweetalert2"
We have sweetalert in our application and now trying to implement sweetalert 2. Mainly we are going for sweetaler2 to swap the YES and NO buttons. I followed below steps:
[code]
Commented the older sweetalert parameters in the index.html
[code]
And added following in the index.html
[code]
After these changes the new sweetalert2 started working.
But it is not appearing normally. Attached is the scr

[2018-11-16 09:02] vamsits commented on #1295
![image](https://user-images.githubusercontent.com/40022472/48611520-74eaed00-e9ac-11e8-8a41-6e10c660d341.png)

[2018-11-16 09:30] gverni commented on #1295
Hello @vamsits would you be able to share your sweetalert code using http://sweetalert2.glitch.me/? You need to click on `Remix on glitch` then add your `swal` code and then paste here the new url you are given by glitch.

[2018-11-16 09:48] vamsits commented on #1295
Hi,
Please find the code in the below url
https://glitch.com/edit/#!/woozy-spaghetti?path=cool-file.js:14:25

[2018-11-16 09:54] gverni commented on #1295
Hi @vamsits your confirm button is red because you changed the color using:

`confirmButtonColor: '#DD6B55',`

Just remove / comment that line and it will show it in blue. You can see my remix at https://debonair-cephalopod.glitch.me/

[2018-11-16 10:10] vamsits commented on #1295
I need also the size also should appear in the same as earlier sweetalert. Please tell me how to get the same size alerts

[2018-11-16 10:37] gverni commented on #1295
Hi @vamsits are you talking about the size of the popup or the size of the buttons? Sweetalert 2 is responsive so the size is adapting to the size of the screen / window. Could you send us a screenshot of your sweetalert 1.x pop-up compared to the sweetalert 2?

[2018-11-16 10:49] vamsits commented on #1295
Hi I commented confirmButtonColor: '#DD6B55', still I am getting in red color YES instead of blue.
Also attached is the sweetaler1 popu-up
![image](https://user-images.githubusercontent.com/40022472/48616998-3b6dae00-e9bb-11e8-8aea-b1494c29cac7.png)
and given below is the sweetaler2 pop-up
![image](https://user-images.githubusercontent.com/40022472/48617053-58a27c80-e9bb-11e8-8b32-88f1ea3e3283.png

[2018-11-16 11:01] gverni commented on #1295
Hi @vamsits you can change the size of the font using the `confirmButtonClass`, `cancelButtonClass` properties. You can also change the width of the modal using the `width` property.

Regarding the color, please refer to my implementation at https://debonair-cephalopod.glitch.me/. You can clearly see that the button is the right color. You can check the source code of that at https://glitch.com/ed

[2018-11-17 09:27] limonte opened #1298 "inputAttributes: { placeholder: '...' } crashes Edge 17"
## Current behavior

We are crashing Edge with just a bit of JS 😈

![image](https://user-images.githubusercontent.com/6059356/48659543-509a1980-ea5b-11e8-96b0-697c188bdf26.png)

## Live demo

https://fuzzy-secure.glitch.me/

---

Microsoft Edge 42.17134.1.0
Microsoft EdgeHTML 17.17134

^ should be the latest

[2018-11-17 09:31] limonte commented on #1298
@gverni would you mind taking a look at this issue? Most probably, it's related to #1279

[2018-11-18 21:10] limonte commented on #1298
Wow! That's completely unexpected! You probably found the shortest and easiest way to crash Edge :D

Related issue: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8696129/

[2018-11-18 21:42] limonte commented on #1280
:tada: This issue has been resolved in version 7.29.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.29.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-19 07:35] limonte commented on #1298
:tada: This PR is included in version 7.29.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.29.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-19 07:35] #1298 closed

[2018-11-19 15:37] Taeboush opened #1300 "imcompatible with bootstrap"
style of bootstrap@3.3.7 makes the window smaller.
![qq 20181119201154](https://user-images.githubusercontent.com/36111319/48717244-f7e1a100-ec53-11e8-8f9e-8427be96aa92.png)
![qq 20181119201227](https://user-images.githubusercontent.com/36111319/48717282-092aad80-ec54-11e8-83a0-7a00f1c39ac1.png)

[2018-11-19 16:44] limonte commented on #1300
Duplicate of #834

Reason: Bootstrap 3 is setting `font-size: 10px` for `html`.

Solution:

[code]

[2018-11-19 16:44] #1300 closed

[2018-11-19 16:49] Taeboush commented on #1300
thankyou and sorry for not reading the previous issues.

[2018-11-19 20:43] gverni commented on #1206
Hi @limonte I've done some more tests and it looks like that this issue has something to do with the animation. Using `animation: false` makes the voice over on IOS read the entire content of the modal. I'm not sure what to make out of it yet, but I think it's a step forward.

@sacroma as a workaround you can disable the animation in the meantime. Have a try and let me know if you see the same beh

[2018-11-21 06:50] limonte opened #1301 "Get rid of the `event-stream` devDependency"
Reasons:

- it's poorly maintained: https://github.com/dominictarr/event-stream/issues/113#issuecomment-423739893
- ⚠️ it's some kind of injection attack: https://github.com/dominictarr/event-stream/issues/116

We're currently using it in one place, `utils/execute.js`: https://github.com/sweetalert2/sweetalert2/blob/13662349768bfdd98cfb91000e55bf2c3cfc3bb9/utils/execute.js#L2

[2018-11-21 06:56] limonte commented on #1301
@zenflow you're the author of `utils/execute.js`, do you maybe have any thought what `event-stream` could be replaced with?

[2018-11-21 19:02] zenflow commented on #1301
@limonte I'll look into this when I have a few free moments. We will likely need to use a couple different modules to replace `es.split()` and `es.merge()`. `.pipe(es.map(...))` can be replaced with `.on('data', ...)`.

For the time being maybe we can just pin the dependency to the exact version that was used when I introduced the dependency. This might even be a sufficient long-term solution sinc

[2018-11-21 19:51] gverni commented on #1301
Hi @zenflow I'm not familiar with the eventstreams, but let me know if I can be of any help here. If you already have some packages you want me to try, I'd be happy to.

[2018-11-21 20:39] zenflow commented on #1301
@gverni Wow, thank you very much for offering your help here!

I don't know of any particular packages to use unfortunately, but I think there should be lots of options.

You can check [event-stream's documentation](https://github.com/dominictarr/event-stream#eventstream) to see what each of the three functions do, and find a module to replace each. Note that the default for `matcher` in `es.split

[2018-11-21 20:45] zenflow commented on #1301
@gverni Looks like we can probably just use the modules that event-stream itself depends on:

https://github.com/dominictarr/event-stream/blob/9a5c52a712a721cbc76192b5d0940bcc29cbef03/package.json#L10-L17

[2018-11-21 21:51] gverni commented on #1301
@zenflow good point, I didn't think about that. Let me try to workout how `event-stream` uses those dependencies and implement it for our needs. I may be very slow (still learning), so feel free to chime in anytime if we want to get rid of this package quickly.

[2018-11-21 22:02] zenflow commented on #1301
Looks like the only one of the 3 functions event-stream implements itself (not just exporting an external dependency as-is) is `es.merge()`. For that I think the `merge2` package, which we're already using, should work.

[2018-11-21 22:08] zenflow commented on #1301
@gverni I opened PR #1303 to remove any urgency on this issue, so you can relax and take your tiime with this.

[2018-11-21 22:16] gverni commented on #1301
thanks @zenflow. I'll start working on the implementation ASAP!

[2018-11-22 18:41] gverni commented on #1301
Hi @zenflow @limonte I started looking into this issue. As first step I removed the dependency from `event-stream`, added dependencies to `stream`, `split`, `map-stream` and copy paste the implementation of `merge`. I tested it executing karma and i have not seen any strange behavior. Changes are in 224bf72

Now, the `split`, `map-stream` are from the same author of `event-stream` so I'd be inclin

[2018-11-22 20:00] zenflow commented on #1301
@gverni I would open up a PR to get feedback even though it's still a WIP ;)

[2018-11-23 16:53] madmark81 opened #1304 "How to listen to confirm or cancel in R shiny with sweetalert2"
Would you guys be able to help me how to make it work to listen to the confirm of cancel button in sweetalert2? My code that worked for sweetalert 1 doesn't work with the package.

I used to add this to the javascript function
 evalFunction = function(isConfirm){
if (isConfirm === true) {
var val1= 1;
Shiny.onInputChange('option1', [val1, Math.random()]);
}
else  {
var val2= 2;
Shiny.onInputChange

[2018-11-24 10:15] limonte commented on #1304
StackOverflow is the right place for all how-to questions.

[2018-11-24 10:15] #1304 closed

[2018-11-24 10:17] #1295 closed

[2018-11-24 10:18] limonte commented on #1293
false alarm

[2018-11-24 10:18] #1293 closed

[2018-11-25 03:07] nektro opened #1306 "Input type url only allows top level domain names up to 6 characters long"
## Current behavior
- http://foo.localhost/ does not work
- http://bestbuy.blackfriday/ does not work
- http://nic.accountant/ does not work

## Expected behavior
All 3 of those URLs should be accepted. https://en.wikipedia.org/wiki/Domain_Name_System specifies that labels can be up to 63 characters long, not 6, per https://tools.ietf.org/html/rfc1738

## Live demo

https://github.com/sweetalert2/

[2018-11-26 12:59] #1301 closed

[2018-11-26 13:17] #1306 closed

[2018-11-26 17:42] omererbil commented on #477
i had resolved this issue by replacing sweetalert2 cdn
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>

[2018-11-26 19:48] Orbling opened #1308 "Queue progression absent in conjunction with timer close"
## Current behavior

Queued items do not progress when using a timer to close.

## Expected behavior

When the timer setting causes the closure of a modal/toast, then the queue should advance.

Possibly related issue to closing not necessarily producing a dismiss reason.

## Live demo

https://glitch.com/edit/#!/join/e698d1e1-901d-42d6-8db0-78525e7296af

[2018-11-26 20:53] gverni commented on #1308
Hi @Orbling when the timer expires it trigger a dismiss event on the swal. The behavior you are seeing is consistent with what happen in a standard swal queue: if you click cancel button (or click outside the modal) then the modal closes and the queue is interrupted. Does that make sense?

[2018-11-26 21:19] Orbling commented on #1308
@gverni It does make sense indeed, though in many cases you might want a sequence of messages displayed on timers, particularly when used in conjunction with the toast option.  Perhaps timers need an option that corresponds to timeout, that could be generally useful.  I don't think 'cancel' is necessarily always the intended state of a timer expiring - again especially for toaster popups.

[2018-11-26 22:08] gverni commented on #1308
@Orbling what you want to do can be achieved with what's already available without changing the inner behaviour of swal and making it inconsistent.

You can see a running example here: https://evanescent-meteorology.glitch.me/

Let me know if this is what you wanted to achieve.

[2018-11-26 22:44] Orbling commented on #1308
@gverni An interesting approach, I have not come by the `async`/`await` primitives before, I wonder what their browser support is like.  (Had a look, [85.6%](https://caniuse.com/#feat=async-functions) currently overall, only introduced to most major browser 2017 Q1.)

My use case requires a fair bit of adding to an active queue using `insertQueueStep()`, I could adapt the async function you genera

[2018-11-27 10:12] gverni commented on #1308
You can implement the same mechanism using `promises`. These are already used extensively in sweetalert2 so you should not be concerned about coverage.

In the design of sweetalert2 a timeout expire is considered as dismissal because it doesn't return any value and it's not triggered by user intervention. IMHO, changing the swal behavior for the case of `toast` means complicating the internal logi

[2018-11-27 21:56] jdmarinv opened #1309 "Modal won't show up when several buttons have the same ID."
## Current behavior

I have a table I'm printing using PHP and a mySQL database. I have two buttons on each row, edit and delete.
However, there is an issue. The `delete` button will only work in the first row.

[code]

This is the script:
[code]

I would love to be able to have the modal working in _every instance_ of the button called.

[2018-11-27 22:23] gverni commented on #1309
Hi @jdmarinv i'm a bit confused by the piece of code you shared. I don't see any call to swal in there.  If it's a sweetalert2 issue, could you please replicate your use case remixing the glitch you found at https://sweetalert2.glitch.me?

[2018-11-27 22:37] jdmarinv commented on #1309
Updated the code.
I tried to remixing it but it won't work.

[2018-11-27 22:49] jdmarinv commented on #1309
@gverni
https://jsfiddle.net/6qocpsxy/
I made a jsfiddle though.

[2018-11-27 22:54] gverni commented on #1309
Hi @jdmarinv, the issue you are having has nothing to do with sweetalert2, but with the way you subscribe to click event for buttons. If you give the same `id` to all the controls, jquery will only choose the first one. Please consult the jquery documentation on how to subscribe for the same event for multiple elements.

[2018-11-27 23:00] jdmarinv commented on #1309
Thanks @gverni.
Issue fixed.
https://jsfiddle.net/6qocpsxy/4/

[2018-11-27 23:00] #1309 closed

[2018-11-28 00:43] sweetalertquestion opened #1310 "Swal not working in androids themeablebrowser"
Hello im using swal in my android angular typescript app

But when i open the android themeablebrowser inside of my app, then i cant open swal() anymore.

I want to use it like

Browser.executeScript({ code: " swal(..) "}):

//With execute script i can inject javascript //into my browser. But it doesnt open at //all...  but i realy need it

I can use the usual alert() instead of swal() that would

[2018-11-28 00:58] gverni commented on #1310
Hi @sweetalertquestion this doesn’t seem an issue with sweetalert. Can you raise a question on stackoverflow with tag `sweetalert2` (and any other relevant tags) sharing your code and possibly any log?

[2018-11-28 09:05] sweetalertquestion commented on #1310
Its not a problem with my project sadly.

I can use swal inside of any page inside of my app, but when i open the android browser inside my app(themeablebrowser or inappbrowser) then swal does not open anymore, no matter what i tried.

I think there are 2 possibilitys:

1. Swal is not made for those 2 android browsers(themeable/inapp) and maybe there is a way to change it. They dont log or open sw

[2018-11-28 09:14] limonte commented on #1310
This isn't the right place to ask Cordova-related questions. This is the right one: Its not a problem with my project sadly.

[2018-11-28 09:14] #1310 closed

[2018-11-28 09:15] #1308 closed

[2018-11-28 15:21] jdmarinv opened #1311 "Unable to Redirect using Swal"
I have a table that has data and a button. The button will redirect to google.

[code]
The call to swal is the following:
[code]
I have a Fiddle here: https://jsfiddle.net/6qocpsxy/5/

[2018-11-28 18:29] #1311 closed

[2018-12-01 17:31] Un-knownCoder commented on #846
I think the only way to chenge the font in that modal is:
[code]

[2018-12-01 17:32] greenkeeper[bot] opened #1315 "An in-range update of karma is breaking the build 🚨"
## The devDependency [karma](https://github.com/karma-runner/karma) was updated from `3.1.1` to `3.1.2`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Fkarma-3.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

karma is a devDependency of this project. It *

[2018-12-01 17:48] limonte commented on #1315
False alarm

[2018-12-01 19:55] limonte commented on #1315
Fixed by https://github.com/karma-runner/karma/issues/3222

[2018-12-01 19:55] #1315 closed

[2018-12-01 21:38] dolphinsd opened #1317 "javascript error"
To the the error below we use angular.io latest version and route that switch before alert is dismissed.

1. Route 1 execute db, popup appeared, like notification.
2. Switch to different route while popup is still visible, and get error below:
core.js:12501 ERROR TypeError: Cannot read property 'removeEventListener' of undefined
    at removePopupAndResetState (sweetalert2.js:952)
    at Function.

[2018-12-02 09:05] limonte commented on #1317
`globalState.keydownTarget` should be `null` or `undefined`. Could you please provide a live demo so we can reproduce and understand how `globalState.keydownTarget` ended up with falsy value?

[2018-12-03 07:46] vamsits opened #1318 "sweetaler2 is not working when deployed in server but working in local"

[2018-12-03 07:53] vamsits commented on #1318
I am facing an issue with the sweetalert2. It is working in local, buttons are getting swapped successfully. But the changes are not appearing when deployed on the server.
And these are the things I added in bower.json in order for the sweetalert2 to work in server
 "angular-sweetalert-2": "latest",
    "sweetalert2": "^7.1.3",
    "swangular":"^1.4.3"
And this how my bower.json looks
{
  "name":

[2018-12-03 07:58] #1318 closed

[2018-12-03 08:20] vamsits commented on #1318
Dude! May I know why have you closed this, without any comments.

[2018-12-03 10:06] limonte opened #1319 "Should we drop Android 4.4 support in the upcoming major?"
Collaborators, what do you think about dropping Android 4.4 support in the upcoming major release (v8)?

According to https://caniuse.com/usage-table only `0.44%` of users are using it which is insignificant already and I expect that number to decrease during the next year.

For those devs who need to support Android 4.4 the current major will be of course available.

Dropping Android 4.4 support

[2018-12-03 11:20] gverni commented on #1319
Fine with me!

[Off topic]
Coincidentally yesterday I was looking at the `WeakMap` in https://github.com/sweetalert2/sweetalert2/blob/master/src/privateProps.js since now https://github.com/babel/babel/pull/7555 seems to be merged. If we drop support of Android 4.4 we can look at that after.

[2018-12-03 12:03] vamsits commented on #1318
Hi limonte,
This is an important issue to me, please help me to understand why you closed this issue without providing any comments.

[2018-12-04 22:20] dylanmcgowan opened #1320 "TypeError: Cannot read property 'removeEventListener' of undefined when switching routes with toast"
## Current behavior

I'm using a mixin for a global toast alert like this:

[code]

If the toast is active when switching routes this div shows up and does not go away. (an opaque black overlay)
`body > div.swal2-container.swal2-bottom.swal2-fade.swal2-shown`

After the 5000ms timeout, this error gets thrown:
[code]

And undefined comes from the `removePopupAndResetState` function:

[code]

## Exp

[2018-12-05 06:48] limonte commented on #1320
Thank you @dylanmcgowan for the detailed issue report!

I suspect the issue is somewhere here "when switching routes". Is it possible to provide a live demo of the router you're using?

[2018-12-05 06:57] limonte commented on #1317
Closing this in favor of #1320

I'm willing to fix this issue, but the code is needed in order for me to provide a proper fix. Please provide any relevant code or live demo or at least tell which router are you using?

[2018-12-05 06:57] #1317 closed

[2018-12-05 09:28] teodorsandu opened #1321 "sweetalert2 cancelable timer problem"
Hi, I posted the question in https://stackoverflow.com/questions/53622723/sweetalert2-cancel-timer-timeout,
also created a pen:
https://codepen.io/teoui/pen/MzdzWy

Thank you.

[2018-12-05 10:55] gverni commented on #1321
Hi @teodorsandu, sweetalert2 doesn't expose any API to cancel the timer. If you want to implement a cancellable timer, it's simpler if you create one yourself in the `onOpen` function and then handle it the way you'd like. You can use the `swal.clickCancel()` to dismiss the swal, but in this case keep in mind that you will have to create your own dismissal reason check since the `swal.DismissReaso

[2018-12-05 11:07] limonte commented on #1321
Hey @teodorsandu and thanks for the effort you've put into your question and codepen!

Will https://github.com/sweetalert2/sweetalert2/pull/1322 help with your use-case?

[2018-12-05 12:44] teodorsandu commented on #1321
Hi @gverni, I'm not that good as javascript to do this :D - anyway @khrismuc gave me a solution in stackoverflow via [jsfiddle](https://jsfiddle.net/khrismuc/njpL4dsz/) which I explain in a new [codepen](https://codepen.io/teoui/pen/xQNMvL) in the code's comments.

Basically is not setting `timer` altogether and instead calling `swal.close();` by a `setInterval()` function.

Hi @limonte - great li

[2018-12-05 13:06] limonte commented on #1321
:tada: This issue has been resolved in version 7.30.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.30.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-05 13:09] limonte commented on #1321
Live demo of `Swal.stopTimer()`: https://codepen.io/anon/pen/zMVYKz

[2018-12-05 19:24] teodorsandu commented on #1321
This is awesome :heartpulse: !! Thank you @limonte !! :pray:
while I'm at this it crossed my mind that it would be useful the following methods:

.resumeTimer() - resume timer from where it was when .stopTimer() was called
.increaseTimer(x) - increase (postpone) with x ms the time when the modal will close.
.toggleTimer() - toggle between .stopTimer()  and  .resumeTimer() ?

[2018-12-06 06:10] vavo-cake opened #1324 "Add input box with HTML, label does not display"
I used HTML to add multiple input boxes, but the label of the input box is not displayed. Checking the element finds that the label does exist. What is going on? Oh, with bootstrap3

[2018-12-06 07:12] gverni commented on #1324
Hi @vavo-cake can you provide a live example to help us debug your issue? You can remix the glitch at https://sweetalert2.glitch.me

[2018-12-06 09:39] limonte commented on #1324
Hello @vavo-cake! Could you please help me to understand the reporters' behavior and answer why didn't you follow any of the templates available in https://github.com/sweetalert2/sweetalert2/issues/new/choose ?

[2018-12-06 09:41] limonte commented on #1324
Another question, @gverni asked you to provide live demo with glitch and instead of that you just copy-pasted the code. Do you have any difficulties to create a glitch?

[2018-12-06 09:50] limonte commented on #1324
Question to @gverni : I'm a bit tired of reporters who

- want help (our time) for free
- do not want to put their time and effort in making proper questions/feature-requests

They do respect their time and don't respect our time :/ So, should we just close such issues with a default response (GitHub's "Saved Replies" feature)?

What do you think about that? Am I being too strict to reporters or y

[2018-12-06 09:57] vavo-cake commented on #1324
@limonte Sorry, the current project is not deployed to the server, can not provide live demos, I will try to find out the problem myself, thank you

[2018-12-06 10:01] gverni commented on #1324
Hi @vavo-cake, you are using the `html` in the wrong way. You need to pass the html string, that in your case is given by `form[0].innerHTML`. You can have a look to the glitch here: https://sweetalert-issue1324.glitch.me/.

The link I provided earlier (https://sweetalert2.glitch.me) allows to have a live server with your implementation for us to check

[2018-12-06 10:06] gverni commented on #1324
@limonte I agree with you. We had example in the past of users wasting our time. For me is still fine because it helps me learning, but I agree on the long term could not be the best. I personally am not a fan of stackoverflow because it doesn't really allow me to engage in a conversation with the user (or at least is not as effective as github issue for me). Maybe we can find a different tool to

[2018-12-06 10:13] vavo-cake commented on #1324
@gverni @limonte Thank you very much for your suggestion. I just started using github. I am not familiar with many places. I am sorry to have brought you unpleasantness. I wish you all a fortune.

[2018-12-06 10:13] limonte commented on #1324
True that.

There was Gitter back in days, I removed it because I'm personally not a fan of long conversations using human languages, I prefer code :)

Take a look at Gitter, if you like it feel free to revert https://github.com/sweetalert2/sweetalert2/commit/35b89afb71046585b9e1550d57a92c0862e2bba5

I was also thinking about recording a short (1 minute max) video on how to use glitch, it should c

[2018-12-06 10:15] limonte commented on #1324
No worries, it seems that I'm not in the best mood :) We will try to improve the instructions for reporters so it will be easier for beginners to participate.

[2018-12-06 10:22] gverni commented on #1324
Fair enough :-) I've never used gitter, but I'm a fan of slack, since it allows to have also chat among collaborators. But I admit that maintaining a slack community is probably a job on its own. Let me have a look to gitter and get back to you.

That's a great idea.

Yes, I'm normally using [loom](https://www.useloom.com/) for screen recording. Let me work on a video and i'll make a proposal. I c

[2018-12-06 13:58] #1321 closed

[2018-12-06 17:53] #1324 closed

[2018-12-07 01:10] dolphinsd commented on #1320
@limonte feel free to create test account at omnibasis.com - we are using your library and see the issue or route switch sometimes when popup appear after backend operation with success but routes are switched.

[2018-12-07 08:09] limonte commented on #1324
:tada: This issue has been resolved in version 7.31.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v7.31.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-07 08:10] limonte commented on #1324
Hello again @vavo-cake

Just to notify you that with the latest release your original code from the issue description will work 🎉

[2018-12-07 11:40] limonte commented on #1321
@teodorsandu all requested methods were added, here's the live demo: https://shrouded-request.glitch.me/

[2018-12-07 14:21] dylanmcgowan commented on #1320
Heres a video demo of the bug:
https://www.useloom.com/share/91a06d1bc35f4d56884c0d86800b3a55

Unfortunately I copied my configuration verbatim and can't reproduce the bug in a virtual environment.. but here's what that code looks like anyway:
https://codesandbox.io/s/jzqxqpw5lv

Also sorry for the late reply, been a very busy week.  I'm happy to do whatever I can to help solve this!

[2018-12-07 17:54] gverni commented on #1320
Hi @dylanmcgowan is the bug reproduced consistently (i.e. 100% of the time) on your development environment?

Unfortunately I can confirm i cannot see the issue either.

[2018-12-07 22:55] gverni commented on #1320
Hi @dylanmcgowan I think I may have actually recreated your issue. Can you check if when you switch route you remove class `swal2-toast-shown` from the `body`? I tried to manually removed and i have a very similar behavior as the video you sent us (e.g. grey overlay + error in console). I'm not familiar with vue, but i'll give it a try to reproduce what I mean on your codesandbox. If i manage to,

[2018-12-07 23:32] gverni commented on #1320
Here you go: https://codesandbox.io/s/3kqpr9y12q. In this one I'm adding:

`document.querySelector('body').setAttribute('class', '')`

When switching to route `about`. You can see the grey overlay when the about page is rendered, and the error in console when the toast is closed (it took me 5 minutes to figure out that codesandbox doesn't show console errors in its console, and you have to open th

[2018-12-07 23:41] teodorsandu commented on #1321
That is simply perfect. Thank you! :) :pray:

[2018-12-08 12:33] limonte commented on #1320
Closing this as `wontfix`, you guys need to figure out why SweetAlert2's classes (`swal2-toast-shown swal2-shown`) are removed from body when changing routes. There should be some way to prevent router from removing those classes.

[2018-12-09 02:33] jfcherng commented on #1289
@limonte

I just have the same error message on *IE 11* too. The problem I encounter is that in the following function,

https://github.com/sweetalert2/sweetalert2/blob/eac143acbe35555bbe13d09c6f97597d8cf2cc76/src/utils/aria.js#L9-L13

my first `el` in `bodyChildren` is a `SVGSVGElement` object which has no `contains` method. And that causes an exception as shown in the following screenshot from I

[2018-12-09 09:58] limonte commented on #1289
Thanks @jfcherng for the investigation! The fix is coming today 🚀

[2018-12-09 10:50] #1289 closed

[2018-12-10 11:56] limonte opened #1334 "Move badges below the gif"
Bad | Good
-- | --
![image](https://user-images.githubusercontent.com/6059356/49731210-4b5b7380-fc83-11e8-9c00-4cd123f99d3f.png) |  ![image](https://user-images.githubusercontent.com/6059356/49731289-865da700-fc83-11e8-8a99-3d33a727ea33.png)

[2018-12-10 12:11] limonte commented on #1334
Fixed in https://github.com/sweetalert2/sweetalert2/commit/b015f80f1b7c9ea983c2d46b917d576d77bf6f80

![image](https://user-images.githubusercontent.com/6059356/49731907-7d6dd500-fc85-11e8-90e3-3e09ed576e33.png)

[2018-12-10 12:12] #1334 closed

[2018-12-10 17:24] davalapar opened #1335 "when {animation: false, onOpen: () => swal.showLoading()}, confirm button shows for a split-sec"
## Current behavior

OK button shows for a split second.

## Expected behavior

OK button should not for a split second, loader must be what's show instantly.

the flicker gets more noticeable when the users are running on low-tier devices, or in complex apps on mid-tier devices.

## Live demo

@ console of  https://sweetalert2.github.io/ paste and run:

[code]

Could there be an alternative way t

[2018-12-10 17:32] limonte commented on #1335
`onOpen` is fired **after** a modal is open, try to use `onBeforeOpen` instead:

[code]

[2018-12-10 17:51] davalapar commented on #1335
That's fucking gangsta, thanks a lot!

[2018-12-10 17:51] #1335 closed

[2018-12-10 18:07] davalapar commented on #922
This is gonna be lit.

Some two cents I'm an avid user of Material UI and one of the things that stood out for me is their theme styling approach, which is as simple as setting some primary / secondary color values. Code example below:

[code]

at https://material-ui.com/style/color/ they also got color swatches which are fun to play with.

Imho to be able to configure basic colors to element css

[2018-12-10 18:07] bodrick commented on #1244
So I ran some tests and it seems that the parent is correct but the positioning isn't.  I have a div that's half the size of the window and 500px high and a border and would expect the toast to be centered in the div.
Example:
[https://obsidian-yak.glitch.me/](https://obsidian-yak.glitch.me/)
Code : [https://glitch.com/edit/#!/obsidian-yak](https://glitch.com/edit/#!/obsidian-yak)

[2018-12-10 21:51] JuanGuzman1 commented on #688
imageUrl: "images/avatar/user.png"

esta linea si te funciona?
no me jala a mi , solo con la url de la imagen con http

[2018-12-11 14:45] limonte commented on #1281
I'd like to return to this topic with the *security* agenda.

[code]

is insecure AF. Nobody can guarantee that the minified file is the direct result of the source code minification.

Humans are sometimes doing evil (https://github.com/dominictarr/event-stream/issues/116). There are no guarantees that I will not lose my mind and inject some bitcoin-stealing shit into the minified code. Also, ther

[2018-12-11 19:22] Farbed opened #1337 "Text input not clickable when vuejs bootstrap modal is open"
## Current behavior

When you have a `<b-modal>` and then try to use a swal on top of it with an input, the user cannot select the input. Very similar as #374, but this is with vue and therefore you cannot use the solution found in that issue.

## Expected behavior

Input should be accessible. Problem of course is bootstrap takes over the focus.

[2018-12-11 19:30] Farbed commented on #1337
I don't really know how. It's relatively straight forward tho - instead of using bootstrap modal like #374, I'm using Bootstrap vue js: https://bootstrap-vue.js.org/docs/components/modal/. Since it's vue you cannot fix this the same way as you can with the javascript/jquery fix.

[2018-12-11 19:59] Farbed commented on #1337
Sorry, closing this. using the prop `no-enforce-focus` on b-modal does the needful.

[2018-12-11 19:59] #1337 closed

[2018-12-11 23:29] antoninadert opened #1338 "Who the fuck accepted Adverts on the doc page for atlassion? ATLASSION...."
Why just why ? Are you selling the project ? can't wait for spywares to come

[2018-12-11 23:30] antoninadert commented on #1338
If you need money tell us how much to remove it

[2018-12-12 08:44] limonte commented on #1338
What's wrong with Atlassian? IMO it's a very respectful company with talented people.

Ads are helping this project to live and evolve. I think that OSS should be paid and ads are now the most stable way to generate some income. We are using [Carbon Ads](https://www.carbonads.net/) which serves only technical ads for developers and designers. I personally find them quite useful and not annoying at

[2018-12-12 08:44] #1338 closed

[2018-12-12 12:35] greenkeeper[bot] opened #1340 "An in-range update of rollup-plugin-babel is breaking the build 🚨"
## The devDependency [rollup-plugin-babel](https://github.com/rollup/rollup-plugin-babel) was updated from `4.0.3` to `4.1.0`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Frollup-plugin-babel-4.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup-plu

[2018-12-12 15:27] limonte opened #1341 "tools/cherry-pick-release-to-master.js haven't cherry-picked latest commits to master"
Figure out why `tools/cherry-pick-release-to-master.js` stopped working.

Missing commits to cherry-pick manually:

- `chore(release): 7.32.0 [skip ci]`
- `chore(release): 7.32.1 [skip ci]`
- `chore(release): 7.32.2 [skip ci]`

[2018-12-12 22:26] simon1tan opened #1342 "CSS button is too broad and should only affect swal"
## New feature motivation
In sweetalert2.min.css, button, .button{ .... } is too broad thus unnecessarily affecting the look components not related sweetalert. This css should be made to affect only the SweetAlert elements. Perhaps  a class such as .swalbutton would be better.

[2018-12-12 22:33] simon1tan commented on #1342
Nevermind. Not sure where my css came from.

[2018-12-12 22:33] #1342 closed

[2018-12-13 13:51] limonte commented on #1341
Done:

![image](https://user-images.githubusercontent.com/6059356/49942759-ec019b80-feee-11e8-8454-2b838fdbee4f.png)

[2018-12-13 13:51] #1341 closed

[2018-12-13 14:08] limonte commented on #1340
false alarm

[2018-12-13 14:08] #1340 closed

[2018-12-13 17:23] rolasazcorra commented on #1111
I'm using version 7.32.2 and this parameter works but only with the main screen, when I click in cancel or ok and the new alert shows up then the height-auto class appears again.

[2018-12-15 09:49] limonte commented on #1244
Sorry about not answering before guys,

@gverni before adding more complexity to the core we need to understand if it's really needed because this use-case is quite narrow.

@bodrick in order to achieve the relative positioning of the toast, you need two things:

- add `position: relative;` to `.container`
- add `position: absolute` to `Swal.getContainer()`

https://boulder-satin.glitch.me/

Would

[2018-12-15 17:36] KeinWeb opened #1345 "Icon round bug"
My issue is, that the alerts perfectly load with php echo and script `echo '<script>swal({
        title: "Good job!",
        text: "You clicked the button!",
        icon: "success",
        button: "Aww yiss!",
      });</script>';`

But the icon looks like bugy.

http://prntscr.com/lvddjo

[2018-12-15 18:58] limonte commented on #1345
Should be round:

![image](https://user-images.githubusercontent.com/6059356/50046439-fddc6d80-00ab-11e9-809c-40f5678df053.png)

Could you inspect `.swal2-success-ring` and reply to us what's blocking `border-radius`?

[2018-12-15 19:02] KeinWeb commented on #1345
http://prntscr.com/lvebrm look at this the border-radius is missing why it dit it missing?

[2018-12-15 19:03] KeinWeb commented on #1345
What i mean it is still there but an unown argument block this statement with the border-radius

[2018-12-15 19:12] limonte commented on #1345
https://www.youtube.com/watch?v=x4q86IjJFag

[2018-12-15 19:12] KeinWeb commented on #1345
okay i just fix it. Thank you soooo much for you idear with the border-radius. I write behind the icon css classes the tag !important and now it works. closed.

[2018-12-15 19:12] #1345 closed

[2018-12-16 07:38] gverni commented on #1244
Fully agree. My understanding of the `target` prop was that it was used not only for styling (e.g. the `rtl` example) but also for positioning. Obviously I was wrong :-) I think we should then make it clear in the documentation, maybe providing the positioning _workaround_ in your comment as example for those developers that would like to achieve that. What do you think @limonte?

[2018-12-16 09:10] limonte commented on #1244
Totally agree 👍  I was thinking if we need to add `customContainerClass` or not.

Right now the workaround for positioning a popup looks like

[code]

which is quite ugly, setting inline styles in JS shouldn't be encouraged. With `customContainerClass` it will be

[code]

[code]

If you also think that `customContainerClass` is needed, feel free to submit a PR.

[2018-12-16 18:33] gverni commented on #1244
That would indeed avoid the need for the _ugly workaround_. Maybe we should also add a check and warning if the target is not _positioned_, so we can inform developers that are trying to achieve positioning inside the target. Or we make it very clear in the documentation.

I'll submit another PR so you can evaluate. I'll also close the #1339

[2018-12-17 15:08] b0y2k opened #1348 "swal.insertQueueStep(...).then is not a function"
Hi,

I am trying to chain some modals so they do not replace any existing ones currently active.

[code]

This code works fine when not using `swal({...})` but when i add in `swal.insertQueueStep({})` i get the following error.

`swal.insertQueueStep(...).then is not a function`

Can you please advise as to how to handle chaining modals in this way please. I did post the issue on stack overflow da

[2018-12-17 19:20] gverni commented on #1348
Hi @b0y2k could you update the stackoverflow question with a live demo of your non-working code using the instructions [here](https://github.com/sweetalert2/sweetalert2/wiki/How-to-provide-live-example-for-issue)?

[2018-12-18 19:33] gverni commented on #1348
I'm going to close this issue for now. Let me know @b0y2k if you need additional help.

[2018-12-18 19:33] #1348 closed

[2018-12-20 21:33] Rodriguinho1 commented on #458
1 year later and the problem continues.
Read more at problem:
https://github.com/nwjs/nw.js/issues/6906

[2018-12-22 09:19] limonte opened #1349 "Tests are failing in Safari on macOS 10.14"
![image](https://user-images.githubusercontent.com/6059356/50372505-06ff9a00-05d8-11e9-952e-b17346670683.png)

[2018-12-22 19:22] limonte commented on #1244
@bodrick the updated version with `customContainerClass`: https://whip-button.glitch.me/

[2018-12-24 22:43] Xerotherm1c commented on #664
@limonte In addition to the "quick positioning" you've added, you should also accept x and y offset values from the given position. The default `body.swal2-toast-shown .swal2-container.swal2-[position]` would still have:

`top: 0;
right: 0;`

But now you would have the ability to adjust the position to an exact pixel location if necessary for the given project.

Great plugin! Thanks for your time

[2018-12-29 13:03] hagolo commented on #477
Thank you ) its worked for me

[2018-12-29 18:26] greenkeeper[bot] opened #1354 "An in-range update of rollup-plugin-babel is breaking the build 🚨"
## The devDependency [rollup-plugin-babel](https://github.com/rollup/rollup-plugin-babel) was updated from `4.1.0` to `4.2.0`.

🚨 [View failing branch](https://github.com/sweetalert2/sweetalert2/compare/master...sweetalert2:greenkeeper%2Frollup-plugin-babel-4.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup-plu

[2018-12-29 18:31] limonte commented on #1354
false alarm

[2018-12-29 18:31] #1354 closed

[2019-01-03 12:53] limonte opened #1355 "Get rid of Patreon, it's unethical to continue using the service which doesn't care about the freedom of speech"
Patreon is now censoring voices and deciding who should or should not be able to receive donations from their fans based on their own (Patreon's) political views.

Many creators already left patreon.com (approx 20% of all creators) and much more including myself leaving on Jan 15th.

Here's the brief explanation of what happened: https://www.youtube.com/watch?v=2wsQPFyZghc

More details on what wi

[2019-01-06 10:04] abuassar commented on #46
now that sweetalert released version 2.0 , they closed the gap with sweetalert2 by alot!
I think they took hints from this project

https://sweetalert.js.org/guides/#upgrading-from-1x

[2019-01-06 17:21] GerardMetal opened #1357 "Swal not working in android"
(Sorry for my english, i still learning)
## Current behavior
I have a simple Swal function and a Swal confirm function
[code]
But none works, they do not open, they do not do anything.
I've tried embedding the links in the documentation, the links are as follows:
[code]
## Environment (of the bug or issue)
Smartphone: Xiaomi Mi A2 lite (example).
Browsers: Google Chrome and Opera Touch.
System: An

[2019-01-06 18:09] gverni commented on #1357
Hi @GerardMetal did you include the link to the sweetalert code as well? Does the same page work on a desktop computer browser?

[2019-01-06 19:58] zenflow commented on #1357
I can see a syntax error here:

[code]

please test and debug on desktop before opening issues saying it doesn't work on some mobile browser

[2019-01-06 20:56] GerardMetal commented on #1357
Hi @gverni, yes, i did. It working on desktop computer browser (browsers used: Google Chrome, Opera, and Safari).

Hi @zenflow i'm sorry, i edited the code on this page, but the code in the project is correct.

In the desktop computer browser does works perfectly.

[2019-01-06 21:21] gverni commented on #1357
Hi @GerardMetal could you share the full code using glitch (see [here](https://github.com/sweetalert2/sweetalert2/wiki/How-to-provide-live-example-for-issue) on how to use it) so we can try to debug what's going on?

[2019-01-07 13:18] gverni commented on #1357
Hi @GerardMetal I _remixed_ your code for you on:

https://ossified-tarp.glitch.me/

This is what I see on my Android phone using Google Chrome 71.0.xxx:

![screenshot_20190107-131029](https://user-images.githubusercontent.com/17089396/50770261-95357a80-127e-11e9-955f-8be37520383f.png)

So it looks like everything is working....

[2019-01-08 15:33] limonte opened #1361 "Remove extraParams"
`extraParams` was undocumented param, deprecated in #1227

[2019-01-08 16:05] limonte opened #1364 "Remove setDefaults and resetDefaults"
`setDefaults` and `resetDefaults` were deprecated in #1045

Mixins should be used instead.

[2019-01-08 16:13] limonte opened #1366 "Remove showValidationError and resetValidationError"
`showValidationError` and `resetValidationError` were deprecated in #1227

[2019-01-08 16:30] #849 closed

[2019-01-08 16:44] #1366 closed

[2019-01-08 16:44] #1361 closed

[2019-01-08 18:17] zenflow opened #1368 "Drop withNoNewKeyword in coming major release"
The coming major release gives us the opportunity to drop this complexity and source of issue #1281 (so users can import uncompiled code from the `src/` directory again).

This would mean a breaking change as users would need to change their usage from `Swal({...options})` to `new Swal({...options})`, or if nothing is done with the result, and the [eslint no-new rule](https://eslint.org/docs/rules

[2019-01-08 18:20] zenflow commented on #1368
Sorry, I've been really busy with work and personal life, so I wouldn't be able to handle this myself right away.

[2019-01-08 18:56] zenflow commented on #1281
@limonte Sorry, your comment slipped by me.

If we are looking at supporting version 7.x after the release of 8.0, a solution might be to replace all the use of `class` syntax with old-school JS OO patterns (i.e. function MyClass () {}; MyClass.prototype.myFn = function () {}`)

Otherwise, we can simply "Drop withNoNewKeyword in coming major release" (#1368)

[2019-01-08 20:18] limonte commented on #1368
Will do :+1:

[2019-01-08 20:24] #1364 closed

[2019-01-08 20:36] limonte opened #1369 "Remove adaptInputValidator.js"
From https://github.com/sweetalert2/sweetalert2/pull/1362#issuecomment-452402393

https://github.com/sweetalert2/sweetalert2/blob/9382c5a540354ac5df166a56d5f49c2c4684dc97/src/staticMethods/adaptInputValidator.js

[2019-01-08 20:38] limonte commented on #1281
`7.x` is good as it is.

Agree :+1:

[2019-01-08 21:01] gverni commented on #1368
@limonte let me know if i can help with that. It looks beyond my skills... but, as usual, I’m happy to learn!

[2019-01-08 21:06] limonte commented on #1368
@gverni thank you! I will assign you to some tasks for the upcoming major!

[2019-01-08 21:11] limonte commented on #919
good idea 👍

@gverni would you mind handling this one?

[2019-01-08 21:14] limonte commented on #1185
As discussed in https://github.com/sweetalert2/sweetalert2/issues/1281#issuecomment-446227337 we need `src` files because we want to provide the ability to import uncompiled files (e.g. for security reasons).

As for `scss` files, well it would be better to have them separately, but there are no strong reasons to bring another one breaking change.

So, `wontfix`.

[2019-01-08 21:14] #1185 closed

[2019-01-08 21:52] #1230 closed

[2019-01-08 22:39] #1369 closed

[2019-01-09 11:44] itorian commented on #775
You don't need that, here's another way:

var modals = [];

// birth modal
if (!validateBirth(data)) {
  modals.push({title: 'title1', text: 'text1', ... });
}

// email modal
if (!validateEmail(email)) {
  modals.push({title: 'title2', text: 'text2', ... });
}

swal.queue(modals);

[2019-01-09 15:52] zenflow opened #1373 "Sort out instance and static methods"
Right now, for backwards compatibility, all instance methods are also exposed as static methods, via proxy methods defined here:

https://github.com/sweetalert2/sweetalert2/blob/5efb897c3dfece11ffbd105c2fc55298480f4aae/src/SweetAlert.js#L59-L66

We should
- drop this block of code
- change the appropriate static methods to instance methods (e.g. `Swal.getTitle()` -> `swal.getTitle()`). Should make

[2019-01-10 06:40] #1368 closed

[2019-01-10 12:04] limonte opened #1375 "Drop Bower support"
Bower has been deprecated for almost 2 years https://github.com/bower/bower/commit/0bd318de53daf9dc3b52bfd7bc753d4d2c2c9948

I guess it's the right time to stop supporting the legacy package manager. People will still be able to install `7.x` or to install the latest version and to use SweetAlert2 as ES module:

[code]

[2019-01-10 12:10] limonte opened #1376 "Add ES "module" entrypoint"
https://www.pikapkg.com/packages/?q=sweetalert2

![image](https://user-images.githubusercontent.com/6059356/50967622-4b000380-14e1-11e9-91be-09f48d44668b.png)

As I understand correctly it should be enough to add

[code]

to `package.json`

[2019-01-10 12:11] limonte commented on #1376
It was already added here https://github.com/sweetalert2/sweetalert2/pull/380

[2019-01-10 12:48] #1375 closed

[2019-01-10 13:01] gverni commented on #1049
Hi @limonte sorry for the delay with this change (I was researching on this topic), but I was wondering if we should replace the deprecated `jsnext:main` with [`pkg.module`](https://github.com/rollup/rollup/wiki/pkg.module) or get rid of that entirely. What do you think?

[2019-01-10 13:10] limonte commented on #1049
@gverni `:%s/jsnext:main/module/` will close this issue and #1376

[2019-01-10 15:45] #1049 closed

[2019-01-10 15:45] #1376 closed

[2019-01-10 15:55] gverni commented on #1049
Just for the record, at the time of this comment, the issue reported here wasn't reproducible anymore (the output of parcel command did not have any arrows functions in it).

[2019-01-10 18:44] zenflow commented on #1375
@limonte note that script type="module" won't be supported in IE11 (https://caniuse.com/#feat=es6-module)

so another option for those user's using Bower and needing to support IE11: follow Bower's own guide to migrate to Yarn https://bower.io/blog/2017/how-to-migrate-away-from-bower/ .. I would make that the recommended solution for when developers can afford to make the migration

[2019-01-10 21:24] limonte commented on #1375
Agree, will add that to the release notes of the new major, thanks!

[2019-01-10 21:41] limonte commented on #1049
https://github.com/parcel-bundler/parcel/commit/f75941c3cfeb189578e3f2f9579dc9909da1d7c0

[2019-01-11 19:08] voldemortkein commented on #491
@limonte Thanks, now It works as you said, that was fixed on v.6.6.0.
In order to work properly is important not to have tweaked extra css like me.

I have this:
[code]

And works, but not at all, cuz Success animation have this issue.
So, then the solution is remove that in my personal CSS stylesheet.

but I need to specify on every swal of my project, the color desired, like this:
[code]

But wh

[2019-01-12 06:51] circuitmamu opened #1380 "mixin not work as setDefaults work before"
`var MY_Custom = function() {

	var _componentSweetAlert = function() {
        if (typeof swal == 'undefined') {
            console.warn('Warning - sweetalert.min.js is not loaded.');
            return;
        }
        // Defaults
        var setCustomDefaults = function() {
            return const swalWithBootstrapButtons = swal.mixin({
                buttonsStyling: false,

[2019-01-12 08:33] limonte commented on #1380
https://stackoverflow.com/questions/ask

[2019-01-12 08:33] #1380 closed

[2019-01-13 08:33] EfraimLA opened #1381 "Bug showing alert"
![image](https://user-images.githubusercontent.com/46459026/51083167-15266f00-16db-11e9-919f-1bd0ee8e910b.png)

Showing an alert in my login i lost my designs of the page, it shows but i can't see the design, and when i close it returns normally, does not reload and nothing thus but only cannot see them showing the alert

[2019-01-13 08:51] limonte commented on #1381
Welcome to GitHub, @EfraimLA

I will close this issue without the answer because it's impossible to help with the information you've provided.

Please create a new one and follow the **bug report template**.

[2019-01-13 08:51] #1381 closed

[2019-01-14 13:14] MiXT4PE opened #1382 "Chaining modals (queue) button text progression"
## New feature motivation

If there is something _next_ it makes sense to have a next-button. If the modal closes and the information gets processed, it doesn't. That's why I propose the following:

## New feature description

Instead of a single `confirmButtonText` string you can also give an array with as many elements as there are `progressSteps` so every step gets the appropriate button.

## E

[2019-01-14 13:49] limonte commented on #1382
Thank for the feature request, but I personally don't like it too much. Imagine 5 steps queue:

[code]

This code smells, it's hardly maintainable and it violates the DRY principle as `'Next &rarr;', ` is copy-pasted 4 times.

Would this be much better:

[code]

No copy-paste and easy to change/maintain (`progressSteps` could contain 3 or 30 steps, it doesn't matter).

[2019-01-14 13:49] #1382 closed

[2019-01-15 06:32] #1355 closed

[2019-01-16 16:44] MiXT4PE commented on #1382
Oh I didn't know you could do it this way. Thanks!

[2019-01-18 08:51] kshitish45 commented on #477
i had resolved this issue by replacing sweetalert2 cdn
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>

Thank you :) its also worked for me

[2019-01-18 11:05] gverni commented on #477
@hagolo @kshitish45 would you mind providing the full description of your problem with the code on a new issue? Keep in mind that you are using an outdated source for the sweetalert code (see [here](https://github.com/sweetalert2/sweetalert2/releases) for the latest version) and you are not benefitting from the latest bug fixes / improvement.

[2019-01-18 11:19] limonte commented on #477
Also, I recommend using jsdelivr as CDN service:

[code]

[2019-01-18 11:48] limonte commented on #919
Done in #1379

[2019-01-18 11:48] #919 closed

[2019-01-18 11:49] #1357 closed

[2019-01-19 08:26] limonte opened #1384 "Make v8 release notes human-readable"
Currently, release notes for https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0 are auto-generated by `semantic-release` and don't look well for humans.

Since we're still dealing with humans, we need to be friendly to them :)

[2019-01-19 08:32] limonte opened #1385 "Update the "Migration from SweetAlert" wiki page"
https://github.com/sweetalert2/sweetalert2/wiki/Migration-from-SweetAlert-to-SweetAlert2

Update accordingly the changes from the latest major release.

[2019-01-19 09:07] limonte commented on #1385
Done.

[2019-01-19 09:07] #1385 closed

[2019-01-19 10:10] limonte commented on #1376
:tada: This has been shipped in version 8.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-19 10:11] limonte commented on #1376
Pika is now absolutely happy about SweetAlert2: https://www.pikapkg.com/packages/?q=sweetalert2

![image](https://user-images.githubusercontent.com/6059356/51425111-702afb00-1be0-11e9-9fa4-ef4181cea420.png)

[2019-01-19 10:11] limonte commented on #1375
:tada: This has been shipped in version 8.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-19 10:12] limonte commented on #1369
:tada: This has been shipped in version 8.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-19 10:12] limonte commented on #1368
:tada: This has been shipped in version 8.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-19 10:12] limonte commented on #1366
:tada: This has been shipped in version 8.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-19 10:12] limonte commented on #1364
:tada: This has been shipped in version 8.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-19 10:12] limonte commented on #1361
:tada: This has been shipped in version 8.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-19 10:13] limonte commented on #1355
:tada: This has been shipped in version 8.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-19 10:17] limonte commented on #1384
Done, https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0

[2019-01-19 10:17] #1384 closed

[2019-01-19 11:04] limonte commented on #1281
Fixed in [v8.0.0](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0), please read the release notes for the list of breaking changes in the new major release.

Live demo with ES modules: https://jsfiddle.net/bhe7vq9d/

[code]

[2019-01-19 11:04] #1281 closed

[2019-01-19 11:05] limonte commented on #1376
Live demo with ES modules: https://jsfiddle.net/bhe7vq9d/

[code]

[2019-01-19 11:36] limonte commented on #1077
The ability to dynamically change swal type has been shipped in [v8.0.0](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0), please read the release notes for the list of breaking changes in the new major release.

[code]

[2019-01-19 11:36] #1077 closed

[2019-01-19 12:25] zenflow opened #1386 "swal.update() doesn't update swal.params"
Replying to https://github.com/sweetalert2/sweetalert2/pull/1186#issuecomment-455772096 ...

Like I said in the PR:

This does affect the public API:

[code]

Sorry, I don't have time to fill out the template for an bug I pointed out before it was merged

[2019-01-19 14:03] limonte commented on #1373
This looks like a feature request. In future please follow the templates when you reporting/requesting something to be done.

This request is missing the "New feature motivation" section. Please describe the context, the use-case and the advantages of the feature request. **What will it change** for end-users and **why** do they need it?

[2019-01-19 14:17] limonte commented on #1253
Doesn't seem to happen anymore, closing.

[2019-01-19 14:17] #1253 closed

[2019-01-20 22:19] Ayberkone commented on #422
@danidee10 dude u rly saved my life, I spent 45 mins on this.

[2019-01-21 09:40] jlsjonas opened #1387 "constructor broke in last update"
## Current behavior

![image](https://user-images.githubusercontent.com/932193/51465480-4c92bc80-1d68-11e9-9ba3-812aec6284fc.png)
![image](https://user-images.githubusercontent.com/932193/51465542-62a07d00-1d68-11e9-8882-44cf4e386f0c.png)

Latest update prevents sweetalert from popping up

## Expected behavior

sweetalert working

## Live demo

http://jsfiddle.net/qjuaho71/

---

Has SweetAlert2 h

[2019-01-21 09:52] limonte commented on #1387
I guess you are updating to the latest **MAJOR** release https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0

As per [semver](https://semver.org/):

So, when you upgrading to major releases, make sure to read release notes or changelog.

Here's the issue which will help to understand the bigger picture: https://github.com/sweetalert2/sweetalert2/issues/1007 and the related PR which has

[2019-01-21 10:30] limonte commented on #1387
Oh, I see now that you're using jsdelivr CDN.

It's **CRITICALLY IMPORTANT** to specify the major version when using CDN to avoid unexpected errors in production, e.g.

[code]

[2019-01-21 11:42] jlsjonas commented on #1387
I wasn't aware jsdelivr supported semver, thanks for pointing that out & pointing to the relevant issues!

[2019-01-23 09:20] limonte opened #1388 "3M+ downloads, the hottest post on r/webdev, the 8th most popular JS repo on GitHub 🎉 🎉 🎉"
Last weekend the [new major release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.0) of SweetAlert2 was shipped 🎉  and I decided to post about it on r/webdev: https://www.reddit.com/r/webdev/comments/aiobj0/sweetalert2_a_beautiful_responsive_highly/

The post ended up being the hottest in r/webdev and that brought a lot of new eyes on the project:

<img src="https://user-images.git

[2019-01-23 11:07] limonte commented on #1388
One more today's achievement, SweetAlert2 is the WhiteSource’s Open Source Project of the Month: https://resources.whitesourcesoftware.com/blog-whitesource/sweetalert2-open-source-project-of-the-month-january-2019 🎉

[2019-01-23 11:57] gverni commented on #1388
Congratulations @limonte! This is a testimony to your skills, dedication and hard work on this project. I feel really privileged to have been accepted as collaborator of this amazing project and to have the opportunity to work with you, @zenflow and all the other collaborators. Looking forward to more successes in the future...

p.s. Turbo Pascal.... good old days of getting excited for being able

[2019-01-23 14:38] toverux commented on #1388
This is quite impressive. Seems like sweetalert answers a real use case :smile: And people like it!
Congrats to the team! And thanks to @gverni and @zenflow, I admire your commitment!

[2019-01-23 14:38] #1388 closed

[2019-01-24 02:55] produktive opened #1389 "Google Maps disappears behind modal"
When I display a Swal over my Google Maps app the map disappears behind it. It reappears when the modal is closed. Shouldn't the map still be visible in the background? Pics attached. I've tried changing the target to the maps container but the result was the same.
![screen shot 2019-01-23 at 9 43 12 pm](https://user-images.githubusercontent.com/21110476/51651359-90004d00-1f59-11e9-922c-0ccfc51e06

[2019-01-24 11:22] limonte commented on #1389
Hi @produktive

Give a try for `heightAuto: false`.

If that doesn't work, please create a new issue and follow the **bug report template**.

[2019-01-24 11:22] #1389 closed

[2019-01-24 11:46] produktive commented on #1389
Excellent, thank you for the tip.

[2019-01-25 17:48] zenflow commented on #1388
Congratulations everyone! We can be truly proud of our accomplishments!

[2019-01-25 20:22] obrassard opened #1390 "Swal 8.x.x doesn't show correctly (styles are missing)"
## Current behavior
Hi !  We're trying to fire a swal in an angular app.
I've just downloaded the latest version of sweetalert2 (8.0.1) from npm and imported it in my angular componenent (angular 6 with typescript). Then i tried to fire the swal in `ngOnInit()` with a code snippet taken from sweetalert2 website, however, the swal doesnt popup, swal's html elements are rather added to the DOM, with

[2019-01-25 20:30] obrassard commented on #1390
Hello @limonte !
The thing is that we're  not using ngx-sweetalert2, only sweetalert2 :)

[2019-01-26 08:42] limonte commented on #1390
Oops, I misread your issue-report, apologies!

Is is possible to provide a live demo of this issue? (e.g. using https://stackblitz.com/)

[2019-01-26 15:20] obrassard commented on #1390
Hello, I tried to reproduce the issue on stackblitz this morning, but the sweetalert shows up as expected.. It's strange taught because, when I download the exact same project from stackblitz and run it locally on my computer, the problem persist...

Yesterday, I tried in 2 different angular project on windows, and today in a fresh new angular project on my macbook and the problem is always presen

[2019-01-27 11:34] limonte commented on #1390
Thanks for the live demo @obrassard

Yup, facing it locally too.

This helped:

[code]

Which leads me to conclusion that angular bundling process is for some reason taking the [module field from package.json](https://github.com/sweetalert2/sweetalert2/blob/master/package.json#L8) instead of [main field](https://github.com/sweetalert2/sweetalert2/blob/master/package.json#L7).

We made changes in p

[2019-01-27 11:38] gverni commented on #1390
oops @limonte our comments crossed 😄

[2019-01-27 11:53] limonte commented on #1390
I just upgraded all alngualr dev-deps to latest and the issue is still there.

This is the problem, please report it to the according Angular repository.

As a workaround you can either

[code]

Or import styles separately:

[code]

[2019-01-27 12:54] limonte commented on #1390
https://github.com/sweetalert2/sweetalert2-webpack-demo has the same issue, reopening.

Looks like the a webpack issue/feature.

[2019-01-27 13:03] limonte commented on #1390
It's a feature :/ https://github.com/webpack/webpack/issues/6796

[2019-01-27 13:06] limonte commented on #1390
Here's how I solved it for `sweetalert2-webpack-demo`:

`webpack.config.babel.js`:

[code]

[2019-01-27 19:07] gverni commented on #1390
How did you figure this out @limonte??? You need to tell me your secret 😃

BTW, for the record, I tried setting manually `mainFields` in `./node_modules/@angular-devkit/build-angular/src/angular-cli-files/models/webpack-configs/browser.js` as:

[code]
And the project shared by @obrassard works locally as well. I'm not sure this is the best to configure `build-angular` (and that's one of the main r

[2019-01-28 14:54] codebycliff commented on #1390
I'm experiencing this issue as well with just a basic Webpack setup. Specifying the `mainFields` fixes the issue for me. Is that the desired work-around for now?

[2019-01-28 15:33] limonte commented on #1390
Good question. It's ugly and I don't like it to be honest. It's unexpected that webpack prefers `module` over `main`.

Does anyone maybe have any idea how to make ES module (`src/sweetalert2.js`) automatically include styles in case of webpack processing?

[2019-01-28 16:04] afisher88 opened #1391 "IE11 syntax error due to destructuring"
## Current behavior
Using version 8.0.1 in IE11 I get a syntax error in the SweetAlert constructor due to destructuring. This causes my app not to load.

![swal-error2](https://user-images.githubusercontent.com/5710575/51848796-2b0c7480-2316-11e9-9119-965e05d4929f.JPG)

![swal-error1](https://user-images.githubusercontent.com/5710575/51848800-2cd63800-2316-11e9-9a54-cc5074c0e738.JPG)

## Expected

[2019-01-28 16:44] gverni commented on #1391
Hi @afisher88 your problem should be the same discussed in #1390. Currently the workaround is to add the following in webpack.config.js:

[code]

I tested on your sandbox and it works. Don't forget to add the polyfill for promises

[2019-01-28 17:58] limonte commented on #1390
I am going to remove the `module` field from `package.json`, so the webpack workaround suggested above won't be needed: https://github.com/sweetalert2/sweetalert2/pull/1392

[2019-01-28 17:59] limonte commented on #1391
I am going to remove the module field from `package.json`, so the webpack workaround suggested above won't be needed: #1392

[2019-01-28 18:00] #1390 closed

[2019-01-28 18:00] #1391 closed

[2019-01-28 18:05] limonte commented on #1390
:tada: This issue has been resolved in version 8.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-28 18:05] limonte commented on #1391
:tada: This issue has been resolved in version 8.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-28 18:36] limonte commented on #1391
Thank you for reporting @afisher88
Thank you for investigating @gverni

The issue should be fixed in the latest release (8.0.2), please check it out.

Apologies about this inconvenience!

[2019-01-28 18:36] limonte commented on #1390
Thanks everybody for reporting and investigating

The issue should be fixed in the latest release (8.0.2), no webpack workarounds needed.

Apologies about this inconvenience!

[2019-01-29 01:49] alexdulin opened #1393 "bug: Swal.showLoading() error when no modal is currently active"
## Current behavior

If you call `Swal.showLoading()`, and no modal/toast is currently active, an exception is thrown.

## Expected behavior

A new modal would be opened with a loading indicator, as it did prior to v8.0.0

## Live demo

1. Go to https://sweetalert2.github.io
2. Open developer tools
3. In the console, run `Swal.showLoading()` (with no modal currently active)

You should see somethi

[2019-01-29 07:11] #1393 closed

[2019-01-29 08:22] limonte commented on #1393
:tada: This issue has been resolved in version 8.0.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-29 08:53] afisher88 commented on #1391
No problem, thanks for fixing so quickly!

[2019-01-29 22:34] carlHandy commented on #185
@limonte the solution you provided does not work.

`.done()` is not a function. Is there another way to resolve this?

[2019-01-30 21:45] DanielRuf opened #1398 "Failing CI"
It seems there is an issue with SauceLabs https://travis-ci.org/sweetalert2/sweetalert2/builds/486556865

[2019-01-31 08:41] limonte commented on #1398
This was temporary SauceLabs issue, restarted build and it's passing now https://travis-ci.org/sweetalert2/sweetalert2/builds/486556865

[2019-01-31 08:41] #1398 closed

[2019-02-02 08:25] limonte opened #1400 "Swal.version is missing in `src/sweetalert2.js`"
## Current behavior

Currently Swal.version is only available in dist files, relacted code:

https://github.com/sweetalert2/sweetalert2/blob/master/gulpfile.js#L57

## Expected behavior

Swal.version is available from `src/*` files as well.

## Live demo

https://sweetalert2.github.io/sweetalert2-webpack-demo/

![image](https://user-images.githubusercontent.com/6059356/52161907-d3cf2100-26d4-11e9-

[2019-02-02 09:30] #1400 closed

[2019-02-02 09:36] limonte commented on #1400
:tada: This issue has been resolved in version 8.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-04 22:16] zenflow commented on #1386
@limonte Hmm.. I must disagree. That is the documented API. The public API is everything that is exposed to the public.

Documentation isn't the only way people figure out the the API; they also play around with it in the browser console, so it's very possible that projects in the wild are using `swal.params`.

[2019-02-05 10:09] anish-techpro commented on #1168
is this issue fixed??

[2019-02-05 10:13] Herz3h commented on #247
This is an old issue, but I have the same problem. I have a swal with custom html, and inputValidator is indeed not called.

So where is validation supposed to happen in this case ??

Thanks

[2019-02-05 10:14] gverni commented on #1168
Hi @anish-techpro we haven't had a feed-back from @Snickbrack as to how to reproduce it. If you have the same issue, can you share with us the code? You may want to follow [these instructions](https://github.com/sweetalert2/sweetalert2/wiki/How-to-provide-live-example-for-issue) to provide us the code sample.

[2019-02-05 10:15] gverni commented on #247
Hi @Herz3h can you provide a sample of your code using [these instructions](https://github.com/sweetalert2/sweetalert2/wiki/How-to-provide-live-example-for-issue) so we can debug it?

[2019-02-05 10:20] Herz3h commented on #247
I don't think it's a bug per say. As I'm not specifying input option to swal2, and according to what's being said above, inputValidator is not called in that case.

Anyway I have ended up adding my validation to preConfirm() like so :
[code]
Not sure if this is the way to go, but it seems to not execute the last then block. (This was the case, until I added `swal.showValidationError()`)

[2019-02-05 11:06] gverni commented on #247
Hi @Herz3h i'm a bit confused. I tried your code [here](https://glitter-peony.glitch.me/) and it works for me both with and without `showValidationError()`. Note that I removed the `onOpen` implementation to decrease the complexity of the sample.

Can you explain better what's the expected behavior and what doesn't work for you?

[2019-02-05 12:44] gverni opened #1402 "Swal returns boolean if preConfirm return value is 0"
## Current behavior

While debugging #247 i've noticed that if the return value in `preConfirm` is 0, it gets _converted_ to `true`. You can have a look to https://lopsided-teller.glitch.me/. In the console you can see:

[code]
## Expected behavior

The value should be `0`. The console should show

[code]
## Live demo

 https://lopsided-teller.glitch.me/

## Analysis

This behaviour  is caused by

[2019-02-05 12:48] Herz3h commented on #247
Uh the original issue is that if I remove the preConfirm above and replace with say:

[code]

The inputValidator is not called. I think it'd be good that this function gets called so the user can validate custom html aswell instead of having to use preConfirm.

As for the second problem I had while trying to fix the first one. It's that I didn't use showValidationError(). So even though the user i

[2019-02-05 12:58] gverni commented on #247
As explained originally, the `inputValidator` is only used when the input is defined through the `input` property of swal. And it couldn't be otherwise: if the input to the swal is defined through `html`, then swal doesn't know which of the element(s) is to be considered an input.

The only (and the correct) way to stop the swal promise to resolve (i.e. to execute the `then` block), is to use the

[2019-02-05 14:42] Herz3h commented on #247
Yup thank you !

[2019-02-05 20:35] #1402 closed

[2019-02-05 20:41] limonte commented on #1402
:tada: This issue has been resolved in version 8.0.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sweetalert2)
- [GitHub release](https://github.com/sweetalert2/sweetalert2/releases/tag/v8.0.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-05 20:45] gverni commented on #1168
@anish-techpro I had another look at this issue. The code reported by @Snickbrack in his report is actually part of the `undoScrollbar` function which is executed when the modal closes. This is the counterpart of `fixScrollbar` which is executed before the modal is shown, and his job is to put the padding back in the page. So the statement:

doesn't really stand. I cannot think of a use case where

[2019-02-05 21:51] limonte commented on #1386
This is a very good topic to discuss. What you're saying @zenflow makes sense but brings some complications. Now, we are dealing with two different things:

1. documented API
2. public API

Why would we have undocumented public API? Does "undocumented public API" makes sense at all?

[2019-02-06 20:25] snsarma opened #1404 "Sweetalert2: Required Input field is not working"
## Current behavior

The sweet alert 2 pops up a form with 2 fields with labels ID and Notes As mentioned in the attribute one of them is required as per input tags so ID is a mandatory field and only after entering the value in the ID field should it display the success pop-up but that isn't happening even after mentioning required in the input tag. The current behavior is irrespective of whether

[2019-02-06 21:43] gverni commented on #1404
Hi @snsarma Sweetalert2 does not attribute any special meaning to  the `required`attribute of the `input`. If you want to validate your input you should use the `preConfirm` property of SweetAlert2. You can have a look to the [example here](https://sweetalert2.github.io/#ajax-request).

In your case in the `preConfirm` function you need to check  that the required field(s) are correctly filled. If

[2019-02-07 02:39] lnneth opened #1405 "More SCSS variables!"
## New feature motivation

More customization for more better theme-ing!

## New feature implementation
SCSS variables for ..
input text background color
progress-steps background color (both active and inactive)

[2019-02-07 09:20] rsryanstephen opened #1406 "Dropdown wrongly appears in alert when there are jQuery calls present in surrounding code"
## Current behavior
[code]

produces:

![image](https://user-images.githubusercontent.com/30828027/52401268-f2189080-2ac9-11e9-9874-75322657c90f.png)

## Expected behavior
No dropdown apeearing

## Live demo

---

Has SweetAlert2 helped you create an amazing application? You can show your support by making a donation:
- https://www.paypal.me/limonte

[2019-02-07 09:41] limonte commented on #1406
This issue is poorly reported, therefore I'm closing it. If you want help (our effort), make sure you put enough of your effort in reporting an issue.

Report another one, follow the issue template and add live demo as described in the issue template.

[2019-02-07 09:41] #1406 closed

[2019-02-07 09:43] #1404 closed

[2019-02-07 09:44] limonte commented on #1405
@gverni would you mind handling this one?

[2019-02-07 14:32] Herz3h opened #1407 "[Dynamic Queues] close() doesn't show next step"
## Current behavior

I'm on version 7.18 (can't really update to 8 with the all the breaking changes)
Using swal.close() with a dynamic queue doesn't bring next step.

## Expected behavior

Upon clicking next button, the next step should show up. Instead I have to call clickConfirm().

## Working example

https://jsfiddle.net/oyx9afwt/1/

Thanks.